[2017-04-28 18:13] hroest commented on #2562
see http://commandlinefanatic.com/cgi-bin/showarticle.cgi?article=art026 for more information on header include order

[2017-04-28 18:14] hroest commented on #2562
@jpfeuffer on Linux this setup works pretty well and without issue as long as the contrib search path is first. I have this on my system and no issue at the moment, I can easily have contrib boost and system boost installed at the same time and tell Cmake which one to choose.

[2017-04-28 18:19] hroest commented on #2549
@jpfeuffer is this resolved now? can we close this?

[2017-04-28 18:19] #2546 closed

[2017-04-28 18:24] hroest commented on #2452
@timosachsenberg can you reproduce this? can we close this?

[2017-04-28 18:29] hroest commented on #2384
fixed through #2567

[2017-04-28 18:29] #2384 closed

[2017-04-28 18:30] hroest commented on #2390
so should we add this flag through CMake?

[2017-04-28 18:31] hroest commented on #2366
@timosachsenberg @mwalzer is this fixed?

[2017-04-28 18:34] jpfeuffer commented on #2549
No not yet. I would like to have a general solution in the build system. Did not get to it yet.

[2017-04-28 18:36] hroest commented on #2293
many files converted by pwiz contain a TIC chromatogram, we should handle that transparently

[2017-04-28 18:36] hroest commented on #2288
@grosenberger can you look into the Qt error?

[2017-04-28 18:38] #2232 closed

[2017-04-28 18:41] jpfeuffer commented on #2558
Yes sure, I can investigate. I also think it comes from QT. Maybe I find something on the flight tomorrow.

[2017-04-28 18:41] hroest commented on #2165
@jpfeuffer close this?

[2017-04-28 18:43] hroest commented on #2135
@jpfeuffer can we close this?

[2017-04-28 18:43] hroest commented on #2115
well that is why its called "ByDiffMonoMass" - it works just as it should!

[2017-04-28 18:43] #2115 closed

[2017-04-28 18:44] hroest commented on #2098
@timosachsenberg is this still an issue?

[2017-04-28 18:45] hroest commented on #2110
is this addressed by  #1970 ?

[2017-04-28 18:47] #2043 closed

[2017-04-28 18:48] hroest commented on #2015
@enetz is this still an issue?

[2017-04-28 18:48] hroest commented on #2011
@lars20070 can we close this?

[2017-04-28 18:49] hroest commented on #2001
any progress on this issue?

[2017-04-28 18:54] hroest commented on #1372
``
$ grep -R "\=\=.*\"true" src/ | wc
    110     967   16297
[code]

[2017-04-28 18:55] hroest commented on #1052
I dont think that is necessary any more

[2017-04-28 18:55] #1052 closed

[2017-04-28 18:56] hroest commented on #1028
closed as invalid / not reproducible

[2017-04-28 18:56] #1028 closed

[2017-04-28 19:05] hroest commented on #1922
@timosachsenberg any progress on this issue?

[2017-04-28 19:06] hroest commented on #1734
we disabled OSX tests on travis

[2017-04-28 19:06] #1734 closed

[2017-04-28 19:07] hroest commented on #1624
@hendrikweisser is this resolved now?

[2017-04-28 19:16] #641 closed

[2017-04-28 19:17] hroest commented on #954
@cbielow can we close this?

[2017-04-28 19:18] hroest commented on #1368
close with reference to newer issue  #2549

[2017-04-28 19:18] #1368 closed

[2017-04-28 19:25] #2098 closed

[2017-04-28 19:25] timosachsenberg commented on #2098
addressed with Hendriks rework of XTandemAdapter

[2017-04-28 19:27] hroest commented on #403
FeatureFinderRaw is not used any more

[2017-04-28 19:27] #403 closed

[2017-04-28 19:29] timosachsenberg commented on #2110
Only partially.
Other types of ambiguities are several possible modifications if only a modification mass is given.

[2017-04-28 19:30] hroest commented on #528
at the moment templated std::vector return is not supported to my knowledge

[2017-04-28 19:30] #528 closed

[2017-04-28 19:31] hroest commented on #636
@timosachsenberg @jpfeuffer can we do a coverty run at some point again?

[2017-04-28 19:31] timosachsenberg commented on #1922
I think @hendrikweisser also took a look at this recently and this is still an open issue.

[2017-04-28 19:32] timosachsenberg commented on #636
I think we can do so for a release candidate. Let's keep this in mind.

[2017-04-28 19:42] hroest commented on #2110
yes, in this case we should try and use the information which modifications were actually searched. sounds like a nice idea for an enhancements -- but how often is it a problem in practice? I have seen a few cases so far and mostly it seems to work.

Also, then we have to hope the information is correct...

[2017-04-28 20:42] BioComSoftware commented on #954
YA. I think so. Thx :)

--

*Michael Rightmire*

B.Sci. Molecular Biotechnology

MCSE,MCP+I,HPUXCA,CompTIA,VDE, SIAM,ISCB

Skype:RightmireM

+49-721-1320-2562 (DE)

+1-408-890-2121 (USA)

Biocom Biotechnology and Software
BiocomSoftware.Com <Http://biocomsoftware.com>

BiocomSoftware.De <http://Biocomsoftware.de>
//

The contents of this email message and any attachments are intended
solely for th

[2017-04-28 20:48] #954 closed

[2017-04-28 21:24] hroest commented on #2549
I think there are two things here happening:

- the idea that we can modularize the library into multiple .so files
- the idea that we could have independent CMake files so that you could build each library independently and each one would discover the dependencies by itself

I think the first idea makes sense, the second not so much (e.g. when would you ever just build libSuperhirn.so by itself?)

[2017-04-28 21:25] hroest commented on #2549
@jpfeuffer I would still opt to close this issue as the issue itself is solved and open a new one with the ideas how to improve the build system. agree?

[2017-04-28 22:03] hroest commented on #1548
another reason for this could be that the DomHandler is full of memory leaks, I see `XMLString::transcode` everywhere without the resulting memory being properly handled!

[code]

360 instances of grabbing memory from xerces but only 10 instances of releasing that memory? does not sound good...

[2017-04-28 22:19] hroest commented on #513
seems like its fixed - by commenting out

[2017-04-28 22:19] #513 closed

[2017-04-28 22:22] hroest commented on #417
a minor nuisance, only one platform affected - maybe goes away with Qt5?

[2017-04-28 22:27] hroest commented on #184
seems like mostly resolved except for `OpenMS::String`

[2017-04-28 22:28] #186 closed

[2017-04-28 22:31] hroest commented on #597
for how many people is this really an issue?

[2017-04-28 22:36] hroest commented on #592
close with reference to  #564

[2017-04-28 22:36] #592 closed

[2017-04-28 22:37] hroest commented on #550
@timosachsenberg @aiche @jpfeuffer  is this fixed now?

[2017-04-28 22:43] hroest commented on #1755
this is still an issue for http://ftp.mi.fu-berlin.de/pub/OpenMS/release-documentation/TOPP_tutorial.pdf but is fixed for the develop version:http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/TOPP_tutorial.pdf --

can somebody replace the ill-formed pdf with the correct one and close the issue @jpfeuffer  ?

[2017-04-29 08:57] timosachsenberg commented on #417
yes, I think it is fixed in the Qt5 branch.

[2017-04-29 10:07] cbielow commented on #2001
I think MSVC is solved 100%.
Everything else should get a new ticket.

[2017-04-29 10:54] #2001 closed

[2017-04-29 23:46] jpfeuffer commented on #2562
So I looked at it. And /usr/local/include is actually added by almost all libraries that were installed with homebrew. For me this is at least boost and seqan. Since boost is the second include in the list of external includes the aforementioned problems arise. The thing is, although these library includes are in a subfolder, the folder that is given to Openms is the basefolder (I.e. /Usr/local/in

[2017-04-30 01:54] hroest commented on #2562
well I think there are a few things we can do:

- order the includes in a "smart" way such that it is very likely that the contrib path is first
- on OSX simply force the contrib path as the first include path

so the first solution is appealing as we dont need to change much, e.g. if we move up WildMagic as the first include path we know that it will take contrib first since there is no wildmagic

[2017-04-30 07:13] #2452 closed

[2017-04-30 07:16] #2569 closed

[2017-04-30 10:27] timosachsenberg commented on #597
I think we can close it. If it is reported again we should contact Thermo but imho it is more a PD than  OpenMS issue.

[2017-04-30 10:27] #597 closed

[2017-04-30 10:42] jpfeuffer commented on #2165
Not sure. The main error is fixed. We could still use some improvements in the CMake dependencies between packaging and documentation. Maybe rename or open another issue?

[2017-04-30 10:51] jpfeuffer commented on #636
Yes I requested admin rights on coverity at some point. @aiche had to confirm.
I'll need to check if it worked, otherwise make a new account and put a job into the CI server.

[2017-04-30 10:57] jpfeuffer commented on #2549
The important thing is to make sure that static libraries are not linked twice if you already link against a dynamic library that included them. But yes, the bug here was identified and a solution was found that is a bit more general than this single issue. I am fine with closing this and the related ones in favor of a new general "Build System type" one.

[2017-04-30 11:01] jpfeuffer commented on #1548
In that regard I found some lines that might! be of a similar nature when investigating Xerces issues.
See my initial comment in https://github.com/OpenMS/OpenMS/issues/2556

[2017-04-30 11:30] jpfeuffer commented on #2135
Since the fix for KNIME is implemented it is certainly not a major defect anymore. Still room for improvement. It is very easy to do things wrong with optionality at this point.

[2017-04-30 11:35] jpfeuffer commented on #550
ProteinQuantifier page looks fine. Reading indentation: Probably related to https://github.com/OpenMS/OpenMS/issues/1755
We should probably go over the whole documentation and enforce a certain indentation but this seems quite tedious.

[2017-04-30 16:02] hroest commented on #2556
we should fix that but its not the most important thing e.g. few people will ever run the validator. otherwise we should copy paste code from here: https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/FORMAT/XMLFile.cpp#L164

[2017-05-01 09:24] lars20070 opened #2573 "TOPPView layer settings reset when opening additional layer"
Recently the behaviour of `TOPPView` changed. Say one does the following three actions.

1. open `featureXML` layer
2. change colour of that layer
3. open second `featureXML` layer

Action (3) resets the colour change in (2). Previously the colour remained unchanged.
IMO, the previous behaviour was more convenient.

[2017-05-01 18:55] jpfeuffer commented on #2562
Yes but QT is a framework on Mac and is located in another folder something with /Frameworks :)

[2017-05-01 19:06] hroest commented on #2562
so where does the initial `-isystem /usr/local/include ` come from?

[2017-05-01 19:30] jpfeuffer commented on #2562
Boost in my case.

[code]

[2017-05-01 19:39] jpfeuffer commented on #2562
Argh.. it does not display (or copy) the full file.
[flags.txt](https://github.com/OpenMS/OpenMS/files/968620/flags.txt)

[2017-05-01 19:51] #2544 closed

[2017-05-01 20:04] hroest commented on #2562
so what if you move boost includes to the end? e.g. just change this line https://github.com/OpenMS/OpenMS/blob/develop/src/openms/CMakeLists.txt#L120 and move Qt and Boost to the end such that seqan and WM5 comes first?

[2017-05-01 20:11] jpfeuffer commented on #2562
Considering that seqan 1.4 is not in homebrew anymore this could solve it. But as you already said, this would be more of a hack since it depends on the availability of the contribs in brew etc.

[2017-05-01 20:20] jpfeuffer commented on #2562
Basically moving everything that could be installed globally to the end right?
I could also go through all includes and if I find a system include I move it to the end or something. But we should say in the docu somewhere, that we will always prefer contrib libraries (although this might be implicit since contribs are preferred during library finding)

[2017-05-01 20:37] hroest commented on #2562
yes, I agree its a hack but it works! also it people manage to install seqan 1.4 into /usr/local/include than they are proficient enough to figure this out :-)

[2017-05-02 00:42] isaphan commented on #2533
labelfree_with_protein_quantification is starting to produce sensible results... except  the bait in the control sample should not appear at all and it does. Neither MaxQuant nor Distiller detect the bait in the control.

[2017-05-02 08:48] hendrikweisser commented on #2098
Apparently mzid will not be supported by X! Tandem going forward. See here: https://github.com/OpenMS/OpenMS/issues/2406#issuecomment-279343474

[2017-05-02 08:51] enetz commented on #2015
No, this should be solved now. Was discussed in #1993 and the updated unimod.xml was later merged as #2338 .
Since the updated unimod.xml does not cause this problem right now, this issue should be solved.

[2017-05-02 08:51] #2015 closed

[2017-05-02 08:51] hendrikweisser commented on #2110
I've used that approach for X! Tandem in the recent update of XTandemAdapter. Implementation (via `ModificationDefintionsSet::findMatches`) is in XTandemXMLFile.

[2017-05-02 08:54] hendrikweisser commented on #1624
It works well if input files are limited to ~1 GB.

[2017-05-02 08:54] #1624 closed

[2017-05-02 12:31] grosenberger commented on #2288
Yes, I will look into this issue this week.

[2017-05-02 13:34] timosachsenberg commented on #2483
I suggested the change in https://github.com/HUPO-PSI/mzTab/issues/29
closing the issue

[2017-05-02 13:34] #2483 closed

[2017-05-02 17:14] hroest commented on #2569
Hi Paul

can you please send all input files including the iRT and library used? I have used a few other files from here http://www.peptideatlas.org/PASS/PASS00779 and I get the following

[code]

so it looks like thing are going well and I dont see any crashes. So at least it looks like your mzML file is working, maybe the issue with your iRT or library file?

[2017-05-02 17:19] hroest commented on #2569
also note that the OpenSwathChromatogramExtractor is the wrong tool for the kind of file you provided, the tool basically assumes that you only have data from a specific swath window in your input foo.mzML but in your case you have multiple windows mixed in there. For the OpenSwathChromatogramExtractor you need to split your swath files first, so for this kind of input file the OpenSwathWorkflow w

[2017-05-02 17:43] PaulPyl commented on #2569
Hi Hannes,

I see, the info on Line 85 is indeed more helpful than the message printed in the command output, although in this case I am not sure how to interpret it.

I attach [here](https://github.com/OpenMS/OpenMS/files/971370/RT-peptides.and.spectral-library.zip) the two other input files for the OpenSwathWorkflow run:

- RT-peptides in traml format
- the spectral library I generated from the

[2017-05-02 17:56] hroest commented on #2569
obviously with your sample input, the iRT re-calibration will not work:

[code]

but I also saw some problems with UniMod 27 and 28 which I think are unfortunately on our side, so if you remove these then I got it to work like this:
[code]

[2017-05-02 19:56] PaulPyl commented on #2569
Hi Hannes,

thanks for the quick reply, so I can try with removing those modifications as a quick fix? I am new to the field but I assume I would like to keep them in the spectral library if possible?

Is there an issue with the way I have generated the library that would cause this or is it something that happens in OpenMS itself? I used a much older release on another server (version 1.11 I beli

[2017-05-02 19:58] PaulPyl commented on #2569
Seems the error is because a key is looked up in a Map that is not in it (or so I gather from a quick look at line 145 in that file), but I can't tell which Map / what type of key that would be.

[2017-05-02 20:11] hroest commented on #2569
Hi Paul

yes, you can try without these and remove them like this:

[code]

I cant really help you with the Map problem as the issue is quite unspecific. If you do not provide the iRT peptide library you should see a warning like
[code]

do you see that?

[2017-05-02 20:18] hroest commented on #2569
also, another fix you could use is the replace
[code]

with
[code]

note the two dots which indicate N/C termini and now OpenMS will actually properly parse it (only works in newer OpenMS versions). Do the same for UniMod:27 -- or just remove those peptides from the library as shown above

[2017-05-02 21:08] PaulPyl commented on #2569
Indeed I see the message about the null-transformation being applied when I do not supply the RT peptides.

I will try out the reformatting of the peptide modifications. This might be a simple question but I was looking at the traml format specification document and was wondering if there is a similar document specifying the way the spectral library should be formatted in the TSV file?

I have now

[2017-05-03 00:13] hroest commented on #2569
the tsv format is not really standardized so its OpenMS internal only. There is some documentation here http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/html/UTILS_TargetedFileConverter.html

sems like the error is now at least better specified ... but to me it is not clear why you are not getting any chromatograms extracted , this seems to be the main problem here.

[2017-05-03 08:32] mwalzer commented on #2135
Then I'll remove the major label. Can you link the fix somehow for accessibility?

[2017-05-03 08:37] #2366 closed

[2017-05-03 11:03] timosachsenberg opened #2580 "Missing util description"
+  - TODO we need descriptions for all of these
 +  - @subpage UTILS_MetaProSIP - xxx
 +  - @subpage UTILS_MultiplexResolver - xxx
 +  - @subpage UTILS_OpenMSInfo
 +  - @subpage UTILS_SimpleSearchEngine
 +  - @subpage UTILS_TopPerc
 +  - @subpage UTILS_RNPxlSearch - Tool for RNP

[2017-05-03 11:04] timosachsenberg commented on #2135
https://github.com/genericworkflownodes/GenericKnimeNodes/pull/137

[2017-05-03 11:04] #2135 closed

[2017-05-03 11:08] timosachsenberg commented on #2275
@lars20070 is this still an issue? if yes could you debug into it and post the stack trace?

[2017-05-03 18:06] hroest commented on #2580
most of these are missing a `@page` inside the tool itself

[2017-05-04 13:20] hendrikweisser commented on #2534
This is sufficiently resolved by #2582.

[2017-05-04 13:20] #2534 closed

[2017-05-04 17:58] hroest commented on #1755
@jpfeuffer it seems the pdf at least is fixed, can we just replace the ill formed pdf

http://ftp.mi.fu-berlin.de/pub/OpenMS/release-documentation/TOPP_tutorial.pdf

with this one

http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/TOPP_tutorial.pdf

and the close this issue and discuss the rest in #550 ?

[2017-05-04 21:41] hroest commented on #2562
@jpfeuffer thinking about this some more, I would actually now prefer a clear-cut solution where we add an additional cmake config parameter that is guaranteed to come first in the include order. Usually that would be the contrib folder. I think with this we could solve all of these problems and also address potential future problems on other setups. The idea of re-ordering we can still do but it

[2017-05-04 21:43] hroest commented on #2564
can we close this? @cbielow @jpfeuffer

[2017-05-05 07:17] #2564 closed

[2017-05-06 22:28] olcc opened #2584 "libgsl conflict"
Hello,
I wanted to install OpenMS on Debian Linux, but it seems to conflict with Inkscape

- OpenMS requires libgsl0ldbl
- Inkscape requires libgsl2

Both versions of libgsl can not be installed concurrently on Debian, and as I want to keep Inkscape I can't install OpenMS unfortunately. Shouldn't OpenMS use libgsl2?

Olivier

[2017-05-07 02:08] hroest commented on #2584
this is more of an issue of the distribution than OpenMS, as they chose the library against which to link. I assume you want to install OpenMS 1.11 : https://packages.debian.org/jessie/libopenms1.11

you could try and install OpenMS 2.0 from here https://packages.debian.org/sid/libopenms2.0 which does not have this dependency any more or build OpenMS yourself

[2017-05-07 12:32] olcc commented on #2584
You are right! Pulling OpenMS out of the Debian "unstable" distribution was successful:
`$ sudo apt-get install openms/unstable`
Thank you.

[2017-05-07 12:32] #2584 closed

[2017-05-07 23:22] olcc opened #2585 "Allow to choose the RT (Retention Time) unit in the display (minutes/seconds)"
Hello,
In TOPPView, it would be convenient to be able to display the retention time RT in minutes.
Can we choose the time unit for the display? If not could you consider adding this possibility (simply with `t_min = t_s / 60.0`)
Olivier

[2017-05-08 11:10] jpfeuffer commented on #1755
Okay. Done.

[2017-05-08 11:10] #1755 closed

[2017-05-08 13:40] PaulPyl opened #2586 "OpenSwathWorkflow median rightmost histogram bin"
Hello,

I see the following message in some of my OpenSwathWorkflow runs:
[code]

Eventually those runs will fail with the following message:
[code]

I am wondering if the two are related?

Also, I cannot find a way of specifying the indicated 'max_intensity', 'bin_count', rsq or coverage options in the command line parameters of the OpenSwathWorkflow program.

I user OpenSwathWorkflow with parame

[2017-05-08 14:45] grosenberger commented on #2586
Hi Paul,

You can find the extended parameters using ``OpenSwathWorkflow --helphelp``. For example the RT calibration parameters can be found under the subsection ``-outlierDetection``. You might want to set the parameter ``-outlierDetection:estimateBestPeptides``, which will select RT peptides in a more robust fashion. This is particularly useful if you don't use the Biognosys RT-kit, but either

[2017-05-08 16:54] hroest commented on #2586
Hi Paul

Just to follow up, no these are *generally* not related as the median computation on chromatograms complains if there is lots of zero. However in your case you seem to have found peaks but it just seems there is no linearity

Can you try with `-debug 10` and then you should see a file debug_irts.mzML in the current folder which contains the extracted chromatograms for the provided iRT pep

[2017-05-09 13:07] timosachsenberg commented on #2343
@lars20070 as this bug is rather critical (something could mess up the order in PeptideEvidences) it would be really important to get the idXML file.

[2017-05-09 13:12] lars20070 commented on #2343
Very sorry. Missed this one. The `idXML` is coming.

[2017-05-09 13:24] cbielow commented on #2540
I have a working solution ready. While at it, I've changed the way of quantification, i.e. only use peak closest to the theoretical mass instead of summing everything up in the given tolerance window (this is prone to wrong parametrization by the user).

General question: is someone against removing ITRAQAnalyzer and TMTAnalyzer? Except for the explicit name they add no value. The IsobaricAnalyzer

[2017-05-09 14:00] lars20070 commented on #2343
@timosachsenberg Here `toppas` workflow, `idXML` and annotated `featureXML`.

https://gist.github.com/lars20070/02e07bd511324117d3c24ad55f192387
https://gist.github.com/lars20070/8dd34a51837965f7bd4351b54c25a0a2
https://gist.github.com/lars20070/4267f7a61a7a06d0eddeef61d3536ea5

[2017-05-09 15:03] timosachsenberg commented on #2343
maybe its because this is the wrong file? the one it crashed contained the peptide QEYDESGPSIVHR . can you look for this file

[2017-05-09 15:04] lars20070 commented on #2343
No, I just checked [1] from the original post. QEYDESGPSIVHR is only in two protein sequences.

[2017-05-09 15:13] timosachsenberg commented on #2343
I think the file is CC271_20170216.featureXML can you look for that?

[2017-05-09 15:23] lars20070 commented on #2343
https://gist.github.com/lars20070/2b9871ecad5d609f2fe196f32a5df45a
https://gist.github.com/lars20070/0b306581da800a28ed634d117ecb62c0

Original files. Not re-run.

[2017-05-09 15:32] timosachsenberg commented on #2343
can't find the peptide in these files anymore. Guess we need to close the issue as it is not reproducible at the moment

[2017-05-09 15:42] lars20070 commented on #2343
The `mzTab` export of `CC271_20170216.featureXML` still crashes in about 33% of all runs that I start on our server right now. IMHO, we should not close the issue.

[2017-05-09 15:52] lars20070 commented on #2343
It crashes under Windows (OpenMS 2.1 release) and Ubuntu (develop). I would say we cannot close this issue yet.
![screenshot from 2017-05-09 17-50-58](https://cloud.githubusercontent.com/assets/6149805/25859910/3f6e9cb2-34e0-11e7-83f6-d8239dc9be3b.png)

[2017-05-09 16:08] timosachsenberg commented on #2343
ok I can reproduce. let's see if it's the same problem. Stack tracke suggest its something different, though.
[code]

[2017-05-09 16:08] timosachsenberg commented on #2343
something fishy with the convex hull?
[code]

[2017-05-09 16:15] timosachsenberg commented on #2343
posting here just to "take notes" if this bothers anyone let me know.
[code]

[2017-05-09 16:20] timosachsenberg commented on #2343
[code]

[2017-05-09 16:26] timosachsenberg commented on #2343
@lars20070 could you also provide the output of the current develop? I want to make sure that it is not related to the terminal '.' notation.

[2017-05-10 08:06] timosachsenberg commented on #2343
@lars or @cbielow can you debug into it MztabExporter on Windows? My stack trace might be corrupted on Linux

[2017-05-10 08:11] oliveralka opened #2590 "AccurateMassSearch defaults findfile mapping struct"
I ran into an issue using AccurateMassSearch. It seems that the default values for the positive and negative adduct files are working fine CEMISTRY/... . But it is not able to find the files for the mapping and struct.

[code]

If the static path is used for mapping & struct - it works like a charm.

May you can have a look on it.

[2017-05-10 10:16] jpfeuffer opened #2591 "MSGFPlusAdapter fails with N-term modification"
Giving Diethyl (N-term) as (e.g. fixed) modification in MSGFPlusAdapter (with version v2017.01.13)
results in the following line in the temporary msgfplus_mods.txt:
`56.0626, X, fix, N-term, Diethyl    # Diethyl (N-term)`
and fails with:
`AminoAcidSet: Invalid Residue(s) at line 7: 56.0626, X, fix, N-term, Diethyl]`

[2017-05-10 10:17] jpfeuffer commented on #2591
One of the latest nightly builds from end of April. From inside KNIME. I will try to update to latest and retry.

[2017-05-10 10:38] hendrikweisser commented on #2591
This should be fixed already (#2538).

[2017-05-10 10:39] jpfeuffer commented on #2591
Ah okay. Sorry, I had a quick look for recent MSGF tagged issues/PRs. Too quick probably. I will test it, thanks.

[2017-05-10 10:41] jpfeuffer commented on #2591
They should introduce regex search on github..

[2017-05-10 11:41] timosachsenberg commented on #2343
In the idXML file: the order ist correct
[code]

[2017-05-10 11:42] timosachsenberg commented on #2343
So somehow the protein_refs="PH_210 PH_503" got switched to protein_refs="PH_503 PH_210" in the transition from idXML to featureXML

[2017-05-10 11:48] timosachsenberg commented on #2343
ok found the bug - will prepare a pull request

[2017-05-10 13:56] jpfeuffer commented on #2562
I think @lars20070 had the same problem now. So you mean a separate flag during the cmake command line call (e.g. -DOPENMS_CONTRIB_DIR/DIRECTORY/LOCATION) that is added to the CMAKE_PREFIX_PATH and its ./include is added in the beginning of the include_directories?
Sounds good for me.

[2017-05-10 14:45] hendrikweisser opened #2593 "Invalid mzIdentML created from idXML with missing proteins"
In idXML (or internally in OpenMS) it is possible to have peptides without protein associations (e.g. from the search engine or due to filtering). However, in mzIdentML this is no longer allowed from version 1.1.0 on - which is the current version that OpenMS writes. If peptides without associated proteins are present in an idXML file, converting the file to mzid with IDFileConverter will produce

[2017-05-10 14:57] timosachsenberg commented on #2343
a  bug addressed in: https://github.com/OpenMS/OpenMS/pull/2592
Protein refs were sorted on writing our file formats

[2017-05-10 15:04] hendrikweisser opened #2594 "PeptideIndexer: "unknown AA" error due to selenocysteine"
Since #2545, PeptideIndexer may write error messages like this:

While getting this information now is probably a step forward, there are some problems:
- The consequences of the error are unclear, since the tool finishes normally. Are the affected sequences ignored? Is it just a warning?
- The protein sequence that is written may be very long, in which case it isn't easy to see where the problema

[2017-05-10 15:09] timosachsenberg commented on #2343
by the way valgrind was pointing to the culprit. gdb got confused and reported an "unrelated" stack trace

[2017-05-10 15:20] hendrikweisser commented on #2594
Also, since PeptideIndexer explicitly has functionality for dealing with ambiguous amino acids like "X" (e.g. parameter "aaa_max"), their presence should not lead to errors.

[2017-05-10 15:22] hroest commented on #2562
exactly! I think that would solve most of these problems here (since actually the linking and the libraries that get linked are correct!) - its just the order of the header directories that is the problem

[2017-05-10 15:44] jpfeuffer commented on #2594
A problem might be that we actually use AASequence objects in PeptideIndexer. In the PR we all assumed that during DB handling this would not be the case.
https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/ANALYSIS/ID/PeptideIndexing.cpp#L157
I think it is not necessary to use an AASequence object here, is it?

[2017-05-11 08:58] cbielow commented on #2540
hey Georg,
the PR is out (see above).
On your test data chunk, the reporter ion m/z's looked very strange. Maybe thats because its only some random spectra from low-intensity regions which to not really contain TMT labels?!

cheers
Chris

[2017-05-11 09:41] hendrikweisser commented on #2594
@jpfeuffer: Nice analysis. More generally, we should check whether the functions in EnzymaticDigestion couldn't be made to operate on Strings instead of AASequences. If they only use the sequence information and don't need access to chemical information etc., then I think we should avoid the costly - and potentially tricky - conversion to AASequence.

[2017-05-11 12:34] hendrikweisser opened #2596 "idXML: protein references written in wrong order or missing"
When writing idXML, protein accessions for peptide hits are collected via `PeptideHit::extractProteinAccessions` (https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/FORMAT/IdXMLFile.cpp#L301). This function collects the accessions from all "peptide evidences" associated with the hit into a `set<String>`. Problematically, this operation:
1. potentially reorders the accessions relative

[2017-05-11 12:36] hendrikweisser commented on #2596
Fix in preparation.

This problem may explain the discrepancies between protein lengths and peptide start/end positions e.g. in #2343.

[2017-05-11 13:22] mwalzer opened #2598 "TOPP_IDFileConverter tests 17-20 are probably not testing what they're supposed to test"
[See these lines](https://github.com/OpenMS/OpenMS/blob/develop/src/tests/topp/CMakeLists.txt#L802), e.g.

[code]

[2017-05-11 13:27] timosachsenberg commented on #2598
nice catch!

[2017-05-11 13:43] PaulPyl opened #2599 "ConvertTraMLToTSV not in development branch?"
Hi guys,

I have a quick question, I was looking into issues I had with ConvertTSVToTraML and the reverse and realised that it is in the master branch but not in the development branch. Have these tools been removed or did something go wrong? I can still find some tests for them in the development branch:

[code]
Best,
Paul

[2017-05-11 13:45] grosenberger commented on #2599
Hi Paul,

``ConvertTraMLToTSV`` and ``ConvertTSVToTraML`` have been unified in the tool ``TargetedFileConverter`` in OpenMS/develop.

Best regards,
George

[2017-05-11 14:00] gPirkes commented on #2540
Hi,
I've been trying to get the PR running, but am currently struggling with a boost dependency while linking - I don’t think I'll be able to finish it up today and am not at work tomorrow, but will keep working on it and let you know as soon as I have results.
Thanks in advance for addressing this issue!

Cheers,
Georg

[2017-05-11 15:20] PaulPyl commented on #2599
I see, thanks for the quick reply. I have a related question now that I am using the TargetedFileconverter. I see the following error when trying to convert this ([iRTs.traml.zip](https://github.com/OpenMS/OpenMS/files/993476/iRTs.traml.zip)) traml file:

[code]

I can interpret the error as the program trying to access a map of CVTerms with an invalid key, so I assume the file doesn't contain a k

[2017-05-11 21:02] PaulPyl opened #2600 "Running the OpenSwath Tutorial with the 2.1.0 release"
Hi guys,

I hope this is the correct place to ask this question but could someone verify for me that the OpenSwath Tutorial works with the current release? I am trying to find out why I can't get the OpenSwathWorkflow to run on any of my files and now I have encountered problems even with the tutorial files :(

I downloaded the tutorial from this link: http://www.openswath.org/example_OpenSWATH.zi

[2017-05-12 08:38] jpfeuffer opened #2601 "LowMemPeakPickerHiRes_RandomAccess underscore in name?"
[code]

We should rename the tool to show up in KNIME.

[2017-05-12 08:44] grosenberger commented on #2600
Hi Paul,

The data available on the OpenSWATH website unfortunately is not compatible with the current workflow. However, the same data available as part of the official [OpenMS Tutorial](http://www.openms.de/tutorials/) should work with OpenMS 2.1. Could you please try whether this works for you?

We are currently updating the OpenSWATH user documentation and we will improve the recommendations o

[2017-05-12 09:20] mwalzer commented on #1548
That grep command is turning a blind side to *quite some* occurrences! E.g. in comments and in unused code. The actual number is way less dramatic (~55, details follow). Still some, but I can already tell you that this is not the culprit. It is rather the building of the DOM tree itself. I did some crude estimates/measurements on what the mem. cost is a while back and the prerequisite to build the

[2017-05-12 09:23] mwalzer commented on #1548
Now, the number of transcodes in _use_ is about this:
[code]

[2017-05-12 09:32] cbielow commented on #2590
fixed in #2602

[2017-05-12 11:23] timosachsenberg commented on #2343
fixed in #2592

[2017-05-12 11:23] #2343 closed

[2017-05-12 11:23] timosachsenberg commented on #2596
fixed in #2592

[2017-05-12 11:23] #2596 closed

[2017-05-12 17:17] #2590 closed

[2017-05-14 08:55] timosachsenberg commented on #2508
@OnlyBelter we recently had a larger training event that used 2.1.0 stable on windows and mac. The error did not occur. Hard to tell at this point what the real problem.

[2017-05-14 08:58] timosachsenberg commented on #2505
can someone confirm this is fixed with the current nightly versions?

[2017-05-14 09:04] timosachsenberg commented on #199
state here? I think its not fixed (and don't recall why mzid helps here).

[2017-05-14 09:05] timosachsenberg commented on #1612
is this really a defect? sounds more like a MSGFPlus issue?

[2017-05-14 09:09] timosachsenberg commented on #420
state and any idea on how to proceed here? @hroest change to fatal error?

[2017-05-14 09:10] timosachsenberg commented on #567
@hendrikweisser is this still an issue (major defect)?

[2017-05-14 09:12] timosachsenberg commented on #607
still marked as major defect. any update on this or change to minor defect?

[2017-05-14 09:14] timosachsenberg commented on #622
can't test this with recent version because file is not accessible anymore. Will close. Please reopen if you can produce with same or other file.

[2017-05-14 09:15] timosachsenberg commented on #731
sounds like this could be fixed by now.can anyone confirm?

[2017-05-14 16:14] cbielow commented on #607
this is major IMHO and warrants fixing.

[2017-05-15 07:47] timosachsenberg commented on #2594
I agree but would like to hear @cbielow on this. AFAIK he/we wanted to support digestion of fasta files with modifications

[2017-05-15 10:03] jpfeuffer commented on #1612
Me and @eppinglen are currently investigating differences in the Adapter and the executable for other reasons. I will report back.

[2017-05-15 10:55] cbielow commented on #2594
Strings in EnzymaticDigestion should work just nicely in the current context.
So I'd say do it.

[2017-05-15 12:46] timosachsenberg commented on #2594
Maybe just use that StringView based version I wrote a while ago?
    /// Performs the enzymatic digestion of a unmodified protein String. By returning only references into the original string it is much faster. max_length restricts the maximum length of reported peptides (0 = no restriction)
    void digestUnmodifiedString(const StringView sequence, std::vector<StringView>& output, Size min_lengt

[2017-05-15 12:47] timosachsenberg commented on #2594
it is already in EnzymaticDigestion and does not require copying strings

[2017-05-15 13:33] cbielow commented on #2540
the PR is merged now.
I'm closing this issue (because they tend to stay open and unchecked).
Please report issues with the current implementation in a new ticket.
Thanks! :)

[2017-05-15 13:33] #2540 closed

[2017-05-15 13:58] gPirkes commented on #2540
Thank you for dealing with the problem - I have not yet managed to install and test it as I get errors when trying `make` the executables. Seems like it has something to do with linking the boost library, but I think this thread is the wrong place to discuss that!

cheers
georg

[2017-05-15 14:04] jpfeuffer commented on #2540
Regarding this issue, see #2562 and related issues. For now, please make sure you only have one boost installed (preferably the one built with the contrib).
You might be affected by this.

[2017-05-15 14:07] jpfeuffer opened #2605 "Add Rank Aggregation feature for replicates to IDConflictResolver"
As discussed with @Leon-Bichmann
It would be nice to aggregate candidate lists from IDs across replicates to pick the overall best ID for a consensus feature.
A good start would be to adapt IDConflictResolver to do e.g. a Median rank aggregation first. Or even adapt the ConsensusID algorithm(s) for this.

[2017-05-15 14:19] Leon-Bichmann commented on #2605
I guess I will look into this, as it would be usefull for my pipeline.

[2017-05-15 14:32] cbielow commented on #2562
Does it make sense to make this new flag mandatory? AFAIK there is no system which works without contrib anyway, right?
This would make it easier to report incomplete calls to cmake (e.g. "You forgot to specify '-DCONTRIB_PATH=...').
On most systems the change is anyway not drastic in terms of the installation procedure, we just replace CMAKE_PREFIX_PATH with CONTRIB_PATH and the rest is done inte

[2017-05-15 14:52] jpfeuffer commented on #2562
That is a good point. I am in favour of creating a mandatory flag.

[2017-05-15 16:04] jpfeuffer commented on #2591
Yes. It is fixed. Thanks.

[2017-05-15 16:04] #2591 closed

[2017-05-15 16:40] hroest commented on #2562
well but we should still allow for CMAKE_PREFIX_PATH, e.g. for Linux we recommend:

[code]

so maybe we just prepend the new flag to CMAKE_PREFIX_PATH so that the above is functionally equivalent to
[code]
and internally we combine the two?

[2017-05-15 17:03] hroest commented on #1548
this already looks much better and it would be great if we could move to the SAX handler at some point!

[2017-05-15 17:36] jpfeuffer commented on #2562
Hmm.. actually it is a bit weird that you have to specify this at all on Linux. "/usr/local" and "/usr" should be included by default in the CMAKE_SYSTEM_PREFIX_PATH (which is searched last by e.g. find_package).
But in general, yes, we should add the value of this mandatory new option to the beginning off the project specific CMAKE_PREFIX_PATH.

[2017-05-15 18:16] hroest commented on #2562
yes, not sure whether it is really necessary but at least it says so in our documentation. I think I remember having problems once when I did not include it

so it seems like we have a workable solution! :+1:

[2017-05-15 19:44] hendrikweisser commented on #567
No, `XTandemInfile::load` was deemed unnecessary and removed.

[2017-05-15 19:44] #567 closed

[2017-05-16 05:24] linusb opened #2606 "FileInfo output not consistent"
Using the FileInfo node on FeatureXML files reports many interesting properties. However, the tsv export (-out_tsv) does only contain very few of these and is especially missing the number of features in the run.

Example:
normal command line output:
_Mem Usage while loading: 10 MB

-- General information --

File name: XXX.featureXML
File type: featureXML
Number of features: 2698

Ranges:
  reten

[2017-05-16 21:26] hroest commented on #2599
Hi Paul

It seems that your problem is caused by data in the traml such as `sequence="L(UniMod:1)GGNEQVTR"` which OpenMS tries to parse and fails. I am not really sure why that is in the iRT peptides, but it seems like an N-terminal modification. If there is indeed an N-terminal modification here, then the correct terminology should be `"(UniMod:1)LGGNEQVTR_2"` or even better `"(UniMod:1).LGGNEQVT

[2017-05-16 23:30] hroest commented on #2600
I also suggest to use the data from the newer paper here http://www.biorxiv.org/content/early/2016/03/18/044552 and use the mTB data from here http://www.peptideatlas.org/PASS/PASS00779 which we know works with OpenMS 2.0

[2017-05-17 00:18] hroest commented on #2599
after replacing the following in the TraML file it works with #2607

[code]

if you really want modifications in your traml file,I think you need to use the `Modification` tag: http://www.peptideatlas.org/schemas/TraML/1.0.0/TraML1.0.0.html#Modification

[2017-05-17 09:00] timosachsenberg opened #2608 "& not properly escaped in featureXML"
& is not properly escaped in featureXML
10:54:34 NOTICE: TextExporter of node #10 started. Processing ...
..\..\..\OpenMS\src\openms\source\FORMAT\HANDLERS\XMLHandler.cpp(103): While loading 'X.featureXML': unterminated entity reference 'coxG:'( in line 3397 column 70)

[code]

[2017-05-17 13:10] mwalzer opened #2609 "TheoreticalSpectrumGenerator documentation is outdated"
after #2472, documentation to TSG is outdated and needs to be updated.

some examples:
* there is no documentation on the use of the DataArrays and metaInfo
* documentation states for `getSpectrum`  'returns a spectrum with b and y peaks' - which is certainly not true in that fixed down sense but depends on the settings ParamHandler extension.

[2017-05-18 09:53] #2381 closed

[2017-05-18 11:23] mwalzer opened #2612 "EICExtractor in KNIME"
EICExtractor KNIME node has probably the wrong input type to work as expected.
`ERROR EICExtractor         2:3        Execute failed: com.genericworkflownodes.knime.parameter.FileListParameter cannot be cast to com.genericworkflownodes.knime.parameter.FileParameter
`
For convenience, I attached a [_knwf_ ](https://github.com/OpenMS/OpenMS/files/1010677/EICExtractor_test.knwf.zip).

EICExtractor wo

[2017-05-18 11:26] timosachsenberg commented on #2612
on mobile right now so can't open the workflow. Did you provide a file list instead of single file?

[2017-05-18 11:27] mwalzer commented on #2612
BTW, FileConverter usage featureXML -> edta does not work like this in knime either. See the _knwf_.
@jpfeuffer is the FileConverter mime type issue known already? (couldn't find any issue ticket)

[2017-05-18 11:30] jpfeuffer commented on #2612
Can you upload an edta?

[2017-05-18 11:32] jpfeuffer commented on #2612
FileConverter works, did not check the output.

[2017-05-18 11:33] mwalzer commented on #2612
Use `FileConverter -in ../oms-src/src/tests/topp/FeatureFinder_1_output.featureXML -out /tmp/whop.edta`

[2017-05-18 11:36] jpfeuffer commented on #2612
Ok it seems the problem is an empty optional File List Input.

[2017-05-18 11:44] mwalzer commented on #2612
@timosachsenberg no.

[2017-05-18 11:56] mwalzer commented on #2612
@jpfeuffer so this is similar to https://github.com/genericworkflownodes/GenericKnimeNodes/issues/129 ?

[2017-05-18 15:56] mwalzer opened #2613 "TheoreticalSpectrumGenerator charge parameter is not handled by ParamHandler"
`getSpectrum` parameters `min_charge` and `max_charge` are not handled by ParamHandler like all other parameters.

[2017-05-18 16:14] enetz commented on #2613
You mean the charges should just be handled by the ParamHandler, like e.g. ion types?
max_charge was already there before and was never handled by the ParamHandler,
@timosachsenberg was there a reason for that?
I agree, I do not see any reason for special treatment of these parameters.

[2017-05-18 16:22] timosachsenberg commented on #2613
hmm I guess the performance overhead via parameters is too high

[2017-05-18 16:23] timosachsenberg commented on #2613
note that the other stuff is set only once but charges depend on actual precursor charge

[2017-05-18 16:25] timosachsenberg commented on #2613
also note that this is hard to get these changes in parameter thread safe so I would be against using param

[2017-05-18 16:29] timosachsenberg commented on #2613
So to answer your question: I think it is by design to allow using TSG in a multi-threaded context without locks. I would keep it as it is.

[2017-05-18 20:46] timosachsenberg commented on #2613
close?

[2017-05-19 10:25] timosachsenberg commented on #2468
@hendrikweisser @cbielow @jpfeuffer what is your experience with the mz_reference parameter?

Especially the default -feature:use_centroid_mz = false seems wrong/dangerous to me. At least from the documentation, it sounds like matching is performed to the full feature area (aka hundreds of ppms). What would make sense IMHO is to either just match to the precursor (option true) or additionally (opt

[2017-05-19 10:27] mwalzer commented on #2613
Hadn't had any chance to respond yet

[2017-05-19 10:36] mwalzer commented on #2613
So, while I agree that it's a hassle to get changes needed often in, I think setting the defaults like that would be good.

[2017-05-19 10:36] mwalzer commented on #2613
Or have no defaults for min and max charge.

[2017-05-19 10:42] timosachsenberg commented on #2613
I think it would then be better to have no defaults.

[2017-05-19 10:52] timosachsenberg commented on #1580
We recently had no reports about failing MapAlignerPose clustering so I close this issue. If this is still an issue please feel free to reopen and reupload the test files.

[2017-05-19 10:52] #1580 closed

[2017-05-19 10:54] timosachsenberg commented on #632
@jpfeuffer any update on this? You recently used the prediction...

[2017-05-19 10:58] timosachsenberg commented on #1071
@hendrikweisser any insight on this issue? The tool has not been used in the last year according to the update checker so I tend to remove it. These kind of evaluations are imho better done downstream in R.

[2017-05-19 12:14] timosachsenberg commented on #1205
The test still causes problems on our nightly builds
and the "correct" output according to the test doesn't look correct to me.
For example, it contains negative peak intensities.

[code]

I am tempted to remove the test until someone creates a valid one.

[2017-05-19 12:50] timosachsenberg commented on #2598
PR in prep

[2017-05-19 13:17] timosachsenberg commented on #2598
https://github.com/OpenMS/OpenMS/pull/2617

[2017-05-19 15:46] hroest commented on #2608
related to #24 , try to wrap it in `writeXMLEscape()`

[2017-05-19 21:42] jpfeuffer commented on #632
Yes I think with KNIME optional inputs and my changes in the tool that registered the outputs, it should be working fine now.

[2017-05-19 21:42] #632 closed

[2017-05-20 11:08] hendrikweisser commented on #2468
I agree that the defaults for "mz_reference" and "use_centroid_mz" should be changed. If I remember correctly, they were left like this for backwards compatibility when matching by peptide mass was added.

No, I'm pretty sure it is matching against the isotopic mass traces already. At least if they are available; if they aren't, it might use the whole feature area, which obviously isn't ideal, but

[2017-05-20 11:20] hendrikweisser commented on #2468
Wait, actually, one thing to keep in mind: If you don't perform precursor mass correction of MS2 spectra, what happens quite commonly is that MS2s from the M+1 isotopic peak get (slightly) misidentified as deamidated peptides. Since the identified sequence can still be correct, just with a spurious deamidation, the ID would still be usable (e.g. for protein inference/quantification). However, the

[2017-05-20 11:26] hendrikweisser commented on #1071
@timosachsenberg: Don't ask me. I have nothing to do with that tool.

But it looks to me like it covers only a very narrow use case (for the publication referenced in the docs) and is therefore not of general interest. I would be okay with removing it.

[2017-05-20 13:30] olcc commented on #2585
For more clarity: this request is only about the _display_ of the scale in the graphs and in the tables. It is not about changing the internal data representation.

[2017-05-20 15:41] olcc opened #2619 "www.openms.de uses Flash"
Hello,
The website [www.openms.de](https://www.openms.de/getting-started/command-line-and-visualisations/) uses Flash for the videos. However Flash is deprecated and should be eliminated from the web. Could you please integrate the videos without Flash?
Thank you,
Olivier
Source (example): https://www.theverge.com/2015/12/1/9827778/stop-using-flash

[2017-05-21 07:52] timosachsenberg commented on #2468
I agree that it would make sense to extend the mapper to compensate for isotopic misassignments (which should be rather easy to add).

[2017-05-21 09:31] timosachsenberg commented on #1071
ok I remove it in https://github.com/OpenMS/OpenMS/pull/2620

[2017-05-22 09:07] timosachsenberg commented on #2619
thanks for reporting. we will consider alternatives when we update our website

[2017-05-22 10:33] timosachsenberg commented on #2613
fixed with https://github.com/OpenMS/OpenMS/pull/2622

[2017-05-22 21:46] jpfeuffer commented on #2619
Which videos do you mean?

[2017-05-23 18:29] olcc commented on #2619
It's about all the videos on page https://www.openms.de/getting-started/command-line-and-visualisations
The first one is "Panning / Zooming (1D View)", and my browser reads "This page requires Adobe Flash Player".

[2017-05-23 20:47] hroest commented on #2619
:+1: I agree HTML5 would be great...

[2017-05-24 07:33] oliveralka opened #2630 "IsobaricAnalyzer TMT10plex IsobaricIsotopeCorrector fails"
It seems that the values of the matrix inversion and the NNLS differ - see ERROR.

[code]

I tried to solve the issue last time by altering the absolute to relative deviation between the matrix conversion and NNLS:

[code]

After the update to MSn  I'm not able to run my dataset anymore - Any ideas why?

[2017-05-24 07:50] cbielow commented on #2630
at leas one of these seems numerically unstable...
the test which throws the exception is not of utmost importance. We could simply remove it.
But it would be interesting to see what the numbers are. You are probably seeing a range of very high and very low intensities in one spectrum.

[2017-05-24 09:52] jpfeuffer commented on #2619
done.

[2017-05-24 09:52] #2619 closed

[2017-05-24 10:47] oliveralka commented on #2630
Added:

[code]

Example:

[code]

@cbielow What do you think?

[2017-05-24 11:14] olcc commented on #2619
Well done! Thank you.

[2017-05-24 11:36] jpfeuffer opened #2631 "Update Google Scholar account and upload to homepage"
Can someone update our Google Scholar account and send me a complete 2016.bib file?

[2017-05-24 11:36] jpfeuffer commented on #2631
Preferably  also a 2017.bib if there are any noteworthy publications.

[2017-05-24 11:58] timosachsenberg commented on #2631
can do

[2017-05-24 12:02] jpfeuffer commented on #2413
@cbielow Concerning Training content. I can give you access to Wordpress. It would be easy to edit plain content.

[2017-05-24 12:18] jpfeuffer commented on #2631
Great. Publications up-to-date.

[2017-05-24 12:30] enetz opened #2633 "PScore still assumes RichPeakSpectrum for theoretical spectra"
This was not caught, because PScore does not have tests yet.

[2017-05-24 12:43] cbielow commented on #2630
So the last ten lines are the problem, right?
The values are indeed quite different.
What are the raw intensities?

From: oliveralka [mailto:notifications@github.com]
Sent: Wednesday, May 24, 2017 12:48 PM
To: OpenMS/OpenMS <OpenMS@noreply.github.com>
Cc: Bielow, Chris <Chris.Bielow@fu-berlin.de>; Mention <mention@noreply.github.com>
Subject: Re: [OpenMS/OpenMS] IsobaricAnalyzer TMT10plex Isobaric

[2017-05-24 14:51] hroest commented on #2631
Only two publications in 2016, is that correct? https://scholar.google.ch/citations?hl=en&user=tQ26gxIAAAAJ&view_op=list_works&sortby=pubdate

[2017-05-24 16:32] hendrikweisser commented on #2631
Mine is missing!
https://www.ncbi.nlm.nih.gov/pubmed/27786492
http://pubs.acs.org/doi/abs/10.1021/acs.jproteome.6b00765

[2017-05-24 20:39] timosachsenberg commented on #2631
ok sorry my fault... will look at this more closely after the long weekend. was kind of a last minute action before I left.

[2017-05-25 11:36] OnlyBelter commented on #2508
I will try this again later, thanks!
By the way,  I would like to ask if there is a better document for `pyopenms ` package? [This document](http://proteomics.ethz.ch/pyOpenMS_Manual.pdf) is hard to read, and don't have enough examples for  learning how to use `pyopenms`.

[2017-05-25 21:12] #2613 closed

[2017-05-25 21:17] hroest commented on #2631
can you add these as well

https://www.ncbi.nlm.nih.gov/pubmed/28379341
https://www.ncbi.nlm.nih.gov/pubmed/28188537
https://www.ncbi.nlm.nih.gov/pubmed/27701404

I think the comparison study is fair to be classified partly as OpenMS manuscript. Not sure about biodocker but I think it also makes sense as we were part of it.

[2017-05-26 14:19] lars20070 opened #2634 "pyOpenMS installation under macOS 10.12.5 fails"
After installing pyOpenMS
[code]
the import of the library fails
[code]
It appears to be a Qt linking problem, see details in the Gitter chat [1].

[1] https://gitter.im/OpenMS/OpenMS?at=592830460ba4d59763e2e424

[2017-05-26 15:13] lars20070 commented on #2634
Identical problem under Ubuntu 16.04 LTS.

[2017-05-26 16:45] hroest commented on #2634
Hi Lars, what is the issue under Ubuntu? can you please run the command

[code]

and post your output. Optimally, the output is similar to mine...

it works here on my machine btw:

[code]

[2017-05-26 16:46] hroest commented on #2634
@grosenberger can you comment on the Qt you used to build pyOpenMS? I thought we did package some Qt libs with pyOpenMS so that this wont happen?

[2017-05-26 17:21] lars20070 commented on #2634
@hroest Thanks for the very quick support. Here under macOS
[code]

[2017-05-26 19:10] grosenberger commented on #2634
Sorry, I promised to solve this issue a few weeks ago, but I didn't manage to do so. I originally used Qt4 on macOS 10.12. I applied the patches to the dylibs, as we always need to patch the absolut pathes to make them relative, and I also copied in the files. However, something went wrong. Since recently it is possible to again install Qt4 via Homebrew.

[2017-05-26 19:28] hroest commented on #2634
I still dont understand the issues on Linux...

On Fri, May 26, 2017 at 12:10 PM, George Rosenberger <
notifications@github.com> wrote:

[2017-05-27 09:03] lars20070 commented on #2634
@hroest `pyOpenMS` installed under Ubuntu. There is no issue under Linux. Sorry.

[2017-05-29 07:37] timosachsenberg commented on #2633
preparing a fix

[2017-05-29 11:03] timosachsenberg commented on #2633
should be fixed in #2639

[2017-05-29 12:18] mwalzer opened #2640 "builds on gnu compiler 6.3.0 fail"
using all contrib libs, OS alpine linux
[code]
fails at:
[code]

[2017-05-29 12:20] mwalzer opened #2641 "OpenMP activated even if not found?"
using clang 4.0.0, OpenMP seems to be switched on even if not found:
[code]

[2017-05-29 14:04] mwalzer commented on #2640
same for clang 4.0.0

[2017-05-29 14:25] jpfeuffer commented on #2640
Maybe they added a !define PAGESIZE to the stdlib headers.
Either undefine it (risky) or rename all occurrences in seqan.

[2017-05-29 14:31] timosachsenberg commented on #2608
fixed in  #2626

[2017-05-29 14:31] #2608 closed

[2017-05-29 14:32] timosachsenberg commented on #2541
still a major defect? sounds more like an enhancement?

[2017-05-29 14:34] timosachsenberg commented on #2641
hmm maybe enabled by default:
[code]

[2017-05-29 14:40] timosachsenberg commented on #2640
by the way: thanks for testing on new compilers ;)

[2017-05-29 17:07] jpfeuffer opened #2644 "Error in XQuestScores on Windows"
Shadowed in the nightlies by the general C++11 failure.

[code]

[2017-05-29 17:11] jpfeuffer opened #2645 "Error in FeatureFinderMetabo on Windows"
Shadowed by general build failure due to C++11.
[code]

[2017-05-29 17:12] jpfeuffer commented on #2645
Probably introduced in #2615

[2017-05-29 20:06] oliveralka commented on #2645
I run osx, so it is hard for me to test, but I will have a look on it!

[2017-05-30 00:43] galeymm commented on #2288
@grosenberger did you ever determine what the cause/fix for the Qt error is? I'm encountering this issue.

[2017-05-30 02:43] hroest commented on #2645
not sure about this, the `run` function was linking quite well before this PR?

[2017-05-30 05:10] lars20070 commented on #2634
This issue is identical to https://github.com/OpenMS/OpenMS/issues/2288. Will therefore close it.

[2017-05-30 05:10] #2634 closed

[2017-05-30 10:31] grosenberger commented on #2288
As I wrote in the other thread, I unfortunately did not get to fix this yet. It is very strange that it works on some systems but not on all. @oliveralka, is the build still working for you? Are you still on 10.11 or did you upgrade to 10.12 meanwhile?

[2017-05-30 11:14] jpfeuffer opened #2649 "Error with windows header from CoinOR inclusion?"
Unfortunately I think it happened what I saw when testing the CoinOR inclusion branch of @FabianAicheler.
With unity builds we can not include CoinOR because it somehow includes the windows headers.
Not 100% sure that it was this pull request, but maybe 80%.

[code]

[2017-05-30 11:15] jpfeuffer commented on #2649
I am not sure if we can give up on Unity builds. I need to compare the speed at some point. Windows is taking ages anyway and we need every second here if we want to add CI soon.

[2017-05-30 14:31] #2633 closed

[2017-05-30 19:16] FabianAicheler commented on #2649
So from eg https://stackoverflow.com/questions/27442885/syntax-error-with-stdnumeric-limitsmax my understanding is that we could try to #undef max whereever we find a problem or wrap the max call in parentheses.

Would that suffice? How would I test it/what is the difference between the travis builds (which the pull request passed) and the unity build?

[2017-05-30 21:24] jpfeuffer commented on #2649
Travis is without windows unfortunately. Please add the label Windows-CI to your PR when you try to fix it. You will be the first tester.

[2017-05-31 07:18] FabianAicheler opened #2660 "Grouping of coeluting based on Chromatogram and samplewise-intensity correlation alone"
We would like to add functionality for cooperation partners to group coeluting features without regarding mass differences, i.e. only by retention time/intensity information.

Ideally, we would beforehand do Decharging with known adducts, FeatureLinking(QT), and then group the linked consensus features (with their linked features for which we somehow get the chromatogram informations ). So we woul

[2017-05-31 07:47] oliveralka opened #2661 "Filetypes: support of chromatograms (regarding: #2660)"
Another question in regard to #2660 would be if the chromatograms should be independent of the featureXML (FeatureFinderMetabo) and consensusXML (Decharger, FeatureLinkerUnlabeledQT). Right now the chromatograms are processed as optional output of the FeatureFinderMetabo (one mzML for each sample). To process them in the end together with the data of all samples there are several options available

[2017-05-31 09:56] timosachsenberg commented on #2661
probably better to store them in mzml. other files might get huge

[2017-05-31 11:49] Leon-Bichmann opened #2663 "Special symbols in filenames"
Not sure if this would be worth fixing but Filenames containing '%' or '#' cant be read..

Best,
Leon

[2017-05-31 11:55] timosachsenberg commented on #2663
can you give some additional information if this problem occurs on the command line, in ini files, TOPPView, TOPPAS, KNIME?

[2017-05-31 11:56] timosachsenberg commented on #2661
I guess we could add a meta value that contains the chromatogram id as value in the featureXML / consensusXML. This could reference the id in the mzML file.

[2017-05-31 12:00] timosachsenberg commented on #2660
What happens if you set RT to a small window and m/z to a very large one? maybe you also need to set -algorithm:nr_partitions <number> to 1
as well as
Distance component based on m/z differences:
  -algorithm:distance_MZ:weight <value>                 Final m/z distances are weighted by this factor (default: '1' min: '0')
to 0

[2017-05-31 15:50] hroest commented on #2660
we have thought about this quite bit for SWATH analysis and there are a few papers out there that to this. I suggest to look at DIA-Umpire paper. Also some of the OpenSwath scores that we have may be useful (based on cross-correlation) to identify edge weights. I even have some code that works with the output of Masstraces from the metabolite FF. I could try and digg that up.

I think the best app

[2017-05-31 15:53] hroest commented on #2661
since these chromatograms are "auxiliary files" that are only used within OpenMS, we could also use the sqmass format that I recently wrote. It is substantially smaller than mzML and does not require us to load the whole file into memory. This means we can use SQL queries to get individual chromatograms.

But yes, mzML is also a good idea and worked well for us in the swath world even though they

[2017-05-31 16:09] timosachsenberg commented on #2661
the feature ID match the mzML ID? don't know if this is a good idea as feature IDs get reassigned by some tools.

[2017-05-31 17:03] Leon-Bichmann commented on #2663
Seems like this was only happening on our linux cluster with TOPPAS ExecutePipeline..
On my local mac TOPPAS and TOPPView open the file.

[2017-05-31 19:10] hroest commented on #2661
maybe that is not a good idea? shouldnt these ids be static and relate to a specific unchanging entity. But yes, we could also solve this with a meta value

[2017-06-01 11:20] jpfeuffer commented on #2644
So this is solved right? Please reopen if not.

[2017-06-01 11:20] #2644 closed

[2017-06-01 11:21] jpfeuffer opened #2666 "[master] String representation XMLHandler"
[code]

I remember this from some issue recently I think. Is there a commit missing in master?

[2017-06-01 11:21] jpfeuffer commented on #2666
@mwalzer @timosachsenberg

[2017-06-01 11:49] enetz commented on #2644
This should be solved by #2650 , but I could not reproduce the error locally, so I could not test it directly.

[2017-06-01 14:03] timosachsenberg commented on #2666
probably the fix I applied to master: https://github.com/OpenMS/OpenMS/pull/2626/files

[2017-06-01 14:05] jpfeuffer commented on #2666
yes, 4 and 5 are failing. You will probably see it in the nightlies.

[2017-06-01 14:07] timosachsenberg commented on #2666
should I merge master into develop?

[2017-06-01 14:08] timosachsenberg commented on #2666
you mean these are failing on master or on develop?

[2017-06-01 14:08] jpfeuffer commented on #2666
They failed on my PR to fix NOMINMAX, which I based on master.

[2017-06-01 14:11] jpfeuffer commented on #2666
But he fails in reading the INPUTS

[2017-06-01 14:12] jpfeuffer commented on #2666
Ah yes you changed something there, too.

[2017-06-01 14:14] timosachsenberg commented on #2666
hmm in github I don't see changes if I click on blame

[2017-06-01 14:19] jpfeuffer commented on #2666
right.. then let's wait for nightlies. currently it is shadowed by the NOMINMAX error.

[2017-06-02 08:06] timosachsenberg commented on #2594
Why is this the error happening anyways:
We have:
[code]

[2017-06-03 16:14] hroest opened #2673 "Fast base64 encoding"
We could use some faster base64 encoding as this is generally the bottleneck when reading XML files:

* http://www.alfredklomp.com/programming/sse-base64/
* https://github.com/aklomp/base64

on the other hand with sqmass we may not need it any more

[2017-06-05 08:09] kaehwan opened #2676 "Variable swath windows in OpenSwathWorkflow"
Hi all,

I am new to Github as well as OpenSWATH. I tried to analyze my SWATH results but failed. My data has 100 swath_windows, ranging from 400 - 1250 m/z. Is it the reason causing the failure?

Determined there to be 100 SWATH windows and in total 2017 MS1 spectra
Determined there to be 100 SWATH windows and in total 2017 MS1 spectra
-- done [took 06:30 m (CPU), 10:49 m (Wall)] --
Progress of '

[2017-06-05 10:38] grosenberger commented on #2676
Hi Kaehwan,

Did you supply an already extracted chromatographic mzML ``CHOK1-iRT.mzML`` to OpenSwathWorkflow or is this raw profile DIA data? Did you use a recent version of ProteoWizard/msconvert to convert the data? If you did, make sure that you do not provide a ``swath_windows_file``, the windows will be correctly read from the mzML file.

Best regards,
George

[2017-06-05 14:48] jpfeuffer commented on #2649
I found the problem... The build machine had an old contrib installed. The old CoinOR version defined its own min and max, while the new one actually uses the ones from the stdlib.
Good that we upgraded Coin. I will reopen until I installed new contribs.

[2017-06-06 13:10] jpfeuffer opened #2680 "Continuous Integration and Nightly builds"
Hey @OpenMS/developers

to advance with our new CI platform Jenkins, I would like to ask on your input to the actual build matrix.

What would you like in the nightlies, what for every pull request, what during release testing. We can also mark specific pull requests with a comment if we want to save resources (which is the main reason why I open this issue).

We have:
  - 1 docker server with 16

[2017-06-06 13:52] timosachsenberg commented on #2680
Would be great to have in our nightlies:
- AddressSanitizer
- pyOpenMS
- checker.php
- spell check

[2017-06-06 14:40] Leon-Bichmann opened #2681 "TOPPAS crash on master and develop"
[code]

[2017-06-06 14:40] Leon-Bichmann commented on #2681
[code]

[2017-06-06 14:41] Leon-Bichmann commented on #2681
[code]

[2017-06-06 14:44] Leon-Bichmann commented on #2681
[code]

[2017-06-06 14:46] timosachsenberg commented on #2681
Only happens in TOPPAS or ExecutePipeline. Works on cmdline.

[2017-06-06 16:55] jpfeuffer commented on #2556
@timosachsenberg This issue causes the mzXML tests to fail.

[2017-06-06 22:57] kaehwan commented on #2676
Hi George,

I converted the data with a recent version of msconvert and tested the OpenSwathWorkflow again without providing a swath_windows_file. Same error was identified.

Determined there to be 100 SWATH windows and in total 2017 MS1 spectra
Determined there to be 100 SWATH windows and in total 2017 MS1 spectra
-- done [took 03:33 m (CPU), 04:25 m (Wall)] --
Progress of 'Loading data file CHOK

[2017-06-07 01:18] jpfeuffer opened #2684 "ADDRESS_SANITIZER does not work on mac"
Can't find the Asan library during linking.
https://stackoverflow.com/questions/44320465/whats-the-proper-way-to-enable-addresssanitizer-in-cmake-that-works-in-xcode

[2017-06-07 04:22] hroest commented on #2676
Hi KH

can you please provide the full command line that you are using? Is it
possible  that you work on Windows and did not provide the "-tempDirectory"
option? If so, please use a file path  appropriate for Windows, such as
"C:\temp"

Best

Hannes

On Tue, Jun 6, 2017 at 3:57 PM, kaehwan <notifications@github.com> wrote:

[2017-06-07 04:24] hroest commented on #2684
well you have to turn it on specifically on mac OSX so there is not really
a chance somebody would do that by mistake?

On Tue, Jun 6, 2017 at 6:18 PM, jpfeuffer <notifications@github.com> wrote:

[2017-06-07 04:25] hroest commented on #2680
I agree with timo, but from past experience the most needed one is the pyOpenMS -- all the others have only seldomly caused real problems. checker.php is anyways part of the current nightlies, right? Also the spellcheck is not really automatic, so there is no real automatic check here ...

[2017-06-07 10:36] jpfeuffer commented on #2684
Sorry for being brief yesterday. Well I mean with the current implementation in CMake and Address_sanitizer=On, it does not work. It correctly compiles with the flags but during linking it is missing symbols from the Asan library like _Asan_init_. I think the SO thread linked above defines our options. The thing is, we usually do not use XCode, so not sure if setting XCode flags has an effect.

[2017-06-07 11:02] cbielow commented on #2681
the bug is that upon checking https://github.com/OpenMS/OpenMS/blame/develop/src/openms_gui/source/VISUAL/TOPPASOutputFileListVertex.cpp#L201 if a file exists, only a warning is given if it does NOT exist.
This should be an exception.
Will fix.

The interesting question is: does the file exist? And if not, why did PeptideIndexer finish successfully? (how is that possible?) Are you running another

[2017-06-07 11:08] cbielow commented on #2681
could you attach a minimal pipeline here?! Might be the filenames...

[2017-06-07 11:21] timosachsenberg commented on #2681
One file is:
[code]
@Leon-Bichmann can you add the full path of the fasta file?

[2017-06-07 11:21] Leon-Bichmann commented on #2681
So the pipeline was literally just opening an idXML and fasta running PeptideIndexer and output the result. Calling the TOPP tool via shell worked, @oliveralka seemed to have the same problem with IDPosteriorErrorProbability with different files.

[2017-06-07 11:22] Leon-Bichmann commented on #2681
fasta file:
"../../Projects/Immunology-Benchmark/Testdatensatz Leon/TOPPAS_out/003-DecoyDatabase-out/spHUMANwoi_130927.fasta"

Its strange because I used the same files and fasta before without problems.

[2017-06-07 11:28] oliveralka commented on #2681
Another minimal pipeline would be:

[code]

[2017-06-07 20:41] jpfeuffer commented on #2649
Worked.

[2017-06-07 20:41] #2649 closed

[2017-06-07 20:43] jpfeuffer commented on #2666
Okay with #2679 the symptoms are gone. We should investigate why that happened, though.

[2017-06-07 20:43] #2666 closed

[2017-06-07 20:45] jpfeuffer commented on #2645
Hmm.. maybe it was false alarm. I will leave it open until we have develop builds from Windows again.

[2017-06-07 20:48] jpfeuffer commented on #2609
@enetz Can this be closed with the PR? Or is more to come?

[2017-06-07 20:54] jpfeuffer commented on #2598
Closing?

[2017-06-07 21:00] jpfeuffer commented on #2508
Sorry for the late reply. I just saw this while cleaning up issues.
A small tutorial on pyopenms can be found in our User_tutorial which we distribute in user trainings:
https://github.com/OpenMS/Tutorials/releases/download/data-and-tools-OpenMSv2.0.0/OpenMS_Usertutorial.pdf
Were you able to test the problem again?

[2017-06-07 21:06] jpfeuffer commented on #2454
I also have a KNIME workflow that takes the ProteinQuantifier output and a table that annotates the input raw/mzML files and gives you MSStats output. The only R function used is "stack". But I would also like to have that experimental design in mzTab.

[2017-06-07 21:07] jpfeuffer commented on #2446
@mwalzer Do you know something about this?

[2017-06-07 21:14] jpfeuffer commented on #2348
@lars20070 After conversion from lennard. Are there still workflows that we need?

[2017-06-07 21:17] jpfeuffer commented on #2348
There are also prerequisite binaries and the Thermo PD/CD plugin binaries on SF. I would like to see them being moved so we have everything in less places. But also the download counts from SF are nice...
@timosachsenberg What do you think?

[2017-06-07 21:21] timosachsenberg commented on #2348
so we would move them to our build archive server? Fine with me.

[2017-06-07 21:22] #2598 closed

[2017-06-07 21:28] jpfeuffer commented on #188
This should and will be solved with git tags.

[2017-06-07 21:28] #188 closed

[2017-06-07 21:31] jpfeuffer commented on #284
I think so too. User-specific checking is not used anyway. The rest seems to be solved by now.

[2017-06-07 21:31] #284 closed

[2017-06-07 21:33] jpfeuffer commented on #274
Seems to be addressed sufficiently. Please reopen if not.

[2017-06-07 21:33] #274 closed

[2017-06-07 21:38] jpfeuffer commented on #306
Also related to #2605

[2017-06-07 21:52] enetz commented on #2609
right, I think this can be closed for now

[2017-06-07 21:52] #2609 closed

[2017-06-07 21:52] jpfeuffer commented on #545
https://github.com/OpenMS/OpenMS/pull/2478

[2017-06-07 21:55] jpfeuffer commented on #559
What do usage statistics say? Imho deprecate or remove.

[2017-06-07 22:06] jpfeuffer commented on #2497
Oh btw.. now that I look through old issues. This was discussed twice already. #580 #590
Maybe we should add this somewhere more prominent in the adapter docu and/or indeed use the SearchParameters in PeptideIndexer to consider the undocumented special cases of XTandem.

[2017-06-07 22:09] jpfeuffer commented on #590
Not sure if I like the closed wontfix status.

[2017-06-07 22:11] jpfeuffer commented on #2497
I actually made this a blocker now. Three strikes and it is out.

[2017-06-07 22:27] jpfeuffer commented on #561
Fixed in #2428

[2017-06-07 22:27] #561 closed

[2017-06-07 22:31] jpfeuffer commented on #2406
Since #2098 is closed as "thirdparty" wontfix, I will close this too for now. Everything but mzid support seems to be addressed.

[2017-06-07 22:31] #2406 closed

[2017-06-07 22:38] tjeerdijk commented on #2454
Hi Julianus,

Can you share your workflow? I'm in discussion with Meena here at the ASMS conference so would be nice to show your solution before we all go home.

Take care from Tjeerd (from Indianapolis)

[2017-06-07 22:43] jpfeuffer commented on #377
iirc it is used in the end to calculate the probability with Bayes. But since Gumbel does not have a closed form solution for the M-step and the LM numerical optimizer is complex it seems like the Gaussian mean and sd was just used as a final estimate.
I agree that it is a major defect and we should think about non/semi-parametric fitting algorithms like kernel density estimation and/or use decoy

[2017-06-07 22:46] jpfeuffer commented on #377
#2172 #937

[2017-06-07 23:41] jpfeuffer commented on #2454
Hi Tjeerd,
I uploaded the workflow including some really bad example data under the following link:
https://mab.to/240SOedvX
The workflow should include the data as tables but I included the input mzTab files, too.
The protein grouping part is rather new but should do what it is supposed to do. Concerning the last MSStats scripts, Meena should be the expert there.
I expect a lot to get easier in t

[2017-06-08 02:20] kaehwan commented on #2676
Hi Hannes,

Below was the full command line. I work on Windows and provide ### -tempDirectory option on C:\temp\

c:\OpenSwath>OpenSwathWorkflow -in CHOK1-iRT.mzML -tr SpecLib.TraML -tr_type TraML -tr_irt iRT.TraML
 -out_tsv output.tsv -out_chrom chrom.mzML -log log.txt -debug 10 -force
Debug level: 10
Writing to 'log.txt'

 output.tsv -out_chrom chrom.mzML -log log.txt -debug 10 -force
Value of s

[2017-06-08 06:19] oliveralka commented on #2645
@jpfeuffer let me know if issues occurs again - I looked at the code but have no explanation why it would not work - If it is necessary I could try to build it using a Win-VM.

[2017-06-08 07:16] timosachsenberg commented on #559
Adapter vs AdapterOnline
11 vs 83 uds

[2017-06-08 07:18] timosachsenberg commented on #2454
I think we should merge (and extend) the fraction / experimental design support PR to get this information into protein quantifier.

[2017-06-08 07:22] timosachsenberg commented on #377
why can't we just do a LM and let the other extensions as feature request?

[2017-06-08 08:38] mwalzer commented on #2446
Well, I don't know about `psi.hupo.org` in the first place.

[2017-06-08 08:40] oliveralka commented on #2630
Hello Chris,
here is the output with the intensity (cf-intensity).

‘‘‘
ch 126  (~126.127): -0.000135023 Th
  ch 127N (~127.124): -0.000132188 Th
  ch 127C (~127.131): -8.35508e-05 Th
  ch 128N (~128.128): -0.000118863 Th
  ch 128C (~128.134): -8.54844e-05 Th
  ch 129N (~129.131): -0.000120797 Th
  ch 129C (~129.137): -5.79004e-05 Th
  ch 130N (~130.134): -0.000108472 Th
  ch 130C (~130.141): -2.9

[2017-06-08 11:46] hroest commented on #2676
there is the problem.

I suggest to follow the instructions here http://openswath.org/en/latest/docs/openswath.html and take the commands from  http://biorxiv.org/content/early/2016/03/19/044552

you should use

[code]

[2017-06-08 12:52] timosachsenberg commented on #2681
fixed in #2690

[2017-06-08 12:52] #2681 closed

[2017-06-08 13:48] timosachsenberg opened #2692 "FileHandler should issue error if extension matches a different FileType"
e.g.
- storing a consensusXML as t.featureXML should result in an error
- storing a consensusXML as t.tmp is fine (e.g. our tests write a lot of .tmp files)

[2017-06-08 14:12] tjeerdijk commented on #2454
I discussed this with Meena and I think the solution that is currently offered for the MaxQuant-MSStats integration is good enough. Basically it is a csv file linking (raw) spectra files to experimental conditions and biological replicates. What do you think? @julianus: I'll look at your workflow after my poster presentation, thank you for your quick reply.
[annotation.csv.zip](https://github.com/

[2017-06-08 14:16] jpfeuffer commented on #2454
Yes, exactly, that is what I did in the workflow. You extract the raw filenames from the mzTab metadata header and create a table (e.g. directly KNIME, or Excel and read it in) that describes every raw file with the descriptors that MSStats expects (BioReplicate, Run, ...). This is then integrated into the tables that contain quantitation information (wherever they may come from)

[2017-06-08 14:22] hendrikweisser opened #2693 "Experience building OpenMS with Visual Studio 2017"
Somewhat naively, I installed the newest version of Microsoft Visual Studio, VS 2017, on my new Windows 10 laptop and tried to build OpenMS (64 bit) with it. I succeeded in the end, but some tinkering was necessary, since OpenMS only supports VS up to 2015 out of the box. I thought it might be useful to share my experiences here.

1. Building Qt 4.8.7:
Follow the process described in the OpenMS do

[2017-06-08 14:36] jpfeuffer commented on #2693
Cool! Thanks for testing this.

1.) You can move QT if you add a qt.conf file in your build folder with the following contents (replace prefix with your new one):
[code]
Check with qmake.exe --query if it worked. This will be checked by CMake.

2.) You can open a PR against OpenMS/contrib. I can upload boost to the FTP. I think retargeting the sln files is also the right way, but could you copy th

[2017-06-08 14:48] jpfeuffer commented on #2692
I agree. This would prevent errors in e.g. KNIME in nodes where the output type depends on the input type and users make errors in specifying the output type.

[2017-06-08 15:04] timosachsenberg commented on #2692
potentially one could enforce the ending if "-test" is not set.
@cbielow do you recall other situations when the file ending output by a tool does not match the file format extension?

[2017-06-08 15:23] hendrikweisser commented on #2693
@jpfeuffer: Thanks for the comments!

That is really good to know and could have saved me a lot of (re-)compile time. ;-)

Not sure if I'll get to it before I go on holiday on Saturday.

It's on this page, under "Installing OpenMS": http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/html/install_win.html
I haven't checked the sources - perhaps the webpage is just not up-to-date?

[2017-06-08 16:24] cbielow commented on #2692
why allow it for -test? seems unnecessary.

ehhm.. no

[2017-06-08 17:23] timosachsenberg commented on #2692
*could* be dangerous if users use a system with name mangling that includes extensions
and might be quite some work to adapt all tests.
but I guess then could still work around it and use e.g. the force flag

[2017-06-09 02:35] OnlyBelter commented on #2508
I still get an error, but it has different prompt message like below:

[code]
Then I set 'missing_decoy_action' to 'warn', it works!

![image](https://user-images.githubusercontent.com/16537617/26958687-a43db7fa-4cfe-11e7-9c59-003145f518b6.png)

[2017-06-09 07:57] timosachsenberg commented on #2508
This indicates that your database is missing decoy peptides.
You can create an appended target-decoy database by running the tool DecoyDatabase

[2017-06-09 07:58] jpfeuffer commented on #2508
Hey thanks for the follow up. Since the decoy prefix seems to be correct for this part of the tutorial: did you choose the correct FASTA database in the beginning? I think we are shipping two different ones in the tutorial data.

[2017-06-09 14:31] timosachsenberg commented on #2355
This bug does not seem too minor. Just got a report that PeptideIndexer did not annotate some peptides because they were rejected by the enzyme filter.
So we should also definitely write out that Trypsin/P was used

[2017-06-09 14:32] timosachsenberg commented on #2355
I promote it to a bug. Seems easy to fix and already caused a bit of headache :)

[2017-06-09 14:52] klemens1 opened #2694 "MSFragger Adapter"
We have been using `MSFragger` in combination with `IDFileConverter` with great success.
We would however greatly appreciate it, if we could directly include `MSFragger` into the OpenMS workflow. This would also be interesting for the community, since the speed of MSFragger allows for open searches and could also be used to get a very fast overview of labeling efficiency, missed cleavages etc.
We'

[2017-06-09 14:59] jpfeuffer commented on #2693
1) Damn, a shame. After the 5th build I also started looking for this solution.
2) It is not time-sensitive but it would be a waste if these efforts are forgotten.
3) Yes, that is probably it.

[2017-06-09 15:12] jpfeuffer commented on #2355
Hm yes I started on it but it is a bit tedious because you have to go through the MSGF source code to actually see what kind of cutting rules they enforce, map this to our enzymes, add new enzymes and at best also add these enzymes to the PSI.obo

[2017-06-09 15:16] jpfeuffer commented on #2355
The thing is that MSGF has no knowledge about blocking residues -> no proline rule in any of the enzymes.

[2017-06-09 15:20] jpfeuffer commented on #2355
I am actually not sure anymore if the mapping to our enzymes without proline rule is a good idea. Seems like it was an intentional decision of them to not have restricting AAs. They even refer to enzymes with proline rules in PSI.obo.. just weird.

[2017-06-09 15:27] jpfeuffer commented on #2645
Well there is definitely an error for the Python bindings:
[code]
I am pretty sure there is also going something wrong on Windows.

[2017-06-09 15:29] jpfeuffer commented on #2645
But! Maybe the Windows error comes from an old library lying around. So wait for this one.

[2017-06-09 16:07] jpfeuffer opened #2696 "AddressSanitizer errors in OpenProXL tests"
Built from my Asan_fix branch. Not sure if completely uptodate but pretty new:
[abibuilder.informatik.uni-tuebingen.de.txt](https://github.com/OpenMS/OpenMS/files/1064604/abibuilder.informatik.uni-tuebingen.de.txt)

[2017-06-09 16:08] jpfeuffer commented on #2696
Ah maybe it was your fix for the integer overflow. Might not be in there yet.

[2017-06-09 16:59] timosachsenberg commented on #2696
[code]

[2017-06-11 20:17] timosachsenberg opened #2698 "Evaluate https://github.com/marketplace/codacy"

[2017-06-12 09:05] mwalzer commented on #2698
worth to point out, that c++ is [user supported](https://support.codacy.com/hc/en-us/articles/207994735-Supported-Languages), whatever that means

[2017-06-12 10:18] timosachsenberg commented on #2698
I tentatively added codacity.
Access via badge in  #2699
or https://www.codacy.com/app/timosachsenberg/OpenMS/dashboard

[2017-06-12 10:34] timosachsenberg commented on #2698
We can use this issue to discuss disabling of specific tests.
E.g., "file name too long" etc.

[2017-06-12 10:35] timosachsenberg commented on #2698
@cbielow @jpfeuffer @hroest @hendrikweisser @mwalzer I add you here in case you want to discuss checks

[2017-06-12 15:44] timosachsenberg commented on #2692
If I add the check to idXML (only) I get 190 tests failed out of 1986 so its a bit of work to change all tests files

[2017-06-12 15:44] timosachsenberg commented on #2692
[code]

[2017-06-12 21:36] poshul commented on #2083
I've been working on this problem, and have a solution that I built off of an earlier version of the OpenMS code-base. I will work on merging the latest from develop and submitting it as a pull request.

[2017-06-13 07:07] timosachsenberg commented on #2083
sound great. Think @FabianAicheler would also be interested in taking a look at it

[2017-06-13 07:46] timosachsenberg commented on #2694
This is a great idea we have also been thinking about recently. I think @Leon-Bichmann volunteered to take a look at it once he finds some time.

[2017-06-13 08:04] hroest commented on #2698
did the check find anything useful so far?

[2017-06-13 08:08] timosachsenberg commented on #2698
I think it is pretty useful as it gets regularly updated and in the future we might expect more checks that can easily be turned on/off. So far, some smaller issues popped up we might want to take a look at (e.g., a potential memory leak). Can you check the python issues and disable the patterns (I think I added you as a collaborator) that cause a lot of false positives. Alternatively, disable the

[2017-06-13 10:51] Leon-Bichmann commented on #2694
Yep, I can do it on the long term but as a warning I think it might take a while until Ill have some time for it.

[2017-06-13 13:47] FabianAicheler commented on #2680
Is the documentation OS specific/is there anything that can break just for Windows?

[2017-06-13 14:16] jpfeuffer commented on #2680
Usually not. If Latex is installed properly with the needed packages, it should build the same on all platforms.

[2017-06-13 15:33] timosachsenberg commented on #2696
@enetz any insights?

[2017-06-13 19:24] FabianAicheler commented on #2680
Maybe no doc on Windows then, and can we intialize Windows builds only if the other OSs passed?

[2017-06-14 07:54] timosachsenberg opened #2701 "Unicode handling in OpenMS is inconsistent and error-prone"
[code]
link to minimal example:

[2017-06-14 07:59] timosachsenberg commented on #2701
[code]

[2017-06-14 08:03] timosachsenberg commented on #2701
the culprit is e4 (byte 146 displayed as '.') which is two bytes in UTF-8
[code]

[2017-06-14 08:07] timosachsenberg commented on #2701
[error.zip](https://github.com/OpenMS/OpenMS/files/1073917/error.zip)

[2017-06-14 08:51] enetz commented on #2696
Sorry for the delayed response.
I may have found the responsible code, but what would be the fastest way to test a fix?

[2017-06-14 09:02] timosachsenberg commented on #2701
@mwalzer @cbielow what would be the best way to fix this? use Qt to convert the db name to UTF-8?

[2017-06-14 09:20] timosachsenberg commented on #2701
we currently handle the db string with:
[code]
but only:
[code]
are escaped.
Just add escaping here?

[2017-06-14 09:21] timosachsenberg commented on #2701
[code]

[2017-06-14 10:43] jpfeuffer commented on #2696
No problem. You could try an ASan build by yourself (cmake (...) -DADDRESS_SANITIZER=On ../source) and run the tests. What platform are you on?
I can also build your branch on Jenkins if you comment it here.

[2017-06-14 12:12] enetz commented on #2696
I built an ASan build with clang 3.8.1 on Ubuntu, overall 776 tests failing.
OpenPepXL has a lot of memory leaks, but those are listed after the tool runs through all 25 spectra of the test without issues.
The error message is pointing to a `vector< OPXLDataStructs::CrossLinkSpectrumMatch >` object I think,
so I improved some unnecessarily abstruse code from before I coded the comparators for my d

[2017-06-14 16:01] hroest commented on #2701
@timosachsenberg we need to distinguish between escaping and UTF8 issues. We escape things that are not valid if they occur in a name or attribute inside the XML and writing them would lead to invalid XML itself. In principle, an XML that contains UTF8 is perfectly valid ... maybe here we are more dealing with the fact that C++ and OpenMS  are not UTF8 aware?

So the question is rather why "ä" was

[2017-06-14 16:12] hroest commented on #2701
ok, now I am a bit confused because E4 is the unicode code point whereas the hex description should be `c3a4` (see http://www.utf8-chartable.de/ and https://en.wikipedia.org/wiki/UTF-8) and it seems only the unicode code points below U+0080 are direct representations to bytes whereas other code points are split to two bytes. So there should never be a unicode code point memory - or written to disk

[2017-06-14 17:49] timosachsenberg commented on #2701
"it seems only the unicode code points below U+0080 are direct representations to bytes whereas other code points are split to two bytes. So there should never be a unicode code point memory - or written to disk - above 0080 -"
That's how I understand it, too. I think  E4 is valid extended ASCII for ä under ISO 8859-1  (also ISO Latin-1. So I guess the ASCII string might be written directly in the

[2017-06-14 17:51] timosachsenberg commented on #2701
One way around this would be to just escape it using the table I posted above (Escaping these, I though, is mandatory in XML but I might be wrong)

[2017-06-14 18:08] timosachsenberg commented on #2696
@jpfeuffer I opened a PR against develop: https://github.com/OpenMS/OpenMS/pull/2703

[2017-06-15 08:24] hroest commented on #2701
hmm ok, I see

but I am not sure that you are correct, because then it seems what happened was that we wrote ISO 8859 into a file that was supposed to be unicode. So the correct solution is *not* to use XML encoding but to use the proper UTF8 encoding. How would you even test for this in C++? You would have to test every character against different, possibly multi-byte encodings to check whether i

[2017-06-15 08:26] hroest commented on #2701
again, I think the error happened earlier when the string was generated - it should have been properly encoded when *reading* already!

[2017-06-15 08:30] hroest commented on #2701
https://stackoverflow.com/questions/1091945/what-characters-do-i-need-to-escape-in-xml-documents

[code]

I think you were thinking about HTML escape characters which are different from XML, see also here https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references so I am not sure whether using any other than the 5 is even valid XML ?

[2017-06-15 08:57] jpfeuffer opened #2705 "pyopenms fails"
http://cdash.openms.de/viewBuildError.php?buildid=227307

[2017-06-15 09:30] hroest commented on #2705
This could be solved with #2647 and has mostly to do with installing a newer version of autowrap - does it happen on develop or master? Can you check whether this fixes the issue:

[code]

[2017-06-15 09:32] jpfeuffer commented on #2705
Cool. It is on master. I thought I upgraded autowrap. Let me check that. Which version would be needed?
And in case it is uptodate: Just remove the comment?

[2017-06-15 10:02] timosachsenberg commented on #2701
I see. Yeah, I probably mixed this up with the HTML characters.
I think the db string is set in the search engine adapter:
https://github.com/OpenMS/OpenMS/blob/develop/src/topp/MSGFPlusAdapter.cpp#L567

[2017-06-16 08:13] timosachsenberg commented on #2701
"We never discussed this but the implicit assumption I had was that all C-strings in OpenMS are either ASCII or UTF8 but never ISO 8895, correct?"

That's a good question and I think it is not defined anywhere.
Internally, all std::strings are  single byte per entry and agnostic to the actual encoding in most parts of the library.

I need to look into this a bit deeper after my holidays but maybe

[2017-06-16 11:22] jpfeuffer commented on #2705
[microcebus ~]$ pip install -U autowrap
Requirement already up-to-date: autowrap in /usr/local/lib/python2.7/site-packages
Requirement already up-to-date: Cython>=0.19 in /usr/local/lib/python2.7/site-packages (from autowrap)

[2017-06-16 11:22] jpfeuffer commented on #2705
Try removing the comment now.

[2017-06-16 12:59] glormph opened #2706 "Support for TMT 11-plex"
Apparently TMT now comes in 11-plex, so this is to ask if there will be support for it "soon". Our lab is planning to use it, but I have unfortunately no spectra yet to supply for this feature.

[2017-06-16 13:03] glormph commented on #2706
I should add that the difference with 10plex is that 11-plex will have 131N and 131C ions, as opposed to the single 131 reporter ion from the 10plex.
https://www.thermofisher.com/order/catalog/product/A34808

[2017-06-18 15:20] hroest commented on #2705
well its more like that autowrap is too new ... the older autowrap had no problem with that comment but with newer autowrap you need to remove ` # TODO deprecate for 1.12`

[2017-06-18 15:21] hroest commented on #2706
@cbielow @timosachsenberg what do we need to support this?

[2017-06-19 17:59] hroest commented on #2701
well, it somehow is by convention as we start our XMLs with a certain encoding. However we are not very consistent:

[code]
so basically we use the same underyling encoding but sometimes write out files where we promise they are going to be 8859 and sometimes we promise they will be UTF8 ... hmmm ... seems like there is "room for improvement" --- and whoever thought ISO-8859 was a good idea? Well

[2017-06-19 18:05] hroest commented on #2701
Well regarding this question it seems pretty easy to understand why this happens. We basically almost randomly write files that claim to be encoded with either UTF8 and ISO 8859 and then write string into them that are of unknown encoding (conforming to the local "platform native encoding" that may be different on Win/OSX/Linux) and then its not surprising that this whole mess backfires...

[2017-06-21 07:09] oliveralka commented on #2630
@cbielow Any other ideas or suggestions - if not I would simply remove the test.

[2017-06-22 12:14] jpfeuffer commented on #2705
yes. removal of the deprecation comments solved it. But if it is a deprecation TODO for 1.12, should we get rid of it completely? Or what was the comment for?

[2017-06-23 22:03] cbielow commented on #2692
`+    if (FileHandler::getTypeByFileName(filename) != FileTypes::IDXML)` should be extended to check for UNKNOWN - which should not trigger an exception (since we should allow myidxml.tmp as being valid)

[2017-06-24 08:09] timosachsenberg commented on #2692
I can do that.

[2017-06-24 12:35] timosachsenberg commented on #2706
I think https://github.com/OpenMS/OpenMS/pull/965 is a good reference to see what needs to be added.

[2017-06-24 12:51] timosachsenberg commented on #2701
I think much of these file formats date back to a time where UTF8 did not exist / was not well established. Choosing UTF8 as the default encoding might be a good choice.
As I understand it this means that we need to natively support UTF8 in some of our internal data structures (like DataValue). Do you know what the best way is to handle plain strings? Assuming every std::string is now an UTF8 stri

[2017-06-25 18:00] #2705 closed

[2017-06-26 11:44] jpfeuffer commented on #2698
I like it, too.
What was the consensus on the min/max macros.
What do you think about negation in short form ('!'). I think we could whitelist that, too.

[2017-06-26 11:45] jpfeuffer opened #2711 "Investigate travis contrib build failures."
They are timing out after 10mins of no response.

[2017-06-26 13:45] cbielow commented on #2706
I don't think its that much effort, but we'd need a volunteer to do it :)

[2017-06-26 15:52] timosachsenberg commented on #2698
I think we can disable the min/max macros as well as the negation short form warning.
Will do so...

[2017-06-26 17:41] hroest commented on #2701
since this is C++, there is no "real" way see here: https://stackoverflow.com/questions/3011082/c-stdstring-and-utf-8

however the question is whether we *need* it, e.g. being UTF8 aware is only necessary if we need to perform string operations but not if we are just "passing it through", e.g. reading the string and writing it again. However if you want to compute on the string (iterate, get its l

[2017-06-27 10:00] timosachsenberg commented on #2701
Ok. So I guess UTF8 strings might come from:
- the command line parameters (e.g., file names)
- XML files
And these parts are probably easy to handle.
Generic text files etc. might be a bit more involved right now.

[2017-06-27 10:48] timosachsenberg commented on #2698
[code]
we widely allowed single line constructs like this. so I removed it. Fine with everyone?

[2017-06-27 11:03] cbielow commented on #2698
yeah, makes sense.
Can it mark dangerous linebreaks though?
e.g.
[code]

[2017-06-27 11:27] timosachsenberg commented on #2698
No these are not checked if the pattern is disabled.

[2017-06-27 11:40] jpfeuffer opened #2713 "Most probably sqlite3 missing for pyOpenMS on Windows"
https://github.com/OpenMS/OpenMS/blob/develop/src/pyOpenMS/setup.py#L139

In general. Can't we build sqlite statically? Or can we automate the process of including shared libraries in our many packaging types?
If we agree that all of this is not worth the effort for a rare task of a new contrib library, we should write an extensive documentation on which places to change for future updates.

[2017-06-27 13:04] timosachsenberg commented on #2701
I don't know if it is thaaat easy. For the ini file we might assume that it is UTF-8 - ok that's fine and should not pose any problems.
But for the command line the situations seems to be a bit more difficult.
See e.g. https://stackoverflow.com/questions/5408730/what-is-the-encoding-of-argv
Seems qt solved that problem:
https://stackoverflow.com/questions/39379119/how-can-i-get-qt-main-function-ar

[2017-06-27 13:07] timosachsenberg commented on #2701
so one way to do this would be to use qt to convert the unicode argv using toUtf8

[2017-06-27 15:27] timosachsenberg opened #2716 "evaluate clang-tidy"
http://clang.llvm.org/extra/clang-tidy/index.html
Possibly, we could also just wait until codacity includes the checks it provides.

[2017-06-27 15:36] timosachsenberg commented on #2716
Especially automated fixes might be interesting after switching to c11
https://www.kdab.com/clang-tidy-part-1-modernize-source-code-using-c11c14/

[2017-06-27 17:17] hroest commented on #2713
probably also for OSX and Linux, right?

[2017-06-27 17:22] jpfeuffer commented on #2713
Hm actually looking at my built contrib, on macOS it is built statically.

[2017-06-27 17:25] jpfeuffer commented on #2713
But yes in general we might not be able to guarantee in which state the libraries are found therefore this might be a potential place for improvement since this affects also the other packages.
We could require certain types of the libraries when we are packaging for example.

[2017-06-27 17:33] jpfeuffer opened #2718 "XQuestResultXMLHandler error on Windows."
Errors while compiling #2717 which means it probably fails on develop (without ASan or similar):

[code]

[2017-06-27 18:02] hroest commented on #2241
a quick update on Linux:

- loading mzML works now for spectra and chromatograms
- the 3D view works as well
- when starting up it looks a bit weird and the window is pretty small:
![screenshot from 2017-06-27 10-55-55](https://user-images.githubusercontent.com/464014/27602326-4373fa2e-5b27-11e7-906e-8c55d706f376.png)
- fix this you need to double click on the top of the small window (the min/max/

[2017-06-27 18:03] hroest commented on #2718
did you really mean  #2717 - that seems like an unrelated PR?

[2017-06-27 18:07] jpfeuffer commented on #2718
Well I linked it since it was the first and only place where it came up (and where one could look up the error messages). And nightlies are currently building master (until tomorrow probably).
But yes the changes in the PR are unrelated.

See also here:
https://abibuilder.informatik.uni-tuebingen.de/jenkins/view/OpenMS/job/openms_pr_windows_ci/12/compiler=msvc-14,os_label=win10_64/artifact/

[2017-06-27 18:08] jpfeuffer commented on #2718
Can one remove links by editing?

[2017-06-27 19:50] hroest commented on #2701
I agree, since we already have Qt why not use to read the command line string options and then directly "do the right thing" ? Once we have it converted to UTF8 then we can store it internally in a `std::string` if we like with the guarantee that its UTF8

proper XML files have their encoding embedded and xerces will deal with it and convert it to UTF16 internally from whatever encoding they come

[2017-06-27 19:57] hroest commented on #2698
I think in that case we should leave them. At least it will detect if *new* issues arise and maybe we can clean the code at some point. I think detecting the linebreaks @cbielow pointed out is more important than disabling the warning.

I agree with the `!` operator, we can disable that warning

[2017-06-27 20:05] hroest commented on #2541
not sure @cbielow does it look better now? did you try using the lowess transform instead of the spline?

[2017-06-27 21:28] timosachsenberg commented on #2698
ok I reenabled the check
Examples:
[code]

[2017-06-27 21:30] hroest commented on #2698
sounds good to me...

[2017-06-27 22:10] jpfeuffer opened #2720 "QT5 for Windows"
Mainly @cbielow
I want to start installing QT5 on the build machines to be ready when we merge.
- Do you have experience with this?
- How did you proceed? Could you use the qt5 web installer?
- I downloaded it and am thinking to install QT5.9 (msvc2013-64bit, msvc2015-32bit/64bit, msvc2017-64bit available) with QTWebEngine and NetworkAuth maybe? Otherwise I probably have to build from source again

[2017-06-28 10:21] enetz commented on #2696
Fixed with #2703

[2017-06-28 10:21] #2696 closed

[2017-06-28 11:16] hendrikweisser opened #2725 "Problems with small molecule ID (AccurateMassSearch)"
I've started to use AccurateMassSearch to identify small molecules following a PeakPickerHiRes -> FeatureFinderMetabo -> FeatureLinkerUnlabeledQT workflow (in KNIME). This seems like a promising approach and works in principle, but there are aspects that could be improved:

1. AccurateMassSearch fails with an error if the "db:mapping" input file doesn't contain the "database_name" header line. How

[2017-06-28 12:26] enetz commented on #2718
@lukaszimmermann
The lines causing these errors look like this:
in the header:
`static void removeSubstring(String & large, const String & small);`
in the cpp:
[code]

Could it be because of the spaces around the '&s' ?
Otherwise I do not see anything there, that could cause syntax errors.

[2017-06-28 13:14] jpfeuffer commented on #2718
I am not sure. Let's try it. You will have Windows CI. It could be that there are two spaces in the implementation of the function instead of one?? But then msvc would be really stupid.

[2017-06-28 13:16] jpfeuffer commented on #2718
https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/FORMAT/HANDLERS/XQuestResultXMLHandler.cpp#L488
You might also not need to use the scope operator here (488ff) but I am not sure.

[2017-06-28 13:19] lukaszimmermann commented on #2718
I do not think that it is the spaces. Whitespace between tokens is discarded anyways. I am currently trying to reproduce that error on my Windows machine.

[2017-06-28 13:20] jpfeuffer commented on #2718
Ok. Yes try it first. Maybe it is false alarm.

[2017-06-28 14:53] hendrikweisser commented on #2698
We could also consider updating the coding conventions (https://github.com/OpenMS/OpenMS/wiki/Coding-conventions) to be in line with what is checked.

[2017-06-28 15:21] timosachsenberg commented on #2698
I changed it. In the long run we might think about linking to the (extensive) rule set on codacy and just provide a correct example as template. Explicitly listing all rules in the wiki might be a bit overkill.

[2017-06-28 16:13] hroest commented on #2720
related to #2241

[2017-06-28 16:15] hroest opened #2726 "Qt5 errors on travis"
currently we get a lot of config/linking errors on travis on the qt5 branch:

- http://cdash.openms.de/viewConfigure.php?buildid=228719
- http://cdash.openms.de/viewBuildError.php?buildid=228719

[code]

it seems like `Qt5::Network` is not properly found and resolved and this not linked properly. This only happens in the debug builds for some reason ...

[2017-06-28 16:15] hroest commented on #2726
related to #2241

[2017-06-28 16:48] lukaszimmermann commented on #2718
So I built the branch `hroest:feature/chrom_dataprocessing` on Win10_x86_64 with msvc-14 on Release mode without any errors.

[2017-06-28 16:50] jpfeuffer commented on #2718
Can you build it with "-DENABLE_UNITY_BUILD=On" again? Then I will close.

[2017-06-28 17:16] lukaszimmermann commented on #2718
Ok, now I indeed get this error. Let me see if I can figure that out.

[2017-06-28 17:23] timosachsenberg commented on #2726
did you try to increase cmake_minimium_required?

[2017-06-28 17:33] timosachsenberg commented on #2726
just another guess: maybe the qt5 debug libraries are not properly installed

[2017-06-28 17:54] lukaszimmermann commented on #2718
Not sure what sinister things are going on there, but apparently the parameter name
"small" caused this error. I renamed it and now it works. Gonna prepare a fix.

[2017-06-28 18:13] hroest commented on #2718
Nice find, got to love the fun complexity of the issues we are dealing with
today

sent from my smartphone -- you may keep any typos you find.

On Jun 28, 2017 10:54 AM, "Lukas Zimmermann" <notifications@github.com>
wrote:

[2017-06-28 18:55] hroest commented on #2726
yes, its part of this PR. not sure whether it helped but it did not hurt - in our case we have an issue with `CMP0028` which is not part of the BALL policies

not sure whether that is the case as it seems all the class_tests are linked properly and only the TOPP/UTILS are affected by this. I am not sure I fully understand the issue myself though

[2017-06-28 18:55] hroest commented on #2726
Lets see what #2728 does...

[2017-06-28 20:54] hroest commented on #2241
another update: with #2719 and #2728 we should be down to a single test failure (`TOPPView_test`) related to Qt5 on Linux and a functional travis integration. So from this side I think we are on track, is there a volunteer to look at `TOPPView_test`?

[2017-06-29 09:46] hendrikweisser commented on #2725
Another suggestion:

9. In the mzTab output of AccurateMassSearch, when consensusXML is used as input, there are multiple "study variables" with quantitative information (corresponding to the different sub-maps in the consensus map). Currently, the same uninformative description is used for all of them:
`MTD	study_variable[1]-description	Accurate mass search result file.`
It would be helpful to in

[2017-06-29 10:42] jpfeuffer commented on #2718
Crazy... maybe that is the reason?
https://stackoverflow.com/questions/27793470/why-does-smallgive-an-error-about-char

[2017-06-29 10:45] lukaszimmermann commented on #2718
Most likely.

[2017-06-29 13:22] lars20070 opened #2730 "ImageCreator crashes for very large pixel widths"
For ultra high resolution images (>100,000 pixels) such as
[code]
`ImageCreator` crashes with
[code]

[2017-06-29 16:53] #2718 closed

[2017-06-30 00:57] hroest commented on #2718
wow, how wonderful - apparently rpcndr.h defines
[code]

[2017-06-30 08:05] timosachsenberg commented on #2730
most likely a Qt or operating system limitation

[2017-06-30 16:05] hroest commented on #2730
same here, I see huge memory consumption and then the same message - not sure whether it would eventually terminate but I aborted the program before I could find out. I agree with @timosachsenberg that its probably an inherent limitation of either Qt of the OS

[2017-07-03 10:58] #2684 closed

[2017-07-03 14:47] jpfeuffer commented on #2612
Please check again, once there are new nightlies. Probably already solved.

[2017-07-04 09:22] timosachsenberg commented on #2725
@hendrikweisser sorry I am kind of busy so I probably will get to this later. Feel free to fix these issues. I think they are valid points and just have not been addressed so far.

1 - 3. valid and should be fixed (actually I though I added the optional input - maybe it is not in the nightly builds as these are broken)

4 - 5. @oliveralka do you recall if we addressed this already or at least talk

[2017-07-04 13:06] hendrikweisser commented on #2725
Thanks for the comments, Timo.

Regarding 7: I was referring to entries from the same row in the search database, i.e. where the mass and sum formula are the same, but different molecules (structures) are possible. These should definitely appear together, in my opinion.

[2017-07-04 14:31] jpfeuffer commented on #2241
When building QT5 I encountered that QT5 OpenGL is already deprecated. Maybe if we upgrade we should not directly rely on deprecated modules.
[code]

[2017-07-04 14:33] jpfeuffer commented on #2241
Anyone knows if that would lead to a lot of work? Or do you use this class and the dependency is actually superfluous?

[2017-07-04 15:11] timosachsenberg commented on #2725
hmm I think this may complicate visualization. For example, in KNIME you can directly visualize the SMILES column. If you now put multiple of them into a single cell, this would not work out of the box.

[2017-07-04 15:26] jpfeuffer commented on #2241
Puh.. to be honest I really think we should invest in upgrading. It is in there since 5.4 and there is no documentation left on how to build the module seperately.

[2017-07-04 16:50] jpfeuffer commented on #1584
This is getting prominent again since 16.04 is getting more widely used and we upgraded our contrib for VS2015 and are getting these errors in Windows CI.

[2017-07-04 17:02] jpfeuffer commented on #2241
BTW: Getting warnings on qt5 from homebrew and cmake 3.8
[code]

[2017-07-05 06:52] oliveralka commented on #2725
@timosachsenberg As far as I remember we have not looked into these specific issues. Our problem was that the files were not in the right location of share/chemistry - so more in the direction of 2 & 3.

[2017-07-05 12:16] jpfeuffer commented on #2241
Okay I changed the qt5 branch to use QOpenGLWidget instead of QGLWidget from the deprecated OpenGL module.
Remaining issues on macOS (some of them might have been present before the change):
- no text! (the renderText method was removed without replacement. I found a snippet somewhere to reimplement it but it does not work)
- the widget/subwindow opens in a quite small size (also the 2DView)
- zoo

[2017-07-05 12:33] timosachsenberg commented on #2241
cool. I think most of these problems might be changed semantics on the signals. We had this quite often during porting that a signal is now connected to the widget instead of the windows.
[code]

[2017-07-05 13:32] jpfeuffer commented on #2241
![screenshot 2017-07-05 15 32 06](https://user-images.githubusercontent.com/8102638/27866554-2149f3b0-6197-11e7-9b87-483901ed8910.png)

[2017-07-06 01:04] hroest commented on #1584
should be all fixed by

-  #2740
-  timosachsenberg#9
-  #2744

applying these patches I can get the tests working with Ubuntu 16.04 and boost 1.58

[2017-07-06 13:38] jpfeuffer opened #2747 "Cleanup WinCI Tests"
See for example http://cdash.openms.de/viewTest.php?onlyfailed&buildid=229889.
With #2744 and associated ones we are left with:

@enetz @lukaszimmermann
[code]

@hendrikweisser
`TOPP_FeatureFinderIdentification_2_out1	Failed	150ms	Completed (Failed)`

And probably some multithreading/configuration/windows API thing:
`StopWatch_test	Failed	18s 220ms	Completed (Failed)`

Could you have a look into w

[2017-07-06 14:39] #1584 closed

[2017-07-06 18:14] sagitter opened #2750 "COMPARISON/CLUSTERING/GridBasedClustering.h: compiler error"
Hello.

`OpenMS-2.2.0` does not compile on fedora with following error:

[code]

Full log: https://kojipkgs.fedoraproject.org//work/tasks/5831/20365831/build.log
Dependencies list: https://kojipkgs.fedoraproject.org//work/tasks/5831/20365831/root.log
Used hardware: https://kojipkgs.fedoraproject.org//work/tasks/5831/20365831/hw_info.log

[2017-07-06 20:30] hroest commented on #2750
hmm interesting, we have not touched that part of the code since years. Well, we anyways have to prepare a 2.2.1 release ...

it seems like this must be the compiler, @jpfeuffer have you ever tried GCC 7.1

[2017-07-06 21:45] jpfeuffer commented on #2750
I think we had a non-specific complaint with gcc6+ before.

[2017-07-06 21:57] jpfeuffer commented on #2750
What if we use the explicit constructor in that method? E.g. OpenMS::String("clustering")?

[2017-07-06 21:57] jpfeuffer commented on #2750
But this is most likely not the only case where we use it like this?

[2017-07-07 06:22] timosachsenberg commented on #2750
alternatively one could also change startProgress argument list to (..., const String label) const;

https://stackoverflow.com/questions/4369807/c-passing-a-string-literal-instead-of-a-const-stdstring

[2017-07-07 06:32] timosachsenberg commented on #2640
@mwalzer do you know if this error still occurs?

[2017-07-07 06:45] timosachsenberg commented on #2750
Preparing a fix (currently for develop)
https://github.com/OpenMS/OpenMS/pull/2754

[2017-07-07 10:58] timosachsenberg opened #2755 "sqlite CMake version check malfunctioning"
I currently encounter some errors related to sqlite.

1482: Error: Unexpected internal error (database is locked)
1/1 Test #1482: TOPP_TargetedFileConverter_test_1_prepare ...***Failed    6.27 sec

0% tests passed, 1 tests failed out of 1

Total Test time (real) =   6.39 sec

The following tests FAILED:
        1482 - TOPP_TargetedFileConverter_test_1_prepare (Failed)
Errors while running CTest

[2017-07-07 11:56] blankclemens commented on #2433
Update 2.2: The list got a bit shorter:

[code]

[2017-07-07 13:15] jpfeuffer commented on #2693
Hey @hendrikweisser . Since we introduced C11 now and probably need to drop support for <=2013, it would be nice to support the newest version 2017, too.
Could you create a PR to contrib with your changes?

[2017-07-07 13:31] timosachsenberg commented on #2750
@sagitter can you check if https://github.com/OpenMS/OpenMS/pull/2754 solves all compile issues on gcc 7? otherwise we might need to create a new build setup here.

[2017-07-07 14:47] hroest commented on #2750
@jpfeuffer this may actually be a good use-case for our container architecture where we could test gcc7 builds...if it is indeed only a gcc issue!

[2017-07-07 16:25] hroest commented on #2755
are you using multiple threads?

[2017-07-07 17:01] hroest commented on #2755
PS: which sqlite version are you using? from contrib?

[2017-07-07 17:49] sagitter commented on #2750
https://github.com/OpenMS/OpenMS/issues/2756 resolves the error reported in https://github.com/OpenMS/OpenMS/issues/2750#issue-241041706.

[2017-07-07 18:09] hroest commented on #2750
but it seems the only place the compiler complains! strange, also clang4 or other gcc versions never complained ... maybe its because it is a template class?

[2017-07-07 18:26] hroest commented on #2693
Also, can we try and use boost 1.62 or 1.63 for different platforms as these are currently supported by debian/ubuntu - it would make life for everybody a bit easier to have the same boost versions across platforms. @hendrikweisser do any of these work with MSVS 2017 ?

[2017-07-07 20:08] hendrikweisser commented on #2693
I'll have a look at it next week.

[2017-07-08 09:12] #2750 closed

[2017-07-08 09:55] mwalzer commented on #2640
I can check next week

[2017-07-09 17:56] hroest commented on #2726
seems like #2728 worked

[2017-07-09 17:56] #2726 closed

[2017-07-09 17:57] hroest commented on #2711
fixed by #2723

[2017-07-09 17:57] #2711 closed

[2017-07-09 17:59] hroest commented on #2640
on the other hand we know that ubuntu sid with gcc 7.0 works, see this docker file: https://github.com/OpenMS/dockerfiles/pull/4/commits/1cd01573dbac84be4cd4d010555a2aa9a452c76a

now this is not with the contrib but with such a bleeding edge distro, you dont need the contrib any more and can get everything from package management.

Still it would be nice if contrib + OpenMS would compile and work

[2017-07-09 18:30] jpfeuffer opened #2759 "Travis timeouts on QT5 branch"
It seems like the new Travis containers/machines are prohibitively slow.
Even by downloading a ready-made docker container lets us build maybe 20% of the library only.
Any ideas?

[2017-07-09 18:55] hroest commented on #2759
hmm not sure why we wont just use the solution from here with precise:

https://github.com/OpenMS/OpenMS/pull/2728

and I am sure we can use the "sourceline" cmd also to make it work in trusty? Or is there a specific need to use docker containers (except speed which apparently doesnt work out).

[2017-07-09 19:11] jpfeuffer commented on #2759
No. I even moved the docker stuff to a new branch now. Was only a try for speed.
Based on the outcome we can try to apply your suggestion.

[2017-07-09 19:12] hroest commented on #2759
yes, why not move the feature/qt5 branch back again to where it was before?

[2017-07-09 19:22] jpfeuffer commented on #2759
that's what I did. moved my commits to feature/qt5-docker in case we want to try something similar in the future.

[2017-07-09 20:01] hroest commented on #2759
so I guess this is not really a blocker any more ...

[2017-07-13 17:24] #2460 closed

[2017-07-14 08:34] lukaszimmermann commented on #2454
@jpfeuffer  could you maybe again upload the workflow with the example data? Not sure where I saved it back then....

[2017-07-14 19:22] hendrikweisser commented on #2693
Sorry, I didn't have much for it this week. With `git diff` I only get the changes in the "CMakeLists.txt" (since only that comes directly from the repository). What should I do about Xerces-C++ and CoinMP?

[2017-07-14 19:46] hendrikweisser commented on #2693
Not tested, but 1.64 lists "Visual C++ 14.1" (which corresponds to Visual Studio 2017) under "Boost's additional test compilers", while 1.63 does not. :-(
(http://www.boost.org/users/history/version_1_64_0.html and http://www.boost.org/users/history/version_1_63_0.html, at the bottom.)

[2017-07-14 21:10] hroest commented on #2693
seems like you are right and getting it to work may not be trivial https://stackoverflow.com/questions/41464356/build-boost-with-msvc-14-1-vs2017-rc

well I guess that eventually 1.64 will also show up in the debian repos...

[2017-07-16 13:18] lars20070 commented on #2454
@tjeerdijk Does the MaxQuant-MSStats integration allow the import of protein groups to MSStats?

About two years ago I tried, but could not find suitable protein group data structures in MSStats. Is it now possible to import the complete `mzTab` content to MSStats?

[2017-07-17 11:35] lukaszimmermann commented on #2706
Will have a look

[2017-07-17 12:58] hendrikweisser opened #2777 "FeatureFinderMetabo uses start of feature as centroid RT"
FeatureFinderMetabo (FFM) doesn't adhere to the convention for feature (centroid) positions in OpenMS. From the documentation of the "Feature" class (http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/html/classOpenMS_1_1Feature.html):

FFM assigns the start of the RT range as the RT position of the feature, not the RT value of the elution peak apex. This means when a feature is represent

[2017-07-17 18:00] timosachsenberg commented on #2777
Sounds like a nasty bug. Can you trace it down to a line?

[2017-07-17 18:30] hroest commented on #2777
definitely does not look like the intention: https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/FILTERING/DATAREDUCTION/FeatureFindingMetabo.cpp#L894

[code]

which calls `MassTrace::getCentroidMZ` which is a cached variable that gets updated if you call the right functions on `MassTrace`, e.g. `MassTrace::updateWeightedMeanMZ` among others. But it looks like all mass traces are updat

[2017-07-17 21:36] hendrikweisser commented on #2777
Apologies, my bug report was definitely too general - I've now also seen features where everything looks okay. I'll check what went wrong in the problematic examples.

[2017-07-17 22:04] timosachsenberg commented on #2777
@hendrikweisser I think I recall that FFM starts at the apex and then tries to extend the mass trace on both sides. Sometimes it fails in one direction which would result in the apex beeing placed on the lowest/highest RT. Could this be the case?

[2017-07-18 07:52] timosachsenberg commented on #2241
Maximization fixed in https://github.com/OpenMS/OpenMS/commit/f9cd2d1514f98b6513d339cb77a16fa0cc1774a2

[2017-07-18 08:12] #2698 closed

[2017-07-18 09:06] hendrikweisser commented on #2777
@timosachsenberg: Yes, that could be the case. However, I definitely see examples where the apex is close to the beginning (in RT) of the detected feature, but not *at* the beginning, and the centroid RT is assigned incorrectly. In other cases, it looks like the elution profile detection, which splits some mass traces into multiple features, might play a role.

[2017-07-18 09:21] hendrikweisser commented on #2777
I'm looking at an example now where an elution peak from a 13C mass trace was cut into three parts. The middle bit (containing the apex) was joined together with the 12C trace and the 2*13C trace into a feature (good!). The parts on the left and right were turned into separate features, with centroids closest to the middle - which is where the max. intensity is, but still not ideal.

[2017-07-18 11:27] timosachsenberg commented on #2241
TOPPView_test fixed in https://github.com/OpenMS/OpenMS/commit/e0a9ba4b98dcc457cce3fa663ce92c71baaf639d

[2017-07-18 13:03] timosachsenberg commented on #2241
anyone willing to take a look at the 3D issue?

[2017-07-18 14:35] Matthias313 opened #2779 "Storing and exporting non-Unimod modifications (e.g. from MSFragger)"
Dear all,
I tried to use the MzTabExporter tool after the IDfilter which resulted in an error message, see below:
[code]

Currently, we use OpenMS2.1 and @lars20070 told me that this might have been fixed in the latest version (OpenMS2.2). If this is the case, we would start to update our version, otherwise it would be helpful if this issue could be fixed.

Furthermore, lars suggested that the pro

[2017-07-18 15:06] jpfeuffer commented on #2693
hey @hendrikweisser can you upload your modified contrib sources somewhere?
For the git diff, just open a PR to contrib. I can do the rest.

[2017-07-18 19:42] lars20070 commented on #2779
@timosachsenberg Does [this exception](https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/FORMAT/MzTab.cpp#L275) look familiar? Any idea why the `mod_identifier_` could be `null`? I will check tomorrow on `develop`.

[2017-07-18 19:55] hroest commented on #2777
one question is whether the elution profile detection recomputes centroid m/z and RT values or not? what happens when you run it without the elution profile detection?

[2017-07-18 21:59] hroest opened #2781 "[BUILD] migrate travis to trusty"
soon trusty will be the default:

https://blog.travis-ci.com/2017-07-11-trusty-as-default-linux-is-coming

so we should get it working...

[2017-07-18 22:00] hroest commented on #2781
PS: seems like it already is, but not for qt5 yet

[2017-07-19 10:40] hendrikweisser opened #2783 "AccurateMassSearch cannot write output file (regression)"
I've just updated OpenMS in KNIME and found that the AccurateMassSearch node in an existing workflow doesn't work anymore. The output in the KNIME log was:

So no useful information.

I then updated my local OpenMS installation and tried AccurateMassSearch there. I got the following (weirdly worded) error:

If I try to write to an output file with ending ".tsv", I get this instead:

So it seems th

[2017-07-19 12:36] lars20070 commented on #2779
@Matthias313 Here the probable reason for the crash.
[code]
The `pepXML` MSFragger output include a number of unknown mods such as `202.0413`. `IDFileConverter` puts `null` into these places which subequently leads to a crash in `MzTabExporter`.

[2017-07-19 12:39] timosachsenberg commented on #2779
yes seems as if special handling of unknown modifications would need to be added for MSFragger support

[2017-07-19 12:41] lars20070 commented on #2779
MSFragger output [MFA175.pepXML](https://www.dropbox.com/s/or58bgf0vmwunrz/MFA175.pepXML?dl=0).

[2017-07-19 12:54] lars20070 commented on #2779
Nothing close to `202.0413` is in `UniMod`. We need to talk to the MSFragger developers what this is.
Only then can we make full use of the MSFragger output.

[2017-07-19 13:05] timosachsenberg commented on #2779
I think this is a feature of open mass searches - looking for unknown modifications

[2017-07-19 13:06] timosachsenberg commented on #2783
maybe related to my change that forces checks of file extensions?

[2017-07-19 13:19] lars20070 commented on #2779
Unknown mods are not allowed in `mzTab`, right?
So we cannot report `MSFragger` results in `mzTab`.

[2017-07-19 13:26] timosachsenberg commented on #2779
see the specification document: CHEMMOD:+123.4567 defines an unnamed modification with delta mass of 123.4567

[2017-07-19 15:56] hendrikweisser commented on #2783
Yep! See PR #2784.

[2017-07-20 12:36] jpfeuffer commented on #2747
Yes, can confirm that this solved the first two issues thanks.

[2017-07-20 14:48] jpfeuffer commented on #2645
Seems fine now I think.

[2017-07-20 14:48] #2645 closed

[2017-07-20 15:41] hroest commented on #2779
I think I recently worked on unknown masses to get it to work at least inside OpenMS: #2530

[2017-07-21 09:38] lars20070 commented on #2779
`V(MOD:00756)KLGC(Carbamidomethyl)SFSGKP` is the culprit.

[2017-07-21 10:01] lars20070 commented on #2779
During `pepXML` to `idXML` conversion, `115.0633` turns to `MOD:00756`.
Why?

[2017-07-21 10:05] timosachsenberg commented on #2779
Guess it did match a Unimod mass and residue

[2017-07-21 10:30] lars20070 commented on #2779
The only close mass is `115.0667` of Unimod `#866`.
But in this case I would expect `ICPL:13C(6)2H(4)` and not `MOD:00756`.

@hendrikweisser @cbielow Any comment from `pepXML` experts?

[2017-07-21 11:10] enetz commented on #2779
`MOD:00756` is `4-hydroxy-D-valine` with a mass of `115.063329` from the PSI-MOD

[2017-07-21 14:15] lars20070 commented on #2779
@timosachsenberg Guess this is it.
https://github.com/OpenMS/OpenMS/blob/develop/src/topp/MzTabExporter.cpp#L742

`MOD:00756` is a PSI-MOD, but `mzTab` allows only Unimod.

[2017-07-21 14:39] timosachsenberg commented on #2779
where does it say that only Unimod is allowed?

[2017-07-21 14:53] Matthias313 commented on #2779
maybe because of that line?
"// MzTab standard is to just report Unimod accession."

[2017-07-21 16:02] hroest commented on #2779
maybe we should remove matching against non-unimod by defauly alltogether?

[2017-07-21 19:52] timosachsenberg commented on #2779
Ok I see. According to the specification it's more a recommendation.  Probably best to stick to Unimod only for now and use chemmods for the other cases.

[2017-07-23 08:10] lars20070 commented on #2779
+1

Once this is fixed, we continue with testing `MSFragger` in the `OpenMS` framework. We would need the complete `MSFragger` output in `mzTab` including mods which are neither `Unimod` nor `PSI-Mod`. All our post-processing is `mzTab`-based.

[2017-07-23 08:38] timosachsenberg commented on #2779
Ok I think would you would need to do is check all occurrences of getUniModAccession.

e.g.: https://github.com/OpenMS/OpenMS/blob/develop/src/topp/MzTabExporter.cpp#L238
can just add a CHEMMOD CvParam if the current modification if it has no UniModAccession.
Similar at the other positions, e.g.: https://github.com/OpenMS/OpenMS/blob/develop/src/topp/MzTabExporter.cpp#L743
you would not use a CvPa

[2017-07-23 09:58] sagitter opened #2790 "Incompatibilities with boost-1.64"
Hi all.

I'm rebuilding `OpenMS-2.2.0` against `Boost-1.64` for `Fedora` devel branch but it fails with following error:

[code]

No errors against `boost-1.63`.
I suspect there are some incompatibilities with the newer version of `boost`.

Full build log: https://kojipkgs.fedoraproject.org//work/tasks/9431/20689431/build.log

[2017-07-23 17:18] hroest commented on #2790
can you try patch it and add the following header

[code]

https://stackoverflow.com/questions/44534516/error-make-array-is-not-a-member-of-boostserialization

[2017-07-23 19:50] sagitter commented on #2790
The header fixes error, but even other files look needing correction.

[2017-07-24 10:54] #2783 closed

[2017-07-24 11:07] jpfeuffer opened #2791 "Test and AddressSanitizer error in SiriusAdapter"
[code]

[2017-07-24 16:35] sagitter commented on #2790
Patch used on Fedora to fix the error:
http://pkgs.fedoraproject.org/cgit/rpms/openms.git/tree/openms-2.2.0-fix-boost.164.patch

[2017-07-25 14:54] jpfeuffer commented on #2693
We have a build machine with VS2017 now. We could proceed.

[2017-07-25 18:49] jpfeuffer commented on #2562
Seems to work quite well with the new flag. I will close for now.

[2017-07-25 18:49] #2562 closed

[2017-07-25 18:53] jpfeuffer commented on #2558
Might have been solved too with the linked PR. We also updated the docu for QT4 Webkit.

[2017-07-25 18:55] jpfeuffer commented on #2549
Seems to be solved, too.

[2017-07-25 18:55] #2549 closed

[2017-07-25 18:57] jpfeuffer commented on #2556
solved with #2715

[2017-07-25 18:57] #2556 closed

[2017-07-25 21:46] #2558 closed

[2017-07-26 05:59] hroest opened #2799 "Provide mz and intensity iterators"
It would be convenient if MSSpectrum and MSChromatogram would provide iterators to access mz, rt and intensity iterators. One idea is to do it with `boost::make_transform_iterator` as discussed here: https://stackoverflow.com/questions/36824062/how-can-i-make-an-iterator-over-fields-of-containers-items

[2017-07-26 06:28] hroest commented on #2799
I made a toy example how that could work:

[code]
and compiled it
[code]

and I looked at the assembly code produced by the three functions:

for `double exampleCode_vectDouble(std::vector<double> peakList)`:
[code]

for `double exampleCode_vectPeak_regularIt(std::vector<Peak1D> peakList) `:
[code]

and for `double exampleCode_vectPeak(std::vector<Peak1D> peakList) `:

[code]

as one can see the t

[2017-07-26 10:45] jpfeuffer commented on #2640
I can also let our nightlies download another (newer) compiler. Was planning that anyway. Or as @hroest said, we test them with the Docker containers.

[2017-07-26 12:19] Leon-Bichmann opened #2800 "Percolator requires system library"
Building OpenMS 2.2 on our cluster results in the following error trying to run percolator:

percolator: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by percolator)

[2017-07-26 12:23] jpfeuffer commented on #2800
I guess you need a newer compiler. It was probably with a newer one than what's on the cluster.

[2017-07-26 12:25] jpfeuffer commented on #2800
Of course you could also built Percolator on your own and add that more compatible version to the THIRDPARTY instead. I think we used the downloaded ones.

[2017-07-26 12:25] Leon-Bichmann commented on #2800
Ok, the complier was gnu4.9

[2017-07-26 12:26] jpfeuffer commented on #2800
Hmmm.. sounds like it should have 2.14.

[2017-07-26 12:26] jpfeuffer commented on #2800
Which Linux?

[2017-07-26 12:29] Leon-Bichmann commented on #2800
Scientific Linux 6.6

[2017-07-26 12:32] jpfeuffer commented on #2800
Hmm.. well the Percolator  executable is built for Ubuntu.

[2017-07-26 12:42] hendrikweisser commented on #2693
@jpfeuffer: Done. I've opened the pull request (https://github.com/OpenMS/contrib/pull/44) and emailed you the updated project files.

[2017-07-26 13:05] jpfeuffer commented on #2800
Maybe we should switch to the CentOS binary in general. It has a much lower GLIBC dependency. Works on my Debian, too.

[2017-07-26 22:11] hroest commented on #2800
this is anyways a good idea since projects like manylinux also need to work on CentOS 5 - so having OpenMS compile there would be great

[2017-07-27 08:31] Matthias313 commented on #2779
@timosachsenberg thanks for all your efforts on this! =)
How can I check all the occurrences of getUniModAccessions?
Do I need to alter the code somehow?

[2017-07-27 08:58] hendrikweisser commented on #2790
I'm using OpenMS with Boost 1.64 on Windows and it seems to work fine.

[2017-07-27 09:20] timosachsenberg commented on #2779
Yes. Unfortunately some programming is required. Can't promise when I get to work on this. Got quite some stuff on my table and we officially don't support msfragger yet.

[2017-07-27 15:47] hendrikweisser opened #2803 "Problems with Linux (Ubuntu 16.04) build instructions"
I just finished installing OpenMS on a fresh Ubuntu 16.04.2 LTS system. Following the build instructions [here](http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/html/install_linux.html), I noticed the following discrepancies:
1. In the "list of required packages and libraries", for "Ubuntu/Debian (>= 16.04 <= 16.10)", instead of "libsvn-dev libgsl-dev", it should say "libsvm-dev libglpk

[2017-07-27 16:13] jpfeuffer commented on #2803
Can confirm. Updated the documentation. Maybe we can try full apt-get builds at some point.
Seqan should be available too in 1.4 now. Also coinor is theoretically available.

[2017-07-27 17:10] jpfeuffer commented on #2791
Also the test is failing on macOS and Ubuntu
[code]

[2017-07-27 19:44] hroest commented on #2790
well i think that #2793 does not really hurt and if it makes it compile, lets do it

[2017-07-27 19:48] hroest commented on #2803
This is a known bug and only fixed in 16.10 and higher: https://bugs.launchpad.net/ubuntu/+source/libwildmagic/+bug/1578222 it seems they forgot to link the libraries...

sometimes these values are cached and you need to delete the build folder and start from scratch if you change anything its generally a good idea to make a clean start with cmake

@jpfeuffer we should make sure our build instruct

[2017-07-27 19:49] hroest commented on #2803
@hendrikweisser from 17.04 we should be able to get everything from the package manager again: https://github.com/OpenMS/dockerfiles/blob/master/contrib/Dockerfile-bleeding

[2017-07-28 08:54] hendrikweisser commented on #2803
Thanks for updating the documentation, Julianus. How/when is that going to be reflected on the FTP server (http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/html/install_linux.html)?

Can we unify whether the "..._INCLUDE_DIR" settings point to "include" or to the subdirectory in it?

[2017-07-28 11:10] lukaszimmermann commented on #2454
So I'd go with writing an util which consumes the protein inference (idXML, mzid,..), the consensusXML, and the experimental design in some TSV format and writes the input table for MSstats. Does that make sense?
If so @jpfeuffer , could you perhaps provide the original consensusXML and idXML from Fido (or whatever), which you used in the iPRG2015 workflow? This is probably more useful for the uti

[2017-07-28 12:12] jpfeuffer commented on #2454
Ah yes. Forgot about it. But I am not sure if that is a good sample dataset since it does not contain any fractions and is very large. So you get high execution times with not even full complexity.
Will appear there:
https://mab.to/U98xOV6Ia

[2017-07-28 12:12] jpfeuffer commented on #2454
Experimental design is in the workflow.

[2017-07-28 12:25] lars20070 commented on #2454
FYI @LucasKook. Maybe we can contribute to the integration.

[2017-07-28 12:27] lukaszimmermann commented on #2454
Ok thanks. Let's see how far I get.

[2017-07-28 12:33] lars20070 commented on #2454
@lukaszimmermann As I understand, you plan to interface with OpenMS formats such as `idXML`, `consensusXML` etc.

Why not using pure `mzTab` only? What information is not in `mzTab`?

[2017-07-28 13:09] lukaszimmermann commented on #2454
I guess that this is also possible. Probably both input methods should be supported.

[2017-07-28 13:12] jpfeuffer commented on #2454
I think the use case would be to use such a tool instead of ProteinQuantifier. Where it doesn't do quantification but just merges, maps and transforms the inputs. I agree that in theory both mzTab and internal formats could be used. I guess I am slightly in favor of starting with out internal formats?

[2017-07-28 13:18] lukaszimmermann commented on #2454
Ok, for now I am going to proceed with the internal formats.

[2017-07-28 14:52] lars20070 commented on #2454
Ok. - FYI, some of [our post-processing scripts](https://github.com/ProteomicsScripts/ProteomicsScripts) in Freiburg are also still based on internal `consensusXML` but we are in the process of converting everything to `mzTab`.

[2017-07-28 15:09] jpfeuffer commented on #2454
I see and that's okay. I mean the new one wouldn't be a real post-processing "script" since it will be an integrated TOPP tool, that's why I think it makes sense to start with the internal formats.

[2017-07-28 16:23] lars20070 commented on #2454
Ok, now I get it. *Final results* could still leave our workflow as `mzTab`.

[2017-07-29 09:52] lukaszimmermann commented on #2800
PR with alternative executable for Linux open.

[2017-07-29 17:05] lukaszimmermann commented on #2663
Is this still an issue?

[2017-07-31 08:54] hendrikweisser commented on #2777
I'm still testing different parameter combinations, trying to find one that works well for my data. I've identified two (related) problems with the elution profile detection:
1. There's no single value of the "chrom_fwhm" (expected chromatographic peak width) parameter that works well for  high *and* low intensities. It either leads to splitting of broad, high-intensity peaks (see 2.) or fails to

[2017-07-31 12:33] zaidurrehman opened #2814 "RangeManager only works after calling updateRanges"
I am using a self-compiled version of pyOpenMS (I have commit 14bb753). However some methods of MSExperiement() return incorrect results, as shown below.
[code]
`getMaxRT()` and `getMinRT()` should return 1.0 for the specified example mzML file. I run into the same problem with any other mzML file.

[2017-07-31 13:51] hendrikweisser commented on #2779
There's a parameter `mod_tol_` in PepXMLFile that controls the mass tolerance for looking up modifications. Setting it to a smaller value may be a quick workaround for this specific case. (You'd have to change it in the PepXMLFile source code and recompile OpenMS.)

[2017-07-31 19:46] hroest commented on #2814
this seems to be an OpenMS issue, e.g. try:
[code]

then

[code]

[2017-07-31 19:50] hroest commented on #2814
I guess it makes sense as you need to say which MS level you want. Still the interface is confusing and it would make sense to have a check whether updateranges was called or not and inform the user accordingly when trying to do something that doesnt/shouldnt work...

[2017-07-31 19:50] #2814 closed

[2017-07-31 19:52] hroest commented on #2803
@jpfeuffer I thought that the ftp server gets updated nightly with the newest docu? did that happen here?

[2017-07-31 22:45] hroest opened #2815 "Travis timeouts"
We could address the travis timeouts by using the caching system smartly:

- they offer directory cache
- they offer `ccache`

https://docs.travis-ci.com/user/caching/

[2017-07-31 22:46] hroest commented on #2815
currently with ccache I can get the gcc builds down to 10 minutes: https://travis-ci.org/OpenMS/OpenMS/builds/259547633

[2017-07-31 23:39] koenvanderdrift opened #2816 "OpenMS on macOS Sierra not working"
I'm trying to run OpenMS on macOS 10.12.6 - I have not used it before, so cannot say if this happens with older versions of the OS or OpenMS as well.

I am using the OpenMS 2.1.0 binary, and added these two lines in my .bash_profile:

`export OPENMS_TOPP_PATH=/Applications/OpenMS-2.1.0`
`source $OPENMS_TOPP_PATH/.TOPP_bash_profile`

When I double-click TOPPAS, nothing happens, if I go to the Mac c

[2017-08-01 00:09] hroest commented on #2781
but now we have lots of timeouts see #2815

[2017-08-01 00:09] #2781 closed

[2017-08-01 00:48] koenvanderdrift commented on #2816
Additional info: I am using the OpenMS 2.1.0 binary, and added these two lines in my .bash_profile:

`export OPENMS_TOPP_PATH=/Applications/OpenMS-2.1.0`
`source $OPENMS_TOPP_PATH/.TOPP_bash_profile`

[2017-08-01 01:12] hroest commented on #2816
have you tried starting TOPPAS from the TOPP commandline? we have had issues with OSX blocking TOPPAS as it is not signed with a valid apple key

[2017-08-01 01:40] koenvanderdrift commented on #2816
Yes, that works. Thanks!

[2017-08-01 16:34] jpfeuffer commented on #2816
Also fixed in upcoming versions. See #2488. But only in the inofficial nightly installers, yet.

[2017-08-01 16:34] #2816 closed

[2017-08-01 17:06] jpfeuffer commented on #2800
Should be fixed with https://github.com/OpenMS/THIRDPARTY/pull/15. Thanks

[2017-08-01 17:06] #2800 closed

[2017-08-01 17:06] jpfeuffer commented on #2791
By the way. Was that PR supposed to also fix the tests in the nightlies. Just curious.

[2017-08-01 20:35] hroest commented on #2488
so how does this work, do we pay for a key to sign?

[2017-08-01 20:36] jpfeuffer commented on #2488
Signing with an Apple Developer ID seems to be enough. It is free with an Apple ID and XCode.

[2017-08-01 20:44] hroest commented on #2800
@jpfeuffer in case you are interested, I have a CentOS 5 version with gcc 4.8 running here - I think whatever we build here should run anywhere (it was literally designed for that purpose). I installed all the contrib and qt 4.8 on it:

https://hub.docker.com/r/hroest/manylinux_qt_contrib/

[2017-08-02 14:02] grosenberger commented on #2288
I'm trying to fix the issues in PR https://github.com/OpenMS/OpenMS/pull/2821.

[2017-08-02 16:59] poshul opened #2825 "SpectraMerger of X and Y produces errors when a single peak in Y maps to multiple peaks in X"
Using spectramerger to merge a number of large, profile spectra together produces output

ERRROR

Ultimately it was determined that mergeSpectra_ produced errors in output when the alignment vector produced by getSpectrumAlignment contained mappings of a single peak in the second spectrum to multiple peaks in the first (the behaviour of getSpectrumAlignment is described in SpectrumAlignment.h:58).

[2017-08-03 10:29] jpfeuffer commented on #2791
No, did not solve the test errors.

[2017-08-03 10:36] lukaszimmermann commented on #2791
I can have a look at the test error in the nightlies.

[2017-08-03 12:59] jpfeuffer opened #2827 "Use of Doxygen in CMake changed"
In recent versions, the use of the FindDoxygen Module changed and the way we use it was deprecated.
https://cmake.org/cmake/help/v3.9/module/FindDoxygen.html

Maybe we have to upgrade sometime soon. Still works though.

[2017-08-03 14:44] jpfeuffer opened #2828 "RNPXL Tests failing in nightlies on macOS"
https://abibuilder.informatik.uni-tuebingen.de/jenkins/job/openms_nightly_packaging/compiler=appleclang-7.3.0,os_label=elcapitan/lastCompletedBuild/testReport/

[2017-08-03 14:44] jpfeuffer commented on #2828
Because of fragment annotation changes.

[2017-08-03 14:48] jpfeuffer commented on #2828
Could be set ordering issues.

[2017-08-04 12:11] #2790 closed

[2017-08-04 14:05] jpfeuffer commented on #2713
Fixed in #2792

[2017-08-04 14:05] #2713 closed

[2017-08-04 14:05] jpfeuffer commented on #2755
Still occurs?

[2017-08-04 14:45] ysagon opened #2830 "eigen3 include"
I have an issue to build OpenMS from source. I'm trying to use as many external lib as possible and it's the case with eigen3

In this file:

    OpenMS/blob/develop/src/openms/include/OpenMS/TRANSFORMATIONS/RAW2PEAK/OptimizePick.h

line 49, there is an include for eigen3

    #include <eigen3/Eigen/Core>

Is this correct to prefix Eigen with eigen3?

My Eigen 3 library is installed without the ei

[2017-08-05 23:33] hroest commented on #2830
the easiest way to install is to follow the install instructions: http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/html/install_linux.html

can you indicate which system you are using? AFAIK it is only possible on Ubuntu systems 17.04 or higher to completely use system libraries and not install any libraries through contrib. Since these systems work out of the box, I also believe the pr

[2017-08-05 23:36] hroest commented on #2755
hmm it is possible that you have a version less than 3.15? though cmake should check for that

[code]

[2017-08-06 08:57] timosachsenberg commented on #2755
That might be the case. Will check on monday

[2017-08-07 06:57] ysagon commented on #2830
Yes I agree that the easiest way is to follow the instructions on the link.

I'm the sysadmin of an HPC cluster and I wanted to install this software globally.
In this cluster we are using CentOS 6.9.
All the softwares we provide to the endusers are provided/installed with the help of [EasyBuild](http://easybuild.readthedocs.io/en/latest/)
In EasyBuild, eigen3 is provided without the eigen3 direct

[2017-08-07 09:59] timosachsenberg commented on #2755
yep still have SQLITE 3.7
wonder why cmake did not complain

[2017-08-07 13:57] hroest commented on #2755
yes, it should, why else have the `REQUIRED`? so I guess the `find_package` is broken?

[2017-08-07 15:46] hroest commented on #2830
hmm I agree when looking at their own docu, it seems like they use `Eigen/Core` for includes: https://eigen.tuxfamily.org/dox/GettingStarted.html but there may be a reason for debian to use eigen3 in order to prevent name clashes - e.g. maybe its possible to install eigen2 and eigen3 at the same time?

in either case, it seems like `eigen3` is actually only used in 3 places:
[code]

so it should b

[2017-08-07 15:55] jpfeuffer commented on #2755
Hmm yes it seems a bit simple but I did not completely check it. The following seems to care about the version:
https://git.reviewboard.kde.org/r/105464/diff/1/download/71545/new/
BSD License

[2017-08-07 18:01] hroest commented on #2755
can Timo test it with his setup to check that it fails? if so, we can copy
it over (BSD licence)

On Mon, Aug 7, 2017 at 8:55 AM, jpfeuffer <notifications@github.com> wrote:

[2017-08-08 04:37] hroest opened #2835 "autowrap issues not captured in cdash"
We had an error in autowrap and the output of the Python script is not captured by cdash:

http://cdash.openms.de/index.php?project=OpenMS&date=2017-08-07 -- see travis-ci-OpenMS_OpenMS-fix_debug_py-265573a037ac...37272cc3ff24-clang++-noGUI info

cdash output is only the following C++ compilation and its errors:

[code]

and you have to change tools/travis/lnx-cibuild.sh to see what is wrong: http

[2017-08-08 07:41] #2830 closed

[2017-08-08 07:59] #2630 closed

[2017-08-08 16:48] jpfeuffer commented on #2791
#2831 did only fix the test on linux. On Mac there is a difference in the files.

[2017-08-09 07:47] lukaszimmermann commented on #2791
I can check later on Mac what is going on.

[2017-08-09 16:41] Leon-Klee commented on #2267
Is anyone still working on this? Our Immunology group is highly interested in this.

[2017-08-09 16:54] lukaszimmermann commented on #2267
We have SpectraSTSearchAdapter as an util. Would be nice to have people testing it.

[2017-08-10 07:40] lars20070 commented on #1443
@timosachsenberg What's the state of protein `mzTab` export?
Do you plan to replace `ProteinQuantifier` by `MSStats` and export `mzTab` this way?

[2017-08-10 15:20] oliveralka commented on #2791
Tests are working on my mac without any problems - OSX 10.12.6.

@jpfeuffer - is there a way to get the tmp-output from cdash
Mac:
http://cdash.openms.de/testDetails.php?test=42428390&build=232672

[2017-08-10 15:41] jpfeuffer commented on #2791
https://abibuilder.informatik.uni-tuebingen.de/jenkins/view/OpenMS/job/openms_nightly_packaging/compiler=appleclang-7.3.0,os_label=elcapitan/ws/build/

[2017-08-11 13:48] cbielow commented on #2355
I just ran into the same issue with typsin.
The straight forward solution seems to be to rename the parameter value to trypsin/p in the adapter.
Since trypsin is probalby used 99% of the time, this would solve the majority of headaches.
@jpfeuffer other enyzme names which are worth changing?

If a perfect mapping of names is not possible, we should augment the parameter docs and the tool descripti

[2017-08-11 14:25] hendrikweisser opened #2848 "Website: add publications"
It would be great if my last two OpenMS-related papers could be added to the list on the website (http://www.openms.de/publications/):

- https://www.ncbi.nlm.nih.gov/pubmed/27786492
- https://www.ncbi.nlm.nih.gov/pubmed/28673088

Could they also be linked on the relevant workflow pages, please?
- for the first: http://www.openms.de/workflow/proteogenomics/
- for the second: http://www.openms.de/w

[2017-08-11 14:29] jpfeuffer commented on #2355
I mean potentially you have to add a "/P" to all of them. It's just a shame that we can't use our entries in EnzymeDB because they do not agree.

[2017-08-11 14:32] jpfeuffer commented on #2355
Maybe we can map them to the enzymes with proline rule and add an option to peptide indexer that disables proline rule when looking up the DB?

[2017-08-11 14:34] jpfeuffer commented on #2828
Still not fixed on Linux gcc4.8
nightly branch, sha 52ce45bd334514bb17144032b0b5009a6cd5d148

[2017-08-11 14:40] jpfeuffer commented on #2828
Labelled it blocker because I want to enforce test error free nightly packages before the release.

[2017-08-11 14:41] jpfeuffer commented on #2791
Labelled it blocker to get error free nightlies before release.

[2017-08-11 14:42] jpfeuffer commented on #2747
StopWatch fixed in #2797

[2017-08-11 16:25] timosachsenberg commented on #2828
passes on my gcc 4.8.5

[2017-08-11 16:26] timosachsenberg commented on #2828
when I cklick on https://abibuilder.informatik.uni-tuebingen.de/jenkins/job/openms_nightly_packaging/compiler=appleclang-7.3.0,os_label=elcapitan/lastCompletedBuild/testReport/ I don't see it failing. Am I looking in the wrong spot?

[2017-08-11 16:27] jpfeuffer commented on #2828
Yes now it only fails on linux. https://abibuilder.informatik.uni-tuebingen.de/jenkins/job/openms_nightly_packaging/compiler=g++-4.8,os_label=ubuntu_1404/lastCompletedBuild/testReport/

[2017-08-12 09:02] bgruening opened #2850 "ConsensusID (2.2.0) generates invalid sequences"
This is the ConsensusID file generated:
[code]

and it crashes in a subsequent IDConflictResolver step with:

[code]

[2017-08-12 11:47] jpfeuffer commented on #2848
@timosachsenberg Can you add this to our google scholar and export the bib files, then I put it on the website.

[2017-08-12 15:28] #2828 closed

[2017-08-13 14:36] lukaszimmermann commented on #2791
Currently building OpenMS on Elcapitan. Let's see if I can dig something up.

[2017-08-16 07:26] timosachsenberg commented on #2848
Ok here it is:
https://gist.github.com/anonymous/ac5cc2627b54f56731261c7ab9e14215

[2017-08-16 07:37] timosachsenberg commented on #2850
Hi @bgruening sorry for the late answer.
Can you give some information how this file was generated? It seems that the idXML was generated using a current OpenMS version (which now distinguishes N-terminal modifications and modifications at the first amino acid by putting a '.').
Could it be that an old version of OpenMS that is not compatible with the new encoding was used by accident?

@lars20070

[2017-08-16 09:12] cbielow commented on #2497
Since users currently have a hard time getting the correct parameters of PeptideIndexer for XTandem idXML, i'd suggest we simply

1) allow the extended N-terminal protein cleavage of XTandem within EnzymaticDigestion::isValidProduct(), when methionine_cleavage is true (while renaming the parameter to allow_nterminal_protein_cleavage).
-- this should not lead to any false positives, even for other

[2017-08-16 16:06] jpfeuffer commented on #2848
@hendrikweisser How are you envisioning the linking? Is the ncbi link on the workflow page enough? Or do you want the bibtex to show up there?

[2017-08-16 16:07] jpfeuffer commented on #2848
By the way @timosachsenberg.  The deNBI paper is missing, too.

[2017-08-16 16:25] timosachsenberg commented on #2848
damn...

[2017-08-16 16:26] jpfeuffer commented on #2848
I added it to the website bib. But it needs to go to Gscholar (and potentially to the current deNBI reports ;) )

[2017-08-16 16:34] jpfeuffer commented on #2848
Otherwise. Finished here.

[2017-08-16 16:34] #2848 closed

[2017-08-16 20:11] jpfeuffer commented on #2747
Last error on Windows is the FeatureFinderIdentification_test.
[code]
@hendrikweisser Any thoughts? Could this be a problem with different random number generators? Or a sorting difference?

[2017-08-17 22:13] jpfeuffer commented on #1252
@cbielow You were looking for more exact peak memory usage, too, right?

[2017-08-18 06:46] cbielow commented on #1252
yep. For Windows, this is solved now in #2861: it reports "working set" and "peak working set", and matches exactly what the Windows Task Manager is reporting.
As Hannes said, there are a hundred ways you can look at memory consumption, but this seems like a nice solution (at least for the benchmarks im running).
However, getting peak memory usage on Linux seems a little bit more complicated... so

[2017-08-18 07:24] bgruening commented on #2850
@timosachsenberg you seem to be right. We used on older dataset as input. Is the general recommendation that we need to rerun the entire pipeline with every minor OpenMS release?

Will close for now, but I guess a better error message would be great when encountering these incompatible changes.

Thanks!

[2017-08-18 07:24] #2850 closed

[2017-08-18 08:29] timosachsenberg commented on #2850
I think the problem should only happen if you use the new file with an older version. We took care to make the import backward compatible. If this is not the case there might be a bug hidden somewhere.

[2017-08-18 23:30] hroest commented on #1252
I have been using https://github.com/hroest/OpenMS/commit/ce7c90e48c685764f2e9430472bb8d3e8cd87a3c for my PLOS One paper and that matches pretty well with what `top` is reporting

[2017-08-20 16:21] lars20070 commented on #2850
As @timosachsenberg pointed out, the changes https://github.com/OpenMS/OpenMS/pull/1970 should be backward compatible, see [here](https://github.com/OpenMS/OpenMS/pull/1970/files#diff-beffe43c3b080691f4ef639afd5a0aa2R783).

@bgruening Please send me the `idXML` if this crash occurs in OpenMS 2.2.0.

[2017-08-25 00:39] tantrev opened #2869 "pyopenms install error with Anaconda v2.7 Python"
When trying to install pyopenms on a Python v2.7 installation (Anaconda - Mac OS v10.12.6 or Windows 2008 R2 Server Enterprise) via pip with the following commands:

[code]

the following error results:

[code]

Any idea what's going wrong?  Thank you in advance.

[2017-08-25 00:50] tantrev commented on #2869
For what it's worth, only installing with the latest pyopenms causes the issue.  Everything goes smoothly when the following command is used:

[code]

[2017-08-25 12:15] grosenberger commented on #2869
We did have problems with the macOS 2.1 and 2.2 builds and are working on a fix. Could you please try the development wheel from https://github.com/OpenMS/OpenMS/pull/2821 and let me know whether it worked? We will then upload the 2.2 builds to PyPI.

[2017-08-26 03:03] tantrev commented on #2869
That did the trick for my mac, thank you!  Unfortunately, the Windows version with Python v2.7 still doesn't seem to work on Windows 2008 R2 Server Enterprise (same ImportError as above).  It seems that most of the current wheels for Windows are only for Python v3?

[2017-08-28 02:20] hroest commented on #2869
Sorry to hear about your troubles, a few points

- yes, Python 2.x support is discontinued as this is technically impossible with newer versions of OpenMS (switch to C++11)
- we will also only support 64bit architecture from 2.2 onwards

can you let us know whether you are using a 32bit or 64bit system? can you test with which versions the error occurs:
[code]

[2017-08-29 11:37] hendrikweisser opened #2872 "TOPPView: wrong column headers in "Scan view""
The "Scan view" window in TOPPView shows a table with information about the scans in an mzML file. The format differs between files with spectra (columns: "MS level", "index", "RT", "PC m/z", ...) and files with chromatograms (columns: "type", "index", "m/z", "Description", "rt start", ...).

The problem is that once a chromatogram file is opened, the corresponding column headers are applied for a

[2017-08-30 20:19] tantrev commented on #2869
Thank you both for the kind help, @hroest and @grosenberger.

The following commands are successful on my Mac's 64-bit v2.7 python installation (from Anaconda):
[code]
This command is unsuccessful:
[code]
returning the following error:

Thanks also for the heads-up about the discontinuing v2.7 python support - I was just been trying to maintain compatibility with [Optimus](https://github.com/Molec

[2017-09-01 07:55] oliveralka opened #2876 "Compile warnings [-Wdouble-promotion]"
There are a lot of
`warning: implicit conversion increases floating-point precision: 'IntensityType' (aka 'float') to 'double' [-Wdouble-promotion]` warnings related to `getIntensity()`,

e.g.
[code]

What is the reason that mostly float is used in the case of PEAK1D IntensityType instead of double?

I can static_cast<> a few of those warnings, but I'm wondering if there is a better solution.

[2017-09-02 16:42] lukaszimmermann opened #2883 "X! Tandem version for release 2.3"
For the 2.3 release, do we want to switch to X!Tandem ALANINE or rather stick with VENGEANCE? It might be the case that the XTandemAdapter might need to be adjusted, but I don't know yet.

[2017-09-04 12:45] timosachsenberg commented on #2883
I think it performed worse so we did not include it

[2017-09-04 13:20] lukaszimmermann commented on #2883
Ah, I think I remember the discussion. Then I guess  we stick with VENGEANCE.

[2017-09-04 15:43] #2883 closed

[2017-09-05 15:26] lukaszimmermann opened #2889 "checker.php for release 2.3"
Output of checker.php for release 2.3 can be found here:

https://www.dropbox.com/s/xc972urdw803p7x/checker_out.txt?dl=0

Mostly missing tests and missing maintainers in the files.

[2017-09-05 20:13] lukaszimmermann commented on #2791
Should be solved.

[2017-09-05 20:13] #2791 closed

[2017-09-06 11:47] lopippo opened #2894 "build error - failed type conversions"
Greetings,

building OpenMS feature/qt5_working on Debian sid, I stumble upon this error:

In file included from /<<PKGBUILDDIR>>/src/openms/source/COMPARISON/CLUSTERING/GridBasedClustering.cpp:35:0:
/<<PKGBUILDDIR>>/src/openms/include/OpenMS/COMPARISON/CLUSTERING/GridBasedClustering.h: In member function 'void OpenMS::GridBasedClustering<Metric>::cluster()':
/<<PKGBUILDDIR>>/src/openms/include/Op

[2017-09-06 15:42] hroest commented on #2241
I have much worse issues with the 3D view on Linux: it basically shows up empty:

![3dview_1](https://user-images.githubusercontent.com/464014/30120877-14875a86-92f8-11e7-9b80-8a1e61d40a91.png)

only  by *very skillful* clicking and moving I can produce the following:

![3dview_2](https://user-images.githubusercontent.com/464014/30120898-22323868-92f8-11e7-9295-20079cdd6c7f.png)

it seems that the

[2017-09-06 15:48] hroest commented on #2241
I suspect this has to do with the changes by @timosachsenberg as I have now tested the merge commit 2f9938bfb5ea524255d6ec18997b368033910dc9 (with the following patch applied to make it compile https://github.com/hroest/OpenMS/commit/6c82a61c1c9849b2aa7a290295dccf247a56ca96) and at least I get a working 3D view even though there is a lot of strange updating happening when I pan around. But it seem

[2017-09-06 18:48] hroest commented on #2241
I have a fix now for this behavior in https://github.com/OpenMS/OpenMS/pull/2895 - please test on OSX and Windows as well if possible.

[2017-09-06 19:41] hroest commented on #2894
Hi

Thanks for reporting this, I think the branch you have is outdated. I suggest to use the feature/qt5 branch which has more fixes and I have just tested a few minutes ago. It compiles on my Ubuntu 16.04 laptop. See also this tracking feature: https://github.com/OpenMS/OpenMS/issues/2241

[2017-09-06 19:41] #2894 closed

[2017-09-06 19:43] hroest commented on #2876
I think the reason is that somebody agreed that we would store intensity as 32bit float in mzML and thus the default data type would be flota (m/z is stored by defauly as 64bit double). I dont think we need 64bit accuracy for intensity, so it saves some space on disk and in memory.

[2017-09-06 19:44] hroest commented on #2869
@tantrev any chance that Optimus will also be available for Python 3.x in the future?

[2017-09-07 12:53] cbielow opened #2897 "missing C++11 compile flag"
older but still supported compilers, namely g++ 4.8 and 4.9 require '-std=c++11' flag to be set, otherwise openms compilation will fail.
For g++ 5 this problem does not exist, since C11 is the default (g++ 6 even has C14).

We need to decide if we support g++ 4.8+ (and hence need the flag in cmake/compiler_flags.cmake)
or require g++ 5.x.
In any case, Linux install instructions need updating.

[2017-09-07 13:32] hroest commented on #2897
this is a very good point and we do need g++ 4.8 for a couple of things, among other the manylinux wheels that we build (see #2820) which are based on CentOS 5 - see here for a rationale: https://github.com/pypa/manylinux#docker-images this docker image provides g++ 4.8 as the default compiler

I think with g++ 4.8 we support all of C++11 (see https://gcc.gnu.org/projects/cxx-status.html "GCC 4.8.

[2017-09-08 14:27] cbielow opened #2899 "XMLHandler's StringManager needs to go!"
just documenting this here; implementation will probably take 1-2 days, but could be done piece-by-piece.

while looking at the read/write performance of our XML files, I stumbled upon our long-forgotten `StringManager` class which is part of the XMLHandler and therefore affects all our Xerces-based xml reading. In short, it takes ownership of every string which is passed from xerces to our intern

[2017-09-09 08:52] cbielow commented on #2899
another workaround: using the vectors as before but as a ring-buffer of fixed size (here 100), this is what happens to the Mem & runtime:
[code]
after:
[code]

That's **30% speed increase and 50% memory decrease**. We can expect similar improvements for many XML formats (when reading). PR coming up.

[2017-09-09 17:32] lukaszimmermann commented on #2706
Included by #2804

[2017-09-09 17:32] #2706 closed

[2017-09-09 18:35] timosachsenberg commented on #2899
Nice find!
I would probably prefer automated memory management with unique_ptr instead of the ring buffer.
Something in the line of:
[code]

[2017-09-09 21:19] cbielow commented on #2899
Agreed. But this change was doable in 10min. The other one takes more time to implement but should also be a bit faster due to hot caches.

--
Sent via mobile phone.

Am 9. September 2017 20:35:20 MESZ schrieb Timo Sachsenberg <notifications@github.com>:

[2017-09-10 11:35] timosachsenberg commented on #2899
by the way. Why do these need to be stored?
Can't we just free them after transcoding like in this example:
https://resources.oreilly.com/examples/9780596007614/blob/master/14-4.h
From the C++ cookbook?

[2017-09-10 12:06] timosachsenberg commented on #2897
I thought cmake would take care of this by requiring  c11?

[2017-09-10 18:13] hroest commented on #2897
yes, when looking at the actual code produced, this does indeed seem to be the case

[2017-09-10 18:15] hroest commented on #2897
Yes, this seems indeed to be the case, so I guess we do not need to change anything. I am testing on CentOS 5.11 right now to test this

$ make VERBOSE=1 OpenMS

[  4%] Building CXX object src/openms/CMakeFiles/OpenMS.dir/source/CONCEPT/Constants.cpp.o
cd /openms-build-cp27-cp27mu/src/openms && /opt/rh/devtoolset-2/root/usr/bin/c++  -DBOOST_ALL_NO_LIB -DOpenMS_EXPORTS -DQT_CORE_LIB -DQT_NETWORK_LI

[2017-09-10 18:45] hroest commented on #2899
yes, the only reason we need to store them is when the caller assumes that  the StringManager takes ownership of the `char *` ptrs. However, changing who owns these ptrs this late into the game *will* lead to memory leaks. Just look at what `StringManager::convert` does:

[code]

so the StringManager takes ownership and all the ptrs are valid until the StringManager gets deleted. With a lot of str

[2017-09-10 19:12] hroest commented on #2899
also we should maybe remove some abstraction layers and really think about where these strings ultimately end up. Often we only need them for very short time, and often we can make some safe assumptions (e.g. they are all ASCII and dont need to be modified). See e.g. MzMLHandler

[code]
which will execute the following

[code]

first of all, `StringManager::convert` has to assume that the tag may

[2017-09-10 19:13] hroest commented on #2899
PS: for conversions from `char *` to `XMLCh *` I think using Timos approach with the unique_ptr is the best way to go.

[2017-09-10 19:25] hroest commented on #2897
ok, I just tried building on CentOS 5.11 and it works perfectly, -std=gnu++11 gets added automatically for OpenMS (but not OpenSwathAlgo)

[2017-09-10 19:25] #2897 closed

[2017-09-10 19:29] hroest commented on #2899
@cbielow can you provide an example file for testing?

[2017-09-10 19:34] hroest commented on #980
should we close this after #2734

[2017-09-11 06:45] #980 closed

[2017-09-11 13:06] kernursula opened #2904 "XMAn Mutated-Peptide database"
I would like to use the XMAn mutated-peptide database (PMID: 25211293) in OpenMS workflows.
The header of the entries look like this:
```>CANCER_sp_Q969R8,ITFG2_HUMAN Integrin-alpha FG-GAP repeat-containing protein 2|c.560C>T|p.S187L|DSLLVTL|Missense|COSMIC|Large intestine(1)```
Unfortunately peptide indexer doesn`t work with this kind of header. Is it possible to change the rules for  protein ide

[2017-09-11 17:30] zaidurrehman commented on #2904
This [python script](https://github.com/ProteomicsScripts/ProteomicsScripts/pull/4) should modify the headers.

[2017-09-12 06:15] cbielow commented on #2904
the rules for parsing FASTA files are pretty universal. For the headers: Everything up the first (white)space character is the identifier, everything that follows is description.
This also applies to our parser.

So, if you want the whole header to serve as identifier, you can simply remove all spaces (e.g. replace by underscore or some special character). That should solve the problem.

[2017-09-12 10:42] enetz opened #2910 "OpenMS 2.3 Workflows"
I am currently updating our workflows with OpenMS 2.3 nodes.

Making OpenMS nodes using KNIME SDK and GenericWorkflowNodes by following our github wiki page works quite well.

Here are the remaining issues:
1. `XTandemAdapter` produces files, that `IDPosteriorErrorProbability` can not handle.
This basically breaks all the workflows, where `XTandemAdapter` is used (e.g. consensus peptide ID, label-

[2017-09-12 11:00] hendrikweisser opened #2911 "Annotate peaks in an mzML file?"
In TOPPView it is possible to put annotations (labels) on individual peaks in a spectrum. Can such annotations be written to/read from mzML files? (In my tests using right click -> "Save" -> "Visible layer data" in TOPPView this didn't work.)

I would like to annotate peaks in MS2 spectra that match theoretical spectra of RNA sequences. Unfortunately I can't use the "Identification view" in TOPPVi

[2017-09-12 11:19] timosachsenberg commented on #2911
Hi Hendrik,
I think mzML is not primarily intended for this and a better solution would be to add support to our internal data structures and idXML. We sketched this some time ago in https://github.com/OpenMS/OpenMS/pull/1659

That being said - we are now supporting loading/storing/manual editing of fragment annotations using the fragment_annotation vector in PeptideHits. A quick hack would probab

[2017-09-12 12:19] enetz commented on #2910
I solved number 3, the `QCPrecursorReader` node (thanks @jpfeuffer ),
but another issue popped up in the `Peptidogenic Featurespace Plot` metanode,
the `R View (Table)` does not work.
There was a filepath issue at first:
`theoretical_masses_file<-gsub("file:/","", theoretical_masses_var)`
was used and turned `file:/home/username...` into `home/username...` for absolute filepaths on Linux.
I guess

[2017-09-12 12:33] timosachsenberg opened #2913 "FalseDiscoveryRate tool slow for large number of ids"
FDR calculation on ~300 000 IDs takes nearly 20 minutes indicating some inefficiencies.
Might be worth a closer look.

[2017-09-12 12:35] jpfeuffer commented on #2910
Great thank you @enetz.

1) I will create an update site of our release candidate so more people can test it.

2) Yes, please change to more popular/default packages (contact Marc)

3) @mwalzer maybe knows more. Hmm it could be the transport of objects between R Workspace nodes in KNIME. You can share a Workspace between consecutive R Nodes in KNIME.

4) We would need to ask @hendrikweisser for in

[2017-09-12 14:16] oliveralka commented on #2910
@enetz

2. Please try following code for the PCA (R)
[code]

[2017-09-12 14:39] kernursula commented on #2904
Thank you cbielow for the info. As a Biologist using OpenMS I think it would be very user friendly if there was an option to change the name parse rule if needed (in case you don`t have someone in the lab like zaidurrehman who can reformat a database)

[2017-09-12 14:39] #2904 closed

[2017-09-12 14:45] enetz commented on #2910
![pca](https://user-images.githubusercontent.com/15832022/30332063-baeb7728-97d9-11e7-957a-e3e5a680c054.png)

this is how the PCA looks like with that code, is that fine?

[2017-09-12 14:48] jpfeuffer commented on #2910
Ok KNIME Updatesite should be accessible from
https://abibuilder.informatik.uni-tuebingen.de/archive/openms/knime-plugin/updateSite/RC
now. Just add it under Install New Software. I have no categories yet. Just choose GKN and OpenMS. Of course try the fresh basic KNIME 3.4 installer so you do not have a previous OpenMS version.

[2017-09-12 14:49] jpfeuffer commented on #2910
The PCA reminds me of previous plots with circles. For me it is fine.

[2017-09-12 16:21] jpfeuffer commented on #2910
Regarding XTandem: The E-Values look like the following. No wonder that IDPep cannot fit anything. Why are there so many 1e-15s? What changed?
![screenshot 2017-09-12 18 20 25](https://user-images.githubusercontent.com/8102638/30336967-2ad3dbae-97e7-11e7-9070-4e46c4d8cde2.png)

[2017-09-12 16:27] jpfeuffer commented on #2910
1e-15 seems like a hard cutoff for XTandem E-Values (or one of our readers). But it is not really close to min positive float or something. ?

[2017-09-12 16:48] cbielow commented on #2904
@kernursula The point is understandable, but exposing a parse rule only fixes a problem which should not be there in the first place, i.e. the identifier should tell everything relevant to the problem (algorithmically speaking). The database was clearly 'custom-made', so it should be possible to get it right or use the approach I suggested above.
The Maxquant community has a long and mixed-success

[2017-09-12 17:11] timosachsenberg commented on #2910
@hendrikweisser do you have any idea why this could happen?
Also, there are some changes like
https://github.com/OpenMS/OpenMS/commit/7b3f432aa421230f309b28393da1b388246e7ba8?w=1#diff-39d8c25dca3b78012768d67d4e90a7dfL76
that could be related

[2017-09-13 08:40] oliveralka commented on #2910
Tested the Metabolite ID Workflow and ran into some issues:

Missing Value Node gives Warning (which seems to be Ok in this case):
`WARN  Missing Value        0:226:143  The current settings use missing value handling methods that cannot be represented in PMML 4.2`

Error with R VIEW (Table) Node - this is a KNIME issue
[code]
@enetz Have you had similar issues?

MacOs Sierra 10.12.6, KNIME 3.4.1

[2017-09-13 08:49] timosachsenberg commented on #2910
hmm already failing in basic workflow
[code]

[2017-09-13 09:01] oliveralka commented on #2910
@timosachsenberg
basic_peptide_identification works for me without any problems.
MacOs Sierra 10.12.6, KNIME 3.4.1 basic

[2017-09-13 09:02] timosachsenberg commented on #2910
also crashes for X!TandemAdapter node

[2017-09-13 09:29] enetz commented on #2910
@oliveralka that Error in the R View node looks very similar to what I have in an R View node in the QC workflow, although it works for me in Metabolite ID.
You can try to look into the stderr output of the R View node, that might give some hints about what is wrong in the R code.
The KNIME console seems to only write these errors from KNIMEs point of view (just says `R Evaluation failed`), but if

[2017-09-13 09:32] oliveralka commented on #2910
@enetz
There mit be an issue with the package "Rserve" since the code works with my current R installation - I will try to update and install Rserve, since it needs a Version of 3.4.0 of the libR.dylib.

[code]

[2017-09-13 10:20] timosachsenberg commented on #2913
probably most time is spent in this O(n^2) loop https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/ANALYSIS/ID/FalseDiscoveryRate.cpp#L662

[2017-09-13 10:27] timosachsenberg commented on #2913
@cbielow am I right that this lower part needs only be executed if add_decoy_peptides is set?

[2017-09-13 10:34] timosachsenberg commented on #2913
will add this and test

[2017-09-13 10:47] timosachsenberg commented on #2913
yep, seems to work. takes now 2 minutes instead of 18

[2017-09-13 11:17] timosachsenberg commented on #2913
fixed in https://github.com/OpenMS/OpenMS/pull/2915

[2017-09-13 11:22] #2911 closed

[2017-09-13 12:00] jpfeuffer commented on #2910
@timosachsenberg Are you on Windows? Did you try to execute the binaries standalone?

[2017-09-13 12:11] timosachsenberg commented on #2910
Failing OpenMS on windows might be related to missing Visual Studio Runtimes. If I execute it from command prompt I get a VCCOMP140.dll missing

[2017-09-13 12:52] dmccloskey opened #2916 "CsvFile::store()"
The writing of .csv or .tsv files is not support by CsvFile.

[2017-09-13 14:03] dmccloskey opened #2918 "Support for absolute quantitation"
Support absolute quantitation by e.g., IDMS

[2017-09-13 14:45] timosachsenberg commented on #2910
Working on Windows 7 64bit:
basic_peptide_identification
fdr_peptide_identification

[2017-09-13 16:08] lukaszimmermann commented on #2910
For the workflows, I guess the decoy_string parameter in `PeptideIndexer` has to be set to DECOY instead of the previously used REV.

[2017-09-13 16:10] jpfeuffer commented on #2910
Yep. just recently changed with https://github.com/OpenMS/Tutorials/issues/76

[2017-09-13 16:10] jpfeuffer commented on #2910
done for lfq_protein and consensusID

[2017-09-13 17:26] timosachsenberg commented on #2910
dr_peptide_identification
lfq_and_peptide_identification Should also be updated by now
I changed the string to DECOY_

[2017-09-13 18:14] timosachsenberg commented on #2899
ok I think we can close this issue. Still room for improvements though.

[2017-09-13 18:14] #2899 closed

[2017-09-14 07:39] dmccloskey commented on #2918
dmccloskey is currently working on this issue.

[2017-09-14 11:10] cbielow commented on #2241
i tested Hannes branch on Windows. There are some problems:
1) cmake reports tons of policy warnings
2) compiling works fine, but executing TOPPView using Qt5.6 does not work out of the box, saying `This application failed to start because it could not find or load the Qt platform plugin "windows"
in "".`
To fix, I had to run `c:\dev\openms_test_build\bin\Release>windeployqt TOPPView.exe`. This co

[2017-09-14 12:03] jpfeuffer commented on #2241
Concerning 3.: This happens on all platforms, since the renderText() function was removed from the new QOpenGLWidget class.

[2017-09-14 13:27] hroest commented on #2347
this issue came up again during an internal review by debian and I suggested to just remove the .xsd and the WSDL support from the debian package. It seems it was initially added here 85cb194e1dbef63a44bacf67f811c9cb1ca52f22 by Marc Sturm over 9 years ago. Given that apparently nobody used it for 9 years and it creates licencing problems, I am for either (i) removing it or (ii) providing a cmake f

[2017-09-14 13:33] hroest commented on #2241
Regarding these four points, I can only confirm point nr. 3 on Linux, all
other things seem to work fine including opening two instances of the 3D
viewer. Also cmake and TOPPView seem to work out of the box, maybe issue
(1) and (2) are related and something is off with the way we build qt5
apps?

This is using qt 5.5.1 on Ubuntu.

On Thu, Sep 14, 2017 at 8:03 AM, jpfeuffer <notifications@github.co

[2017-09-14 13:39] hroest commented on #2241
@cbielow can you check whether your issues go away if your reverse these changes: https://github.com/OpenMS/OpenMS/pull/2895/files e.g. if you add a `painter.begin(this);` and `painter.end(this);` to the code? same for `beginNativePainting`

[2017-09-14 13:58] hendrikweisser opened #2920 "StringView::substr API doesn't agree with String::substr and std::string::substr"
The second argument to `String::substr` and `std::string::substr` gives the length of the desired substring. In `StringView::substr`, the second argument is `end_index`, which gives the end position of the substring (undocumented whether it's at-the-end or past-the-end). If the starting position (first argument) isn't zero, then the semantics are different, which can lead to confusion.
`StringView

[2017-09-14 14:25] blankclemens opened #2921 "IDFileConverter - error with PeptideShaker mzident output"
Hello,

it seems like the mzidentML output from PeptideShaker can't be converted with `IDFileConverter` due to strings being used in value tags, I always get an error like the following:

[code]

`Confident` can be something different of course, in this case probably coming from

[code]

in the mzid file.

Is this an error in the converter or should a mzid file never contain strings as values?

[2017-09-14 15:54] jpfeuffer commented on #2488
Does not work.. I guess we really need to pay for an official Developer ID.
Problem seems to be the Gatekeeper Path Randomization:
Workarounds (after drag'n'drop of the OpenMS folder from the dmg to the Applications folder):
- Move TOPPAS.app and TOPPView.app outside and back into the OpenMS folder
- Run `xattr -d com.apple.quarantine TOPPAS.app` and `xattr -d com.apple.quarantine TOPPView.app`

[2017-09-14 20:55] #2913 closed

[2017-09-14 20:58] timosachsenberg commented on #2920
sounds reasonable. see also http://en.cppreference.com/w/cpp/string/basic_string_view/substr which eventually will replace our StringView

[2017-09-15 07:38] timosachsenberg commented on #2918
I think I now gave you permission to assign yourself

[2017-09-15 09:05] dmccloskey commented on #2918
Cool.  Thanks!

[2017-09-15 09:48] Stortebecker commented on #2921
I had the same problem, but only for `value="Not Validated"`, while `value="Confident"` and `value=""Doubtful"` in the same file did not throw errors.

[2017-09-15 10:13] lars20070 commented on #2921
@blankclemens A similar example is given in the [`mzid` specification](https://github.com/HUPO-PSI/mzIdentML/blob/master/specification_document-releases/specdoc1_2/mzIdentML1%202.0-release.pdf) page 56. Looks like a bug on the OpenMS side.

@mwalzer Any comments?

[2017-09-15 12:15] oliveralka commented on #2488
@jpfeuffer
May have a look here:

https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/DistributingApplicationsOutside/DistributingApplicationsOutside.html

Topic: Signing an Installer Package
Not sure if we have the right certificate
We can have a short look on it next week, when you are in Tübingen.

[2017-09-15 12:18] jpfeuffer commented on #2488
Yes I came across the guide. I think you are right. Currently I am wondering though, why the apps do not open, even if you accept the security risk message. It should remove the quarantine flag.
Let's investigate next week!
Can you confirm that moving the apps to Desktop and back solves the problem, too? People might be more comfortable with that.

[2017-09-15 13:38] jpfeuffer commented on #2488
Found the problem. Due to Gatekeepers path randomization, the apps are executed outside of the OpenMS folder in a secure read-only mount and do not find the OpenMS share anymore.
So another solution arose:
- `export OPENMS_DATA_PATH=/Applications/OpenMS-2.3.0/share/OpenMS` before executing

[2017-09-15 13:39] jpfeuffer commented on #2488
Anyone has a good idea to automate this?

[2017-09-17 22:37] jpfeuffer commented on #2347
Yes I vote for complete removal, too. All the webservices are gone anyway.

[2017-09-18 14:37] timosachsenberg opened #2922 "TOPPView crash idXML if clicked on scan view"
To reproduce:
- open idXML
- in scan view, double click on "No peak map" crashes TOPPView

[2017-09-26 10:44] eseble opened #2927 "ConvertTSVToTraML error (Could not convert string '' to a double value)"
Hi I am trying to convert a spectral library to TraML and I get the following error
Error: Unexpected internal error (Could not convert string '' to a double value)

The library was created using spectrast2tsv.py

Any idea what could be the problem?

[2017-09-26 12:00] grosenberger commented on #2927
Could you please provide an example file (as small as possible)? One common reason for this are modifications that are not natively supported by ``spectrast2tsv.py``. If this is the case, you can either supply a custom [modification file](https://github.com/msproteomicstools/msproteomicstools/blob/master/msproteomicstoolslib/data_structures/modifications_default.tsv) using the option ``-m`` to ``s

[2017-09-26 13:31] eseble commented on #2927
I attach the library I am trying to convert. I have checked the modification_default file and it is the same as in your link. I tried converting again and the error message now is
Error: Unexpected internal error (The value 'UniMod:26' was used but is not valid! Retrieving the modification failed. It is not available for the residue 'C' and term specificity 0.)

If I edit the library.csv file to d

[2017-09-26 13:50] grosenberger commented on #2927
UniMod:26, UniMod:27, UniMod:28 are all N-terminal modifications, however, they are reported as residual modifications by ``spectrast2tsv.py``, e.g. C(UniMod:26)PEPTIDEK. Since recently, OpenMS is parsing AASequences more explicitly and thus the peptide sequence should be provided as (UniMod:26).CPEPTIDEK. The ``.`` indicates N- or C-term modifications.

I have changed your file accordingly and th

[2017-09-26 14:11] eseble commented on #2927
Thank you. However I have tried using the fixed file you provided and I still get an error

Error: Unable to read file (Cannot convert string to amino acid sequence: unexpected character '.' in:(UniMod:26).CAEENC(UniMod:4)FIQK)
Does it need to have another "." at the end of the sequence i.e. (UniMod:26).CAEENC(UniMod:4)FIQK.?
This happens both trough the command line and using the knime interface

[2017-09-26 15:00] grosenberger commented on #2927
Sorry about that, I conducted my tests with OpenMS/develop and I believe the changes are implemented only since OpenMS 2.2, which was a source-only release. Please note that ``ConvertTSVToTraML`` has been renamed to ``TargetedFileConverter`` and provides additional functionality.

It might potentially also work with OpenMS 2.1, if you remove the ``.`` between to N-term (UniMod:26) and C.

[2017-09-28 07:43] cbielow commented on #2730
why these high-resolutions?
if really needed, svg might be the way to go...

[2017-10-01 09:44] lars20070 commented on #2265
Anyone currently working on de-novo sequencing? Evaluation of our existing algorithms and comparison to other external tools would be interesting for us. Perhaps we could collaborate.

[2017-10-01 12:39] timosachsenberg commented on #2265
No currently we have nobody assigned to this project. Once an adapter is available We could help with integrating the executables into the packages and knime  builds.

[2017-10-01 13:56] lars20070 commented on #2265
Ok. Thanks @timosachsenberg.
More IDs than `PEAKS` and 10x faster very sounds interesting.

[2017-10-01 18:40] hroest commented on #2265
seems to make sense to create an adaptor but it also does not seem to be open-source, see https://www.rapidnovor.com/download/ so we cant really distribute it as far as I can tell

[2017-10-03 14:25] paul-abraham commented on #2666
All,
I appear to be having a similar issue, but with PeptideIndexer. Any help would be greatly appreciated.

ERROR PeptideIndexer       2:108      Failing process stdout: [Error: Unable to read file (While loading 'C:\Users\pav\AppData\Local\Temp\1\knime_Workflow Manage9603\knime_fs-ZipLoopStart_2_104-9617\000\000\0_0_MyriMatchAdapter_0\20170127_Easy_nLC_BSA_100fmol_AC40cm_01.idXML': string repres

[2017-10-03 15:26] paul-abraham commented on #2666
All,

I was able to identify the issue. The Myrimatch parameter "max missed cleaveages" set at infinity, (i.e., "-1") caused the above issue. Setting this parameter to a value, such as 5, fixed the problem. Hope this helps.

[2017-10-04 11:36] FabianAicheler opened #2931 "SmallMoleculeMzTabReader deprecated, remove"
The SmallMoleculeMzTabReader throws errors when one tries to use it in KNIME with standard output, and is deprecated anyway (as we have MzTabReader as replacement).

-> Tear it out, burn it down!

[2017-10-09 09:36] timosachsenberg commented on #1318
We had another case of someone falling into that trap.

[2017-10-09 14:45] timosachsenberg commented on #2921
@enetz Mathias is not easy to reach. Can you take a look at that?

[2017-10-09 15:44] timosachsenberg opened #2939 "check if executable needs to be mandatory..."
-percolator_executable <executable>*  Percolator executable of the installation e.g. 'percolator.exe'

[2017-10-10 09:57] Stortebecker opened #2941 "IDScoreSwitcher does not find correct score"
Hi.

I ran IDScoreSwitcher on an [idXML](https://github.com/OpenMS/OpenMS/files/1371389/Galaxy72-.FalseDiscoveryRate_on_data_71.idxml.txt) to replace FDR-generated score by the previous posterior error probabilities (use-case: 1) ConsensusID to combine MSGFPlus and XTandem, 2) FDR-filtering on peptide level, 3) Fido for protein inference).

I got the following error:
`Error: Unexpected internal er

[2017-10-10 09:58] Stortebecker commented on #2941
Ah, I am using OpenMS release v2.2 on Linux, 64bit.

[2017-10-10 10:11] Stortebecker commented on #2941
A similar error comes up when only using MSGFPlus, without using ConsensusID (1)MSGFPlusAdapter, 2) PeptidePosteriorErrorProbabilty, 3) PeptideIndexer, 4) FalseDiscoveryRate, 5) IDScoreSwitcher). However, the problem occurs with another peptide.

No error when using only XTandemAdapter on the same input file.

[2017-10-10 10:36] Stortebecker opened #2942 "FalseDiscoveryRate filter option does not work for proteins"
Hi.

I like the [filter option](https://github.com/OpenMS/OpenMS/issues/2531) added to FalseDiscoveryRate. However, I recognized that the output when filtering for 0.01 peptide FDR is not exactly the same as when filtering with IDFilter.

Also, in my hands the FDR filtering on protein level does not work at all inside the FalseDiscoveryRate node. When I use the option `-FDR:protein 0.01`, I get th

[2017-10-10 10:48] Stortebecker commented on #2941
I nailed down the problem a bit more: the error only occurs when running PosteriorErrorProbability with `-prob_correct`. Otherwise, all is fine.

[2017-10-11 07:29] jpfeuffer commented on #1318
I still dont get/see the error.

[2017-10-11 15:44] enetz commented on #2921
@blankclemens  can you provide some more context, e.g. the position of this line in an mzIdentML file?
Assuming it is inside a `<SpectrumIdentificationItem` it is interpreted as a score.
It looks like OpenMS currently assumes all scores can be read as `double` numbers.
So this is not an issue for cvParams in mzIdentML in general but only for scores specifically.
This is where "search engine specif

[2017-10-12 07:44] jpfeuffer commented on #2939
In general evaluate restrictions of the parameters. E.g. why is there no restriction on the output?

[2017-10-12 14:47] timosachsenberg commented on #2939
@Leon-Bichmann another chance for Hacktoberfest :P

[2017-10-12 15:04] blankclemens commented on #2921
Yes, it is inside a `<SpectrumIdentificationItem>`.

Here is an example: https://gist.github.com/blankclemens/653d4180bf09a84fe9364fd9d28e9a28#file-sample-mzid-L88

Yes, that's working. If it could be part of the next release that'll be great though!

[2017-10-12 15:05] timosachsenberg commented on #2942
thanks for reporting.
Looking at the code again, it seems to directly call the IDFilter code if -protein "true" is passed and FDR:protein is set to a value < 1
https://github.com/OpenMS/OpenMS/blob/develop/src/topp/FalseDiscoveryRate.cpp#L168
Can you provide an example file and command line that triggers the error message?

[2017-10-12 15:07] timosachsenberg commented on #2941
@jpfeuffer any idea?

[2017-10-12 19:38] lopippo opened #2948 "MSSimulator and PTMs"
Greetings,

I turned to MSSimulator to simulate mass spectra in the context of a mass spec teaching course. I was willing to model spectra for modified or unmodified proteins (acetylation on N-term and phosphorylations). Looking at the manual, I did not find a way to add this information. Is there a way to do it by somehow documenting the fasta file? Maybe, one option would be to define pseudo-ami

[2017-10-13 09:32] cbielow commented on #2948
Hi,

you can just add modifications to the FASTA file,

e.g.
[code]

This is not explicitly mentioned in the docs. A fix is coming up.
Note, the mods are fixed. If you require variable mods, you need to do the combinatorics 'manually'.

[2017-10-13 09:32] cbielow commented on #2948
Let me know if you run into any trouble.

[2017-10-13 09:36] Stortebecker commented on #2942
Hi.
Here is a [test file](https://gist.github.com/Stortebecker/66a19d6d614b82896f4875adddf55c60). Sorry for the size.
I ran `FalseDiscoveryRate -in FidoAdapter_out.idxml -out output.idxml -protein true -FDR:protein 0.01`

[2017-10-13 09:39] Stortebecker commented on #2942
Interestingly, the FDR filtering on protein seems to start, but then it stops:
[code]

[2017-10-13 09:41] timosachsenberg commented on #2942
ok tks I can reproduce the problem. will look into it

[2017-10-13 10:07] timosachsenberg commented on #2942
I also get the Segmentation Fault if I use -score:pep so it is most likely something going wrong during parsing...

[2017-10-13 10:36] timosachsenberg commented on #352
I think we should take a look at this issue. Seems to me that this might trigger a global parsing of residueDB

[2017-10-13 11:08] timosachsenberg commented on #352
@hroest any idea? I removed the init and I get several segfaults:
The following tests FAILED:
         80 - OnDiscMSExperiment_test (SEGFAULT)
        138 - Bzip2InputStream_test (SEGFAULT)
        140 - CompressedInputSource_test (SEGFAULT)
        153 - GzipInputStream_test (SEGFAULT)
        156 - IndexedMzMLDecoder_test (SEGFAULT)
        157 - IndexedMzMLFile_test (SEGFAULT)
        158 - Ind

[2017-10-13 11:09] timosachsenberg commented on #352
for reference a stracktracke:
[code]

[2017-10-13 14:16] cbielow commented on #2948
fixed in #2949

closing for now. Re-open if something does not work

[2017-10-13 14:16] #2948 closed

[2017-10-13 14:18] lopippo commented on #2948
Fine, thank you. I'll test that next week.

[2017-10-13 15:59] jpfeuffer opened #2950 "Percolator discrepancies between Unix and Windows"
Seems like the results are just not comparable.
Versions:
Windows:
[code]
Unix:
[code]

We use fixed seeds in both cases.
We have to investigate.

[2017-10-13 16:01] jpfeuffer commented on #2950
Both versions are the newest for their platform by the way.

[2017-10-13 16:02] jpfeuffer commented on #2950
Problem is that results FDRs are quite different for all peptides.

[2017-10-14 13:41] hendrikweisser commented on #2004
Looks like this was solved by #2523 (thanks @pati-ni!), so I'm going to close the issue.

[2017-10-14 13:41] #2004 closed

[2017-10-15 14:40] mwalzer commented on #2950
Is this the same for from-source builds? (I have never compiled percolator on windows :no_mouth: but maybe their release build sources are differing somehow)
Can you post the seed input?

[2017-10-15 19:44] jpfeuffer commented on #2950
I was thinking that too. We probably have to build ourselves to check.
Seed should be = 1 according to the test inis.

[2017-10-16 07:29] hroest commented on #352
It seems like we are missing a

[code]

somewhere if we remove the class. The question of course is where we put the initializer, either we make sure every class remembers to call it in its constructor or we just add it once to the library somewhere to make sure it is always initialized

[2017-10-16 09:26] Stortebecker commented on #2942
I do not get errors running FileInfo or IDFilter on that file:

[code]

[2017-10-16 11:51] timosachsenberg commented on #2942
Yes you ar right. After a clean rebuild that error disappeared

[2017-10-16 12:20] #2920 closed

[2017-10-17 06:00] DarioS opened #2954 "Output Columns of OpenSwathWorkflow Are Undocumented"
The TSV file saved to disk by OpenSwathWorkflow is described as "mProphet compatible TSV file" but even reading the [mProphet user manual](http://mprophet.org/#Manual_and_Downloads) does not reveal what each of the 50 or so columns mean. This makes it hard for users to develop their own computational methods based on the mysterious available variables.

[2017-10-17 07:09] timosachsenberg opened #2955 "Request by tool provider - citations"
Display a Message in cmdline and knime on what to cite

[2017-10-17 07:42] #2954 closed

[2017-10-17 14:46] timosachsenberg opened #2956 "TOPPView peak annotation merges user annotations and mz annotations in a strange way."
When I add the m/z value to an assigned peak and I click on another spectrum or save the annotation as a new idxml. The peak label and the m/z value are merged. Unfortunately in a way that only the m/z and the charge is left. Same is true for adding a peak annotation manually and a m/z. Seems like only using the label function works kind of but this doesn’t help for the already annotated peaks.

e

[2017-10-17 14:58] timosachsenberg opened #2957 "Fragment annotations also applied in precursor isolation window view (MS1)"
![image](https://user-images.githubusercontent.com/5803621/31672264-5ec5cdb0-b35c-11e7-94d7-c0d2eaf8200d.png)

[2017-10-17 15:15] hroest commented on #2694
can we even legally distribute the executable? it seems to be a non-standard licence: https://secure.nouvant.com/umich/technology/7143/license/633

[2017-10-17 18:10] timosachsenberg opened #2958 "MetaProSIP Report inconsistent value for low RIA peptides?"
Intensities between unlabeled and labeled RIA species (e.g., <5%) are often equal (intensity merge window problem?). Resulting in 0 or 1 LR

[2017-10-19 08:30] #2910 closed

[2017-10-19 09:09] cbielow commented on #2955
so on cmdline we go for the NMeth Paper? Gui tools usually have a separate help window, so no need to mention TOPPView/TOPPAS on cmd.
I can prepare a PR...

[2017-10-19 09:18] timosachsenberg commented on #2955
cool tks. Also for the third-party tools if possible.

[2017-10-19 09:59] jpfeuffer commented on #2955
Where should we put that in KNIME?

[2017-10-19 10:02] hroest commented on #2955
if possible, yes

[2017-10-19 10:11] timosachsenberg commented on #2955
can this be put into the node configuration dialog? e.g. at the top?

[2017-10-19 10:29] jpfeuffer commented on #2955
Ok possible. Do we already write the citations to the CTD?
Which citations do we add in the Adapters? The underlying tool or OpenMS or both?

[2017-10-19 10:32] jpfeuffer commented on #2955
Our TOPPBase class should probably have OpenMS as a citation in a member and we should provide a way to add to this citation in the derived classes.

[2017-10-19 10:34] jpfeuffer commented on #2955
I'm preparing a PR for the GKN to support the citation tag of the CTD and display it in the config dialog.

[2017-10-19 11:42] timosachsenberg commented on #2955
I would say the underlying tool

[2017-10-20 10:14] enetz commented on #2956
@timosachsenberg
I looked into this a bit. The issue is this:
The annotations on the Spectrum and the annotations of the PeptideHit are not directly connected,
but synchronized every time there is a change.
Currently only one annotation is allowed per peak, it should be the latest one that was placed.
If the newest annotation does not have something recognizable as a charge, the old one stays, oth

[2017-10-20 11:14] enetz commented on #2957
@timosachsenberg
I cannot reproduce this with the current develop branch version and my own data.
What are the conditions under which this happens?
I think the mz tolerance for mapping annotations onto peaks is very stringent (1e-6) and the chance that MS2 annotations can be mapped onto peaks in MS1 is very low (if that is what is happening here).
I could not reproduce this even with precursor pea

[2017-10-20 13:21] enetz commented on #2956
Maybe I can make this work as it is. If we delete all PeptideHit annotations by default and replace them with the current Spectrum annotations, it should solve all these issues.
I will try that and make a PR if it works.

[2017-10-20 14:23] enetz commented on #2956
The thing with the charge representation is another issue.
It might be more difficult to parse the charge from such a String, e.g. y66+ vs y6+6.
This might be an ugly notation, but even with something as simple as that it would be obvious, that the +6 is a charge in the second example. Since we are parsing the charges from strings and also from manual annotations, it would make it difficult to put

[2017-10-20 14:52] hroest commented on #2921
turns out the cv param is not guaranteed to be a number:

[code]

so should we just look for these specific terms Confident, Doubtful etc and convert them to numbers in our parser?