[2016-11-17 11:44] hendrikweisser commented on #2300
TTD is an XML format, so I'd expect that you have to use `` for comments.

[2016-11-17 11:47] BioComSoftware commented on #2300
Hi Hendrik,

Thanks for the reply. The non-command comments are prefixed in the
TEMPLATE.ttd_ with // . So I assumed.

<ttd>
<tool status="external">
<category>does not really matter</category>
         // this is the name of the '-type' which is added to
GenericWrapper - so chose carefully
<type>RAWFileConvert</type>
         // description of the wrapper
<external>
<text>
(etc)

I can try | and

[2016-11-17 12:09] mwalzer commented on #2299
would it help if we'd change the order [in this list?] (https://github.com/OpenMS/OpenMS/blob/36ccb5c6d443b4ec59b18a6c1cc315e29b516b9c/src/topp/FileConverter.cpp#L167)
It would be really helpful to have mzML as a default.

[2016-11-17 12:18] mwalzer commented on #2299
Also, it might be a good idea to note that somewhere in either the node or some other prominent part of the  corresponding documentation, that ```output_type``` is *not* controlling the mime type of the node, but ```OutputTypes```

[2016-11-17 12:33] jpfeuffer commented on #2299
Yes, I think the order is taken over from the order in the TOPP parameters. But I would need to look in the code to be 100% certain.
Concerning docu: Can you think about a prominent place, where we would not need to mention this in every node that supports multiple outputs? Just brainstorming.

[2016-11-17 13:16] BioComSoftware opened #2302 "Automatic recycling"
I'm curious if there's value in adding some form of 'Automatic recycle toggling' to nodes? Or perhaps just change how some nodes 'see' recycling?

Here is an example of why. I'm in the process of developing a rather large pipeline. As such, I'm trying to avoid having redundant input nodes...for fear that one will be missed during editing, and we end up with two nodes expecting the same (in this ca

[2016-11-17 14:01] cbielow commented on #2302
this logic will not always work, but to cut a long story short:
![image](https://cloud.githubusercontent.com/assets/6008722/20392133/c6edd924-acd6-11e6-9654-4a3a9d85bfa1.png)

[2016-11-17 14:02] cbielow commented on #2302
:)

[2016-11-17 16:58] cbielow commented on #2300
I don't expect <!-- to work since we implement the XML parser and we do not take care of it (Xerces will not do it AFAIK).
You can avoid issues by either:
1) remove comments alltogether
2) hide their content, i.e. rename the tag, e.g. `<mapping ...` becomes `<xmapping ...`

[2016-11-17 17:01] cbielow commented on #2298
Where does your MGF come from?!
Usually one would convert any vendor Raw file format to mzML these days...

If you have no other data source, why not convert to mzML before? To you want to save the extra conversion step?

[2016-11-17 17:08] cbielow commented on #2297
not a lot of examples for C++ projects.

Found
https://github.com/tjun/googletest-circleci
though.

[2016-11-17 17:12] cbielow commented on #2297
even better:
https://www.brendanlong.com/circleci-makes-automated-builds-easy-but-not-as-easy-as-they-could-be.html

[2016-11-17 17:29] hroest commented on #2297
the yaml file looks simple enough: https://github.com/tjun/googletest-circleci/blob/master/circle.yml

[2016-11-17 22:19] BioComSoftware commented on #2298
The MGF is coming from maracluster, called within a Python script (via
by a GenericWrapper and TTD file). One issue we've noticed as that
different conversion agents don't always include all the necessary lines
and features...so we've been hesitant to convert them. We have had luck
with msconvert (it seems to be the best)...but we do know the MGF file
coming from maracluster has the data we need..

[2016-11-17 22:22] timosachsenberg commented on #2299
yeah I think we need to remove the output_type parameter when we build the KNIME nodes

[2016-11-18 09:33] hendrikweisser commented on #2300
I haven't tried it, but from what I could gather online, the Xerces SAX parser should skip over comments by default (although you can provide an implementation for the virtual `comment` method to get them).

[2016-11-18 10:29] cbielow commented on #2300
You are right. I tried and `<!--` is indeed skipped.
PR is out. This issue should be fixed.

[2016-11-18 18:59] #2300 closed

[2016-11-22 10:38] malmstroem opened #2304 "trouble converting a TraML file to CSV"
Hi OpenMS,

I am trying to convert a TraML file to CSV using:

/usr/local/openms/OpenMS/bin/ConvertTraMLToTSV -in new.TraML -out bs.csv -debug 20

and I get the following error:

Debug level: 20

Value of string option 'test': 0
The OpenMS team is collecting usage statistics for quality control and funding purposes.
We will never give out your personal data, but you may disable this functionality

[2016-11-22 13:16] sagitter commented on #2290
[Current release](https://github.com/OpenMS/OpenMS/releases/tag/Release2.1.0) is the stable one?

[2016-11-22 18:11] timosachsenberg commented on #2290
Hi @sagitter, yes this is the official one.

[2016-11-22 18:23] timosachsenberg commented on #2304
Hi Lars,
I have to admit that I am not very familiar with the tool but the message: Found duplicate peptide id (must be unique): LTIHENK_2 might indicate an invalid entry in the TraML file.
Maybe @hroest or @grosenberger know more about this. If possible you can also provide a file to reproduce the error and I can take a look at it.
Best,
Timo

[2016-11-22 21:21] hroest commented on #2304
@malmstroem  Hi, can you upload the file?

I agree with @timosachsenberg the problem is likely a duplicate ID which does not conform to the TraML standard, was the file produced by OpenMS? In the latter case we also need to debug how the file was created

[2016-11-22 21:22] hroest commented on #274
@hendrikweisser why not just add them  to the `./tools/scripts` folder?

[2016-11-22 21:22] #571 closed

[2016-11-23 10:51] malmstroem commented on #2304
Hi Timo and Hannes,

We do indeed have duplicate IDs, it works once they are removed. Thanks for the help and sorry for posting such trivial issues.

Best regards,
Lars

[2016-11-23 10:51] #2304 closed

[2016-11-23 16:33] hendrikweisser commented on #274
Can do, but I'd have to make the script a bit more user-friendly first.
"tools/scripts" or "share/OpenMS/SCRIPTS", though?

[2016-11-23 18:53] timosachsenberg commented on #274
I think share/OpenMS/SCRIPTS would be more fitting.

[2016-11-25 18:52] grosenberger commented on #2288
I built the pyOpenMS wheel for macOS on a native system, see attachment:
[pyopenms-2.1.0-cp27-cp27m-macosx_10_12_intel.whl.zip](https://github.com/OpenMS/OpenMS/files/613776/pyopenms-2.1.0-cp27-cp27m-macosx_10_12_intel.whl.zip)

By unpacking and renaming this file to pyopenms-2.1.0-cp27-cp27m-macosx_10_9_intel.whl, this binary should be compatible with all recent macOS versions, however, I could o

[2016-11-26 12:05] uweschmitt commented on #2288
I just uploaded the Mac wheels and updated installation instructions. Could you also build the wheel for Python 3.5 and maybe Python 3.4 ?

[2016-11-26 20:33] hroest commented on #2288
@grosenberger can you quickly state which git hash you used for the build? is it f755ffeb2e82607facf9a6b6429f97d0cc6eefa2  ?

[2016-11-26 20:36] hroest commented on #2288
@grosenberger @uweschmitt how do we deal with the "phone home" feature in OpenMS - I think that is only for the TOPP tools right? so starting up PyOpenMS is not affected and will not result in a phone call home?

[2016-11-27 09:45] grosenberger commented on #2288
@hroest Yes, it is https://github.com/OpenMS/OpenMS/commit/f755ffeb2e82607facf9a6b6429f97d0cc6eefa2.
Regarding telemetry: I also thought that this is only relevant for the TOPP tools.

@uweschmitt I will provide the build for Python 3.5.2 from Python.org as well.

[2016-11-29 13:48] jpfeuffer opened #2317 "SPLASH Spectrum Hashes as (additional?) ID for spectra"
Suggestion from S.Neumann: We could consider annotating spectra with SPLASH. This might make referencing spectra from multiple sources easier. Especially in the context of Metabolomics this also makes lookup in spectral databases much easier.
http://splash.fiehnlab.ucdavis.edu/

Implementation mockup:
https://github.com/berlinguyinca/spectra-hash/blob/master/cpp/src/splash.cpp

[2016-11-29 17:09] hroest opened #2318 "Conflicting typedefs (int8_t)"
While compiling pyopenms for 2.1, I got the following error on MSVS 2008:

[code]

the issue seems to be that in one place the `int8_t` datatype is defined as (seqan)
[code]
 while in the other place (wildmagic) it is

[code]

not sure why the compiler complains but it seems to be pendantic about such things. We should probably patch this and change it to `signed` in both places.

[2016-11-29 17:10] hroest commented on #2318
this is also what other people recommend, e.g. here http://stackoverflow.com/questions/16415058/visual-studio-2008-error-c2371-int8-t-redefinition-different-basic-types/16418544#16418544

[2016-11-29 18:37] grosenberger commented on #2288
@uweschmitt I encountered a challenge with generating the wheel for Python 3.5.2. Since Python 3.5, it seems that they include tags for extensions:

Did you by chance encounter and solve this problem already?

[2016-11-30 00:12] hroest commented on #1397
The main reason for visibility hidden was for developers to have a similar setup on Linux as on Windows where hidden visibility is the default, see #833

I dont think we should therefore have to change too much on our workflow, as long as travis tests use visibility hidden

[2016-11-30 07:55] oliveralka commented on #2288
@grosenberger @uweschmitt The installation of pyopenms-2.1.0-cp27-cp27m-macosx_10_9_intel.whl worked fine, but after trying to import pyOpenMS in python I get the following error (any ideas?):
[code]
Used: Python 2.7.10 (OS X 10.11.6)

[2016-11-30 15:01] jpfeuffer opened #2320 "Issues in parsing/writing modifications"
Issues:
- Segfault with unknown N-Term mods
- Writing unknown amino acids: results for DFPANGERX[113.0840643509]
    - toString: DFPANGER[131.0946294147]   (looks like modified R and is actually interpreted as a  CTerminal modification; also adds H2O)
    - toBracketString: DFPANGERX  (no notion about mass anymore)
    - toUnmodifiedString: DFPANGER (completely missing)

[2016-11-30 15:41] jpfeuffer commented on #2320
Related to #1792

[2016-11-30 17:47] grosenberger commented on #2288
@oliveralka Thanks for reporting. I will have a look, at which step did this happen? Directly after "import pyopenms"?

[2016-11-30 18:02] uweschmitt commented on #2288
Looks like the `libz.1.dylib` is not included in the wheel.

[2016-11-30 18:07] uweschmitt commented on #2288
I get

[code]

Suprisingly I can import `pyopenms` without errors, although the referenced file `libz.1.dylib` does not exist as linked.

[2016-11-30 18:20] grosenberger commented on #2288
Same for me. I will provide a patched build.

[2016-11-30 18:23] oliveralka commented on #2288
@grosenberger Just for completeness:
The error on my side appears directly after import of pyopenms.
[code]
Thank you for the patch!

[2016-11-30 20:32] hroest commented on #2288
I have built the Windows wheels here  https://www.dropbox.com/sh/uk5a604xnzy1lxq/AAAfQ2Yuapvd1lXQ3kadJE99a?dl=0 for release 2.1 and if somebody wants to test these it would be great. I could only test 32 bit versions as I dont have a 64bit virtual machine here

[2016-11-30 20:49] grosenberger commented on #2288
@oliveralka Could you please test whether the attached wheel solves your problem?
[pyopenms-2.1.0-cp27-cp27m-macosx_10_12_intel.whl.zip](https://github.com/OpenMS/OpenMS/files/622939/pyopenms-2.1.0-cp27-cp27m-macosx_10_12_intel.whl.zip)

[2016-12-01 00:33] hroest commented on #2001
@jpfeuffer can you comment on the pyOpenMS situation? have you tried building pyOpenMS with Python 3.5  / 3.6 ? This would be a great advantage of having MSVS 2015 and potentially a good idea to set up on Cdash as well.

[2016-12-01 01:38] hroest commented on #2246
@hendrikweisser I figured out your error: 2321 it was a lot of *FUN* to track that one down :-)

[2016-12-01 07:11] oliveralka commented on #2288
@grosenberger Solved the Problem!

[2016-12-01 09:19] grosenberger commented on #2288
Great, thanks for checking. @uweschmitt Could you please push the new build to PyPI? Thank you.

[2016-12-05 17:59] hroest opened #2325 "using `-test`"
especially after the update check we should ensure that all our tests are run with `-test`

currently it does not look so good:

[code]

[2016-12-05 18:13] timosachsenberg commented on #2325
hmm actually they should be now. When I run all tests I don't get any REST requests or .ver files in the .OpenMS folder

[2016-12-05 18:37] hroest commented on #2325
strange, as it seems many `add_test` statements do not have the `-test` flag

[2016-12-05 19:00] timosachsenberg commented on #2325
maybe fuzzydiff ones?

[2016-12-05 19:34] hroest commented on #2325
true, I guess fuzzydiff does not call the usage page?

[code]

so most of these are fine

[2016-12-05 19:35] hroest commented on #2325
see also #2326

[2016-12-06 19:36] hroest opened #2327 "classes should be OPENMS_DLLAPI or OPENMS_NO_EXPORT"
In order to be consistent and explicit about our public API, we should probably annotate all classes with `OPENMS_DLLAPI` even such ones as `MSSpectrum` which are pure template classes and dont necessarily need it (right now). All other classes could get annotated with `OPENMS_NO_EXPORT` (which we have but dont use) to clearly specify these are internal classes.

To give some idea of the scope of

[2016-12-07 17:02] hroest commented on #2325
closed through #2326

[2016-12-07 17:02] #2325 closed

[2016-12-12 12:57] mwalzer opened #2328 "Depending on ms-gf+ version used the produced, RT might be read incorrectly"
Some mzid may miss units for the retention time (solved in ms-gf+ and OpenMS for files missing units entirely), some miss parts of the unit annotation(pending).

The result of an incorrect retention time consumption usually manifests in unusually low numbers of ids mapped to features and can be easily checked with FileInfo

See here for details and my quick-fix:
https://github.com/sangtaekim/msgfp

[2016-12-12 15:02] timosachsenberg commented on #70
Maybe related to this issue:
if I link two featureXML with
[code]
All PeptideIdentifications assigned to a feature point to the PI_1 instead of both PI_0 and PI_2:
[code]

[2016-12-14 16:13] #2328 closed

[2016-12-14 21:38] mwang87 opened #2331 "Undefined references when linking libwm5 during OpenMS build in ubuntu"
When I attempt to make OpenMS I get this linking error:

/usr/lib/gcc/x86_64-linux-gnu/5/../../../../lib/libWm5Mathematics.so: undefined reference to `Wm5::FileIO::operator bool() const'
/usr/lib/gcc/x86_64-linux-gnu/5/../../../../lib/libWm5Mathematics.so: undefined reference to `Wm5::FileIO::Read(unsigned long, void*)'
/usr/lib/gcc/x86_64-linux-gnu/5/../../../../lib/libWm5Mathematics.so: undefine

[2016-12-14 21:47] mwang87 commented on #2331
I have also attempted removing the wildmagic packages all together from my system. Specifically:

sudo apt-get remove libwildmagic-dev
sudo apt-get remove libwildmagic5v5

Upon doing this, and doing

cmake -DCMAKE_PREFIX_PATH="/home/mingxun/SourceCode/OpenMS_Build/contrib-build;/usr;/usr/local" -DBOOST_USE_STATIC=OFF ../OpenMS
make

I receive this error:

In file included from /home/mingxun/Source

[2016-12-15 12:11] mwalzer commented on #2331
Yeah, so ubuntu's repository version of libwm5 seems incompatible with our libwm5. So it didn't make it into the install [documentation](ftp://ftp.math.fu-berlin.de/pub/OpenMS/release2.1.0-documentation/html/install_linux.html) for Linux. I am not sure if it is really necessary to remove the system lib as long as you make sure the paths are right, tricky sometimes, though.

Two things, you might t

[2016-12-18 16:28] ypriverol commented on #1359
Can you explain this in details. I'm working in a new version of ms-gf+ with better performance and also a couple of features like misscleavage definition. Are all these process running in the same database?

[2016-12-19 09:00] #2092 closed

[2016-12-19 09:03] timosachsenberg commented on #1359
There is no locking done for the index files so these might get written / read in parallel leading to a crash if multiple processes perform a search.

[2016-12-19 12:50] mwalzer commented on #1359
So this is basically not an OpenMS issue?

[2016-12-19 12:55] hendrikweisser commented on #1359
It's not caused by OpenMS, but it affects OpenMS.

[2016-12-21 14:58] timosachsenberg opened #2335 "MassTraceExtractor trace collection problems"
This is just a loose collection of potential problems - some occur quite rare or only on synthetic data.

Fourier artefacts:
![image](https://cloud.githubusercontent.com/assets/5803621/21393789/40772d5c-c796-11e6-8c9b-e470505918d2.png)

[2016-12-21 14:59] timosachsenberg commented on #2335
Large SD (> 1000ppm) maybe a problem in SD reestimation
![image](https://cloud.githubusercontent.com/assets/5803621/21393814/586b28dc-c796-11e6-9a9c-e32741691660.png)

[2016-12-29 07:43] timosachsenberg commented on #2335
![image](https://cloud.githubusercontent.com/assets/5803621/21539012/dbd3d3a6-cda2-11e6-9fa1-277a416ffe51.png)

[2017-01-02 15:17] iprotsyuk commented on #2288
I'm getting an error message, when using pyopenms 2.1.0, with both the wheel published on 2016-11-26 on pypi and the one @grosenberger sent to this thread on Nov 30.

`determination of memory status not supported on this

platform, mesauring for memoryleaks will never fail

======================================================================

maybe you miss some libraries. please run ldd (on lin

[2017-01-04 15:36] hendrikweisser commented on #1935
I have found an especially egregious case that highlights the problem with determining the feature boundaries on the smoothed data. Based on an assay with two transitions (for two isotopes of a peptide) a feature was detected that:
- spanned an RT range of 45 seconds
- encompassed 38 data points (= spectra) in the XIC
- had only two (!) non-zero data points for one transition, none (!) for the oth

[2017-01-04 16:45] okohlbacher opened #2342 "Expand FileInfo default output"
While FileInfo currently provides some key quantitative values on the file content, it fails to report some things that are of broad interest when working with the files:
- What instrument was used to generate the data?
- What fragmentation was used (on which level? Mixed fragmentation types?)?
- Is the data profile data or centroided (on both levels)?
- What is the gradient length (min/max in sec

[2017-01-05 10:04] okohlbacher commented on #2342
Yes, but it is not reported for both levels and it could be presented in a more concise manner.
If the metadata and the estimate agree, why mention them independently?
What I'd rather like to see is something like this
--
  - MS1 data is profile data
  - MS2 data is centroided (based on metadata)
--
Or summarize it:
--
File contains
   5,757 MS1 spectra (profile mode)
   12,8273 MS spectra (centro

[2017-01-06 08:59] lars20070 commented on #2342
One further suggestion for `FileInfo` on `idXML`.  We currently report
[code]
In addition, the number of unique sequence hits would be very useful. In labelled experiments, light and heavy hits should not be double counted.
[code]

[2017-01-06 14:27] lars20070 opened #2343 "Wrong annotated position in proteins lead to crash in MzTabExporter"
The `MzTabExporter` crashes when exporting the following `featureXML` [1] with a segmentation fault.
[code]
[1] https://gist.github.com/lars20070/a6f4c0de17d20e1e6f97bada9f908fb5

[2017-01-06 15:29] hendrikweisser commented on #1935
I tried to solve the problem mentioned above (features being detected in largely zero-intensity regions) by modifying the elution peak detection in PeakPickerMRM. In the "corrected" method (which detects peaks in smoothed chromatograms), I added a step that would adjust the peak boundaries inwards as long as the raw intensity at the boundary was zero.

Unfortunately that didn't help. The sensitivi

[2017-01-07 02:53] DennisGoldfarb opened #2344 "IsotopeDistribution result container size incorrectly set in a couple of functions"
I think I found a subtle bug that managed to evade the unit tests. In IsotopeDistribution::convolve_ and IsotopeDistribution::calcFragmentIsotopeDist_ the result container gets resized to min(max_isotope, maximum possible result size based on the input)
https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/CHEMISTRY/IsotopeDistribution.cpp#L238-L249 and
https://github.com/OpenMS/OpenMS/b

[2017-01-07 04:33] DennisGoldfarb commented on #2344
I should add that I'm assuming based on the comments and documentation that max_isotope was meant to be the maximum isotope "identifier" (i.e. 0 -> monoisotopic, 1 -> M1). If it was meant to mean the maximum number of isotopes (i.e. 1 = consider only the first isotope which would only be the monoisotope), then IsotopeDistribution::convolvePow would need to be updated to not have the +1 in there.

[2017-01-07 07:49] DennisGoldfarb commented on #2344
Hrmm, actually I need to think about this a little more. I might have made a mistake..

[2017-01-07 19:14] DennisGoldfarb commented on #2344
Yea I take it back, I don't think there's a problem. Sorry about that! The difference in container size in convolveSquare_ and convolve_ confused me, but the results are identical when I change convolveSquare_ to not have the +1. I'm still a little confused because last night I thought I ran into an issue with this but for the life of me I can't remember what it was. Closing this.

[2017-01-07 19:14] #2344 closed

[2017-01-08 11:10] lars20070 opened #2345 "incorrect warning from mzML handler"
Sciex runs consist of a `wiff` and `wiff.scan`. Consequently both are listed in the `mzML` as in the following example.
[code]
When reading these `mzML`, the following incorrect warning is given.
[code]

[2017-01-08 11:50] cbielow commented on #2345
I think what the message is saying is that "file://." is not a proper path.

Should be "file:///C:/Users/bla/blubb/140702_0002_DC2ac_6600_G2_DDA1.wiff"

etc...

Am 1/8/2017 um 12:10 PM schrieb Lars Nilse:

[2017-01-08 11:54] lars20070 commented on #2345
Ok. Just an `msconvert` problem. Thanks @cbielow.

[2017-01-08 11:54] #2345 closed

[2017-01-10 10:28] jpfeuffer opened #2347 "Review licenses of all distributed things"
While checking the Linux packages that are available for OpenMS, I stumbled across the following [issue](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=822412) posted on a Debian package bug tracker. Seems like no one notified us but it might be worth investigating. It seems like someone was concerned about some cmake-plugins and schemas we distribute.

[2017-01-10 11:10] jpfeuffer opened #2348 "[Migration] Old Sourceforge page redirects to non-existent subpage"
Specifically www.openms.de/about which does not exist. I tried to upload things to the sourceforge web SFTP server but I do not have permissions.
See http://open-ms.sourceforge.net

[2017-01-10 12:45] jpfeuffer commented on #2348
Okay. Figured out how to get access but I can't find where it redirects.

[2017-01-10 17:14] jpfeuffer opened #2349 "Include EDAM Ontology Terms in our CTD format"
For unique annotation of functions, data types and data formats. Could be worthwhile. We could then easily and automatically register every tool in the biotools [registry](https://bio.tools/).
We have something similar already in the "description" and "category" attributes (but they are arbitrary strings).
The ontology is searchable [here](https://www.ebi.ac.uk/ols/ontologies/edam).

[2017-01-12 18:11] timosachsenberg commented on #2343
Hi @lars20070 can you provide a stack trace?

[2017-01-12 18:13] timosachsenberg commented on #2335
Before anybody takes a look at it: Most problems seem to be resolved in my branch https://github.com/timosachsenberg/OpenMS/tree/feature/MTE_stats but needs some more testing.

[2017-01-13 15:50] blankclemens opened #2350 "MSGFPlusAdapter wrong CTD entry for -add_decoys and -add_features"
Hell everyone,

it seems like the CTD entry when using `-write_ctd` is wrong. It allows for two values `true/false` which, when applied, lead to errors like this:

    Trailing text argument(s) '[false]' given. Aborting!```

I assume these are just flags, without any argument. The CTD however speaks of two restrictions, true and false:

    <ITEM name="add_decoys" value="false" type="string" descr

[2017-01-16 13:28] cbielow opened #2351 "Test parameters of TOPP/UTILS before running them"
as suggested on the mailing list by Florian Sigloch, it would be nice if a TOPP tool could be tested for having proper parameters before it is called with actual data.
This mostly affects pipelines, where the TOPP tool might not be called for hours or even days after the pipeline is started.

The most fragile config is usually for third party executables, which may or may not be installed on the t

[2017-01-16 14:22] cbielow commented on #2302
closing this issue. Please re-open if questions remain.

[2017-01-16 14:22] #2302 closed

[2017-01-16 14:31] jpfeuffer commented on #2350
Hi Clemens,

I can see your confusion and also had to look up the exact handling of flags in our TOPP tools.
I think it's important to emphasize on the difference in calling a tool with options from the command line `./FileInfo -in /bla/foo.mzML -debug` and calling a tool by giving it a path to an ini file in ParamXML format `./FileInfo -ini /bar/baz.ctd`.
The problem here is, that in the ParamXML

[2017-01-16 14:37] jpfeuffer commented on #2351
I think option b) would also be supported in KNIME with some changes in the generic node source code. When you dropping a node and reconfiguring are separate events that could trigger calling the tool with the -check option.
Currently I think it is used to determine if our C++ binaries can be found (does of course not include thirdparty tools which are currently checked at execution).

[2017-01-16 14:43] blankclemens commented on #2350
Thank you for your explanation, I see the problem here. And at first I thought I can work around it, but trying to get an (automatic) solution lead to a bigger issue: While I could detect for "true/false" values and treat them as a flag, this behavior is not consistent with the whole suite.

An example: The tool DecoyDatabase has a parameter `append` which has to be called with true or false, e.g.

[2017-01-16 14:44] jpfeuffer commented on #2351
Question: How would you differentiate between input data files (which might not be present in the beginning) and input executable files?

[2017-01-16 14:47] jpfeuffer commented on #2351
Another question is, how far the preliminary checks should go: Do they execute the thirdparty executables? Do they check their output (e.g. version)?

[2017-01-16 14:48] jpfeuffer commented on #2349
Potential topic/task for OpenMS dev meeting.

[2017-01-16 14:55] cbielow commented on #2351
I would invoke -check when the Pipeline is about to run, i.e. all Input* should be present already.

On implementation Level, the TOPP tool will only check non-empty Inputs, i.e. intermediate files -- the ones coming from edges-- should be ignored. In TOPPAS this works nicely because the command line call consists of a INI file, with "static" params and "dynamic" params from the incoming/outgoing

[2017-01-16 15:03] jpfeuffer commented on #2350
I agree with you. The problem here is that the "append" parameter from DecoyDatabase is also internally specified as a string parameter, therefore also the command line expects an argument.
See [here](https://github.com/OpenMS/OpenMS/blob/develop/src/utils/DecoyDatabase.cpp#L111).

But this is indeed an errorneous inconsistency that is (unless I am overlooking very minor details) not intended and

[2017-01-16 15:47] jpfeuffer commented on #2348
In general, the redirection rules from the old sourceforge page are not great. The homepage open-ms.sourceforge.net redirects to the above mentioned wrong link, while e.g. subpages like open-ms.sourceforge.net still show the old content which is not really kept uptodate anymore.
I did a google search and there are still some references to sourceforge on tool collection websites, papers and so on.

[2017-01-16 15:50] jpfeuffer commented on #2348
We even have spam news on there by now.

[2017-01-16 16:03] jpfeuffer commented on #2348
One problem with a complete transition might be, that the TOPPAS workflows under /download/workflows are not yet transferred to my knowledge.

[2017-01-16 16:19] jpfeuffer opened #2352 "Write packaging script for training materials run as part of a release and on demand"
Triggered by the fact that e.g. the links to our training material on the homepage is still from OpenMS 2.0.

[2017-01-16 17:15] DinosaurInSpace opened #2353 "Unrecognized modifications in SpecLibSearcher"
Hi:

I am an analytical chemist with extensive experience in the experimental (wet-lab) portion of mass spectrometry workflows.  I have some experience with bioinformatics, for example I know some Python and can frequently get command line bioinformatics packages to run, but am not an expert in this area.

Recently I have been looking at some of the OpenSource pipelines (e.g. Skyline, OpenMS (Knim

[2017-01-16 17:30] jpfeuffer commented on #2353
Hi!

I will start to give you suggestions for some of the problems:

This is intended. As the tool [documentation](http://ftp.mi.fu-berlin.de/pub/OpenMS/release-documentation/html/TOPP_OMSSAAdapter.html) states, these index files need to be generated with the NCBI `makeblastdb` tool first and put in the same folder as the original fasta database.

Which version of KNIME and OpenMS are you using. W

[2017-01-16 17:43] DinosaurInSpace commented on #2353
Wow thanks for the prompt response!

1. My apologies re:OMSSA.  That seemed to do the trick.

2. I am running KNIME 3.3.1 downloaded with all community plugins with OpenMS 2.1.0.201611191105.

3. For SpecLibSearcher I am using the NIST standard library for E. coli (http://chemdata.nist.gov/dokuwiki/doku.php?id=peptidew:lib:e_coli).  This library works in Spectrast.  My thought is that although the

[2017-01-16 19:00] jpfeuffer commented on #2353
Concerning 2.:
That is indeed the most current version. I can not reproduce the problem on Mac (btw: can you specify your operating system?). And could you post the error log for XTandem in the KNIME Console? If you do not find it you can access the error log also when you right-click the XTandemAdapter node and select View: XTandemAdapter Error Output.

[2017-01-16 19:33] DinosaurInSpace commented on #2353
Hey:

Thanks again for your prompt response!

I am running Windows 7 Professional.  I actually just uninstalled then reinstalled the Knime and Open MS environment.  This seems to have resolved the issue for X!Tandem!

This does not resolve the error for SpecLibSearcher:

ERROR SpecLibSearcher      2:11       Failing process stdout: [Error: Unexpected internal error (The value 'Carbamidomethyl' was

[2017-01-17 07:33] cbielow commented on #2350
I think the reason for -append not being a flag is that by default flags are false, i.e. not set.
You cannot have a flag defaulting to true (by design).
Since in the case of DecoyDatabase the appending makes sense by default, its implemented as a normal string param, with somewhat unfavourable values of "false/true", which lead to this inconsistency.
There are two ways to fix this IMHO
1) use diff

[2017-01-17 10:56] blankclemens commented on #2350
I see. Your second solution feels better IMHO, but would indeed be a breaking change - while the first one could theoretically be automated. E.g. for my initial problem I might be able to scan for "true/false" parameters which have "true" as there default value - and then treat them differently than the "normal" flags. Of course this only works if all off these parameters behave the same, and ther

[2017-01-18 08:02] Stortebecker commented on #1780
Does the term "chromatogram" refer to the TIC, here? If so, would it ever be wanted to pick the chromatogram?

[2017-01-18 19:18] jpfeuffer opened #2355 "Consistent naming of enzymes in tool parameters (i.e. MSGFPlusAdapter)"
I think we should change the valid names available for selection in the MSGFPlusAdapter (parameter "enzyme") to be consistent with the other search engines.
**Especially** because if you select "trypsin" for MSGF+ the rule it uses is [KR] (i.e. what is in OpenMS internally called Trypsin/P).
Maybe also create an own parameter category as in the other adapters.

[2017-01-18 19:57] jpfeuffer opened #2356 "Include peptide score distributions and fitted distributions (from PEP) in QC"
To identify errors early on. Maybe we can use the R plotting functions to replace the gnuplot plotting code in IDPEP.

[2017-01-18 23:19] isaphan opened #2357 "PeakPickerHiRes crashes with internal error"
Re-running PeakPickerHiRes on mzML data that was successfully processed on Dec 2016 using the exact same tools. Now getting the error:

Error: Unexpected internal error (Error: Centroided data provided but profile spectra expected.)
Error occurred in line 541 of file /Users/aiche/NIGHTLY/RELEASE/src/openms/include/OpenMS/TRANSFORMATIONS/RAW2PEAK/PeakPickerHiRes.h (in function: pickExperiment) !

I

[2017-01-19 00:52] isaphan commented on #2357
fixed by re-creating the mzML files from the mzXML files with FileConverter.

[2017-01-19 00:52] #2357 closed

[2017-01-19 10:40] blankclemens opened #2358 "PeakPickerHiRes INI/CTD entry for report_FWHM_unit produces error"
The CTD/INI entry for PeakPickerHiRes specifies as default and possible value `relative(ppm)`. This value, however, produces an error in bash, since parentheses aren't allowed. Using only `ppm` or `relative` does work however. Would it be possible to change this in Order to help with automatic command generation?

[code]

Yes, it would work to put the command into quotation marks, but for automati

[2017-01-19 10:46] cbielow commented on #2358
you'd have to use Quotation marks for Input and Output files anyway, right?
Another alternative is to write this params to an INI file and read that via bash.

The disadvantage of changing the allowed values here is that it breaks the CLI and leads to upgrade/downgrade problems for all existing pipelines. In your case, I'm not sure if the benefits outweight the disadvantages. I also think that the

[2017-01-19 10:54] blankclemens commented on #2358
Would it actually lead to issues? Since right now, everything is accepted and treated as `relative` - only `absolute` and `"absolute"` would change this parameter - and this wouldn't be touched.

So I could imagine that changing this value to `relative` or `ppm` would break anything, but I'm not sure. And of course, it would be possible to just put everything in quotation marks (Input and Output c

[2017-01-19 13:55] blankclemens commented on #2358
While I do think that command line parameters shouldn't contain characters which have to be escaped in order to use them in the command line, I admit that it's pretty easy to work around this and it can be closed.

[2017-01-19 13:55] #2358 closed

[2017-01-20 10:38] jpfeuffer opened #2361 "RTModel silently produces files with additional parameters"
Which is a problem for usage in KNIME. When you save the output, only the registered output file is copied. If you then use RTPredict, the additional file is missing.
Solutions:
- Multiple outputs
- Output prefix

[2017-01-20 11:35] cbielow commented on #2358
True, in this case it would be backwards compatible.

Thats no problem. Incoming CLI params are always strings, in C(++) at least, so no worries there.

I'll go ahead and make the change.

[2017-01-20 11:47] jpfeuffer commented on #2353
Since the other problems were solved with a reinstall, I renamed it to the last, probably real issue.

Yes, there is a mismatch between the representation in the MSP file and the unimod representation but we seem to have a special parser that should take care of this translation:
https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/FORMAT/MSPFile.cpp

We would need to investigate furthe

[2017-01-20 19:50] DinosaurInSpace commented on #2353
Thanks again for your help!

Further question: it looks like the MSPFile.cpp is a c++ program that I will need to compile?  Can you provide any advice in this process.  I have experience with interpreted languages such as Python but have never touched C++ before.

Having Spectrast implemented in Knime OpenMS would be terrrific!

[2017-01-22 15:25] timosachsenberg commented on #2361
hmm I think multiple outputs are better

[2017-01-23 08:19] cbielow commented on #2361
related to #632

and also voting for multiple outputs

[2017-01-23 08:43] cbielow commented on #2125
closing this. Feel free to re-open if the problem is not solved.

[2017-01-23 08:43] #2125 closed

[2017-01-23 12:20] timosachsenberg commented on #2343
[code]

[2017-01-23 12:23] timosachsenberg commented on #2343
[code]

[2017-01-25 12:10] #2361 closed

[2017-01-25 13:44] SharmeelaAshwin opened #2366 "Error validating idXML file against XML schema"
On running the "`fileinfo -v -in CC271.idXML`" on CC271.idXML file  below pasted errors are displayed

[code]

Please find the link to the uploaded file CC271.idXML here : https://gist.github.com/SharmeelaAshwin/df58e22565c442ea29a495db3274a6fd

[2017-01-25 15:24] jpfeuffer commented on #2366
Hi!

Where does the idXML come from? From conversion with IDFileConverter?
If so, please check the documentation and consider setting the scan_regex option of the tool.
http://ftp.mi.fu-berlin.de/pub/OpenMS/release-documentation/html/TOPP_IDFileConverter.html

[2017-01-25 16:14] SharmeelaAshwin commented on #2366
Hi,

The idXML file was not created using IDFileConverter. It was created using OpenMS workflow.
The Toppas file is being attached here for the workflow:
https://gist.github.com/SharmeelaAshwin/8005ccaed9bdedeb77106370889ceed1
and the 20th output node of the workflow generated the CC271.idXML file.

[2017-01-25 17:33] hroest commented on #2345
@lars20070 did you report this to pwiz the mailing list?

[2017-01-25 17:41] hroest commented on #2347
interesting, what do we need the `WSDL_20030211` schema for? I see its only use is in `writeWSDL_` and if debian is really concerned, they could remove it and simply not offer `writeWSDL_`, correct? I also found this email that basically says to remove it for debian as the file cannot legally be modified: https://lists.debian.org/debian-legal/2014/07/msg00005.html

what about the cmake files?

[co

[2017-01-25 17:46] hroest commented on #2241
@timosachsenberg @hendrikweisser it seems that the debian people are getting serious about removing Qt4 and Webkit: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=784502#15

any progress on this? eventually, they will remove us from debian which would be somewhat sad.

Also it seems that Qt4 has reached end of life in December 2015: http://blog.qt.io/blog/2014/11/27/qt-4-8-x-support-to-be-exten

[2017-01-26 08:07] lars20070 commented on #2345
I have done so now, @hroest. Thanks for the reminder.

[code]

[2017-01-26 11:23] jpfeuffer commented on #2347
My understanding was that he complains about missing license texts in our Copyright file.
I am not sure if that is the rule or even mandatory to be legally correct?
About wsdl, I agree, it probably needs to be removed for distribution. I also do not see its use case, yet.

[2017-01-26 11:25] jpfeuffer commented on #2347
https://github.com/OpenMS/OpenMS/blob/2bcec96a828df8b7d10376bcf644936ecb14e52c/src/tests/topp/CMakeLists.txt#L88
I think this line is the only usage of the write_wsdl command line option.

[2017-01-26 11:27] cbielow commented on #2347
is there any use-case for wdsl? its been available forever, yet noone seems to Need it.... remove entirely?

[2017-01-26 11:27] jpfeuffer commented on #2347
It seems to be only used for the report of AdditiveSeries.

[2017-01-26 11:27] cbielow commented on #2347
for the cmake modules: do we still Need them? sometimes they are included in newer CMake Releases and could be removed.

[2017-01-26 11:29] jpfeuffer commented on #2347
Or maybe AdditiveSeries was just chosen for this test because it was one of the first TOPPtools in the alphabet...

[2017-01-26 13:36] hendrikweisser commented on #2241
None on my side. Maybe we should schedule it for the developer retreat? @timosachsenberg, are you going to be there?

[2017-01-26 15:06] BioComSoftware commented on #954
Hey,

Did this ever get fixed and merged into a branch?

I ask because we're wanting to use the develop branch (for the feature in "First version of SpectraST search adapter util #2359") however when I try to run a known-good pipeline from "ExecutePipeline" i get the qwidget error again...

    root@ubuntu:/usr/local/OpenMS-build/bin/ExecutePipeline -in /home/mikes/Assay-Workflows-Mikes/protein_lf

[2017-01-26 15:14] jpfeuffer commented on #954
Hi,

I do not know about a fix unfortunately but are the installations on the same or different machines?
If they are on the same, there might be errors due to sharing the OPENMS_DATA_PATH that only occur in one installation.

[2017-01-26 15:23] BioComSoftware commented on #954
Hi J,

Well, its the same box..but I replaced the branch-master install with a
branch-devel install.

I had this error before using branch-devel, which is why I changed to
the master branch. But now a feature that we want([FEATURE] First
version of SpectraST search adapter util #2359) appears to only be
available on the develop branch...and it seems the develop branch still
has the issue(?)

Thank

[2017-01-26 17:50] jpfeuffer commented on #1949
After this problem came up again, I reread this issue and also like Timo's suggestion about "dynamic" restrictions. If I find some time I will see what we can do. It might even be possible without an update of our tool description schemata, if we maybe allow a token in string restrictions to mean arbitrary string (at own risk). OTherwise we would need another attribute for restricted parameters.

[2017-01-27 01:13] hroest commented on #2241
I think it becomes more and more urgent ...

[2017-01-27 09:42] hendrikweisser opened #2369 "FileFilter: handling of peptide IDs when filtering featureXML/consensusXML"
When feature or consensus maps are annotated with peptide IDs, IDs that don't match to a (consensus) feature are stored as "unassigned" peptide IDs. When FileFilter is used to filter corresponding files, if (consensus) features containing peptide IDs are removed, the IDs should not be deleted with the features, but turned into "unassigned" IDs.

[2017-01-27 10:51] cbielow commented on #2318
+1 for patching WildMagic

[2017-01-27 15:39] lars20070 opened #2370 "ID score visualisation in TOPPView"
Currently, PSMs are visualised in the `idXML` layer of `TOPPView` with small crosses.

Using the same coloured dots as in `featureXML` and `consensusXML` would allow the visualisation of the ID scores. In addition that would allow for the filtering of PSMs using the `Data filter` tab.

<img width="700" alt="screen shot 2017-01-27 at 16 29 37" src="https://cloud.githubusercontent.com/assets/6149805

[2017-01-27 15:44] jpfeuffer commented on #2370
I like this. If it is not too crowded when zoomed out. Choosing which score to display would be even nicer!

[2017-01-28 16:25] sagitter opened #2372 "Configure error with CMake-3.7.2 and GCC-7.0.1"
Hi all.

`OpenMS-2.1.0` configuration fails with `CMake-3.7.2`:

[code]

[2017-01-30 09:14] cbielow commented on #2347
yes

[2017-01-30 11:06] jpfeuffer commented on #2372
From the affected lines I would say that the -dumpversion option of GCC7 changed.
Could you post the output of this command?

[2017-01-30 11:54] BioComSoftware commented on #954
So, I'm wondering if - when running ExecutePipeline from the develop
branch - it is still asking what tmp directory to use (and thus it tries
to create the ppoup asking what tmp directory, thus triggering the
QWidget error.)

I did NOT get this issue when running the master branch...but I'm
wondering (as a workaround) if there's a way to designate what tmp
directory to use in either the TOPPAS fil

[2017-01-30 16:39] burlab commented on #2001
The current develop OpenMS branch (https://github.com/OpenMS/OpenMS/commit/72b788d0ac1053cb4da8b56e1196342fa7c993d7) builds with MSVC2015 64 bit (Win10) as Release without errors . Tests result output:
[code]

However, building pyopenms for Python 3.5.2 64 bit with MSVC2015  fails with following error:
[code]

[2017-01-30 16:47] sagitter commented on #2372
The GCC version used is `gcc-7.0.1`

[CMakeOutput.log.txt](https://github.com/OpenMS/OpenMS/files/739601/CMakeOutput.log.txt)

[2017-01-30 19:44] jpfeuffer commented on #2372
Can you try the changes from the PR? I do not have a Linux with GCC7 at hand.

[2017-01-30 20:52] hroest opened #2375 "pyOpenMS tests"
what happened to the pyOpenMS tests, I dont see them in cdash any more?

[2017-01-30 20:54] hroest commented on #2001
this may be an issue with the current develop and not with MSVS 2015. Can you try this patch: https://github.com/hroest/OpenMS/commit/45e61f94ed7d13e59906fd5066f9cbece09088ef.patch or if that doesnt work just remove the offending function "annotate" from the src/pyOpenMS/pxds/IDMapper.pxd

[2017-01-31 02:01] burlab commented on #2001
With your patch for IDMapper.pxd, pyopenms successfully builds and passes most tests. Thank you!
Output of the nosetests: [pyopenms_72b788d_Python3.5.2_64bit_MSVC2015_nosetests_results.txt](https://github.com/OpenMS/OpenMS/files/740941/pyopenms_72b788d_Python3.5.2_64bit_MSVC2015_nosetests_results.txt)

[2017-01-31 02:36] hroest commented on #2001
thanks, these are failed tests

[code]

it seems some are due to changes in OpenMS and we havent adopted the tests yet but some are more concerning and I need to look into these:

[code]

there is clearly an `indexList` element here...

[2017-01-31 11:23] sagitter commented on #2372
I'm rebuilding https://github.com/OpenMS/OpenMS/commit/bde813c6c20588a953d3295f759b834398747e8b adding the `CMAKE_CXX_COMPILER_VERSION` option, the code is correctly configured by `CMake`.

[2017-01-31 14:59] BioComSoftware opened #2379 "Can't run any TOPPAS file with ExecutePipeline (master or develop)"
Hey,

Anytime I try to run a TOPPAs file (that works in the GUI) I get a QWIdget error.

This is happening in both the master and develop branch.

I've done this extensively in the past so I'm wondering if either:

A) I've started doing something wrong (it's been a while)
B) A bug got introduced?

    root@ubuntu:ExecutePipeline -in '/home/(snip)/DeMIX+DeMix-Q.toppas' -out_dir '/home/OUTDATA/tmp/'

[2017-01-31 15:50] timosachsenberg commented on #2241
I'll be there. Think this would be a good and manageable goal for hacking session.

[2017-01-31 19:10] hroest commented on #2375
@jpfeuffer can you maybe re-enable them?

[2017-01-31 19:17] jpfeuffer commented on #2375
Yes I changed the script already. I remember disabling them during the last days before the release because they paralysed the machine with their RAM usage such that multiple builds per day were not possible.

[2017-01-31 19:41] hroest commented on #2375
great, thanks!

[2017-01-31 19:41] #2375 closed

[2017-02-01 09:10] oliveralka opened #2381 "LuciphorAdapter/Luciphor2"
I ran into an issue trying to run the LuciphorAdapter.

Following error occurred several times and the LuciphorAdapter failed:

[code]
The mzML I was using had a 64-bit float, m/z array and a 32-bit float, intensity array. After conversion of both arrays to 32-bit the LuciphorAdapter worked without problems. This seems to be related to LuciPhor2, which may only take 32-bit or 64-bit arrays [1].

T

[2017-02-01 11:59] BioComSoftware commented on #2379
Update: This seems to just be an issue on Linux. The OSX port seems to continue working.

[2017-02-01 12:26] BioComSoftware commented on #954
Any word on this?

[2017-02-01 13:55] jotes35 opened #2382 "Xtandem Error"
I run into this error when executing the TOPPAS Workflow. I have attached the files i used. Below is the error message.

Number of rounds for incoming edges of node #4 are not equal. No idea on how to combine them! Did you want to recycle its input?

==============================================================================
13:50:11 ERROR: XTandemAdapter failed!
Number of rounds for incoming e

[2017-02-01 14:54] oliveralka commented on #2382
Hello jotes35,

it seems there is something wrong with the attachment.

If you are using your decoy database for several nodes in your workflow you have to switch on recycling mode. Right-click on the input node of your decoy database and click on "Toggle recycling mode". You will see a small recycling symbol on top of the node.

I hope that helps, if not please try to upload your workflow again.

[2017-02-01 15:04] jotes35 commented on #2382
Now after turning on recycling for the decoy database this is the error message i am getting

15:01:15 ERROR: FalseDiscoveryRate failed!
Number of rounds of node #10 cannot be determined since all input nodes have recycling enabled. Disable for at least one input!

![labelfree workflow](https://cloud.githubusercontent.com/assets/14283733/22512079/b0f6c190-e88f-11e6-9b1c-32e73a1b0765.png)

[2017-02-01 15:07] jpfeuffer commented on #2382
Why did you turn on recycling in node #9 (could be FidoAdapter but can't really read it)?
What happens if you turn it off?

[2017-02-01 15:34] jotes35 commented on #2382
Thanks everybody. Now when it runs it stops at the mapalignerposeclustering. How to i edit the ini parameter. Below is the error message .
![label free exp](https://cloud.githubusercontent.com/assets/14283733/22513340/dc0df96c-e893-11e6-8470-430d67c03b02.png)

15:28:10 NOTICE: MapAlignerPoseClustering of node #17 started. Processing ...
Error: The required parameter 'in' was not given or is empty!

[2017-02-02 07:19] oliveralka commented on #2382
It seems that there is an "in" file missing. Do you have the right input slot active for node 17? Please try to connect node 16 and 17 again and choose "-in" which should have the format mzML or featureXML. If that doesn't do it please check if the node 16 has the right output format mzML or featureXML and if an output is written.

[2017-02-02 08:55] BioComSoftware commented on #954
Hi All,

So update.

If I create a new Pipeline from scratch, containing only a PPHR node, I can run it from ExecutePipeline just fine.

My understanding is, the QWidget error happens because the command line executable is trying to create a GUI window, which it can't from the command line (obviously).The Pipelines in question also run fine at a GUI windows (within TOPPAS) WITHOUT popping any addi

[2017-02-02 09:00] cbielow commented on #954
Hi Mike, can you attach the pipeline here please. It should be self sufficient if possible, i.e. use nodes which are available in the standard OpenMS installation. If thats not possible, please attach the tdds for GW as well. I'll look into it.

[2017-02-02 09:05] lars20070 commented on #2382
@oliveralka You are right. The collector before `MapAlignerPoseClustering` is missing.
The tool expects a file list of `n` input files.
![mergecollectsplit](https://cloud.githubusercontent.com/assets/6149805/22543051/050efdac-e92f-11e6-87d5-377402b9dbec.png)

[2017-02-02 09:10] BioComSoftware commented on #954
Hi Chris,

Thanks so much for looking into this!

I'll send you the pipelines - let me get that assembled for you.

In the meantime, I wonder if we should look at the larger issue of the
QTWidget again. I may be wrong, but isn't this error because the
ExecutePipeline command is trying to pop a GUI window when it's not
being called by the GUI?

Is it possible to track down what's calling this GUI w

[2017-02-02 09:14] BioComSoftware commented on #954
Hi Chris,

I know it's a bit improper, but may I send this info to you privately
(instead of over the OpenMS channel). I need to check with my project
leader if he is comfortable sharing these pieplines publicly. But for
the sake of your time, and the issue urgency, I don't mind sharing
directly with you :)

Thanks!
Mike

--

*Michael Rightmire*

B.Sci. Molecular Biotechnology

MCSE,MCP+I,HPUXCA,C

[2017-02-02 09:19] cbielow opened #2384 "Solve Travis CI timeout for Clang"
we always run into the time limit barrier.

multiple ways to resolve:
 - disable it (should be done in any case, until we have a new solution to see the green light CI tests again)
 - split the tests further (not ideal since its more build system hassle)
 - improve speed of building (compiler flags, caching of packages?)
 - use another CI

[2017-02-02 09:21] cbielow commented on #954
exactly.

You should have me one skype for file transfer or mail adress exchange

[2017-02-02 09:21] BioComSoftware commented on #954
OK. When I open SOME of the offending pipelines IN THE TOPPAS GUI, I get this message (NOTE: at open NOT at run).

Perhaps this is the message thats causing the QWidget error?

<img width="792" alt="screen shot 2017-02-02 at 10 16 48" src="https://cloud.githubusercontent.com/assets/6683102/22543503/0f6b32fa-e931-11e6-8c3e-542620c6b6aa.png">

This may relate to another issue I started in the mailli

[2017-02-02 09:24] BioComSoftware commented on #954
Hi Chris,

I dont think I currently have you on Skype...but my skype is RightmireM
if you'd be willing to make a contact request.

Searching for you on skype pulls up a LOT of people :D

Thanks!

Chris Bielow wrote:

--

*Michael Rightmire*

B.Sci. Molecular Biotechnology

MCSE,MCP+I,HPUXCA,CompTIA,VDE, SIAM,ISCB

Skype:RightmireM

+49-721-1320-2562 (DE)

+1-408-890-2121 (USA)

Biocom Biotechnolog

[2017-02-02 10:09] BioComSoftware commented on #954
Hi Chris,

I'm 90% confident it's the tmp issue...

<img width="792" alt="screen shot 2017-02-02 at 10 16 48" src="https://cloud.githubusercontent.com/assets/6683102/22544809/9f8b022a-e936-11e6-8164-249faaad1d97.png">

Anytime I open a pipeline in the GUI, and it creates that message, the pipeline fails at the command line ExecutePipeline with eh QWidget error.

Any pipeline I can open in the GUI,

[2017-02-02 10:24] BioComSoftware commented on #954
The QWidget error also appears if the pipeline tries to warn of nodes without output file locations...

<img width="347" alt="screen shot 2017-02-02 at 11 23 28" src="https://cloud.githubusercontent.com/assets/6683102/22545720/2262d9a4-e93a-11e6-8cfc-ac7a115ecf62.png">

[2017-02-02 14:18] jpfeuffer commented on #2382
@lars20070 Nice visualization. Maybe you can put it in some Tutorial of ours.

[2017-02-02 15:42] jotes35 commented on #2382
Thanks lars. i am testing them right now and will give you a feedback

[2017-02-02 15:50] jotes35 commented on #2382
i just test the knwf workflow and it stops at the mapalignerposeclustering node below is the error message

ERROR MapAlignerPoseClustering 3:21       Failing process stdout: [Picking a reference (by size) ... done, , ---------------------------------------------------, FATAL: uncaught exception!, ---------------------------------------------------, last entry in the exception handler: , exception

[2017-02-02 15:54] jpfeuffer commented on #2382
Hm.. somehow the Exception is not passed to the command line but the line in the code says this:
`"One of the input maps is empty! This is not allowed!"`

Since you use a file filter beforehand please check that it is not too strict.

[2017-02-02 15:57] jpfeuffer commented on #2382
In general please inspect your files (e.g. FileInfo or OutputFile(s)) in each step to find the broken step.

[2017-02-02 16:02] jotes35 commented on #2382
Thanks i will get on it now

[2017-02-02 16:38] lars20070 commented on #2382
@jotes35 Please set the intensity cutoff in the `FileFilter` before `MapAlignerPoseClusterung` to zero.
[code]

[2017-02-02 17:06] cbielow commented on #2372
I understand this is fixed?! --> closing ticket.

[2017-02-02 17:06] #2372 closed

[2017-02-02 17:14] cbielow commented on #954
Hey Mike,
this should be fixed now:

You can give it a try with all your pipelines on my branch

https://github.com/cbielow/OpenMS/tree/fix-Messagebox

[2017-02-03 10:45] cbielow commented on #2350
DecoyDatabase interface will be fixed in
https://github.com/OpenMS/OpenMS/pull/2389

[2017-02-03 10:46] cbielow commented on #2350
the other flags (the ones I've checked) which require true/false are sometimes on subsection level, i.e. are internal params, which do not (yet) have the notion of flags. I.e. its currently not possible to avoid true/false.

[2017-02-03 23:51] jpfeuffer opened #2390 "Missing pthread symbols during compilation with clang3.5"
On Ubuntu14.04.
Error:
`[ 50%] Linking CXX executable ../../bin/FeatureFinderSuperHirn
/usr/bin/ld: /home/jenkins/ws/openms_all/117bf32c/contrib_build/lib/libxerces-c.a(PosixMutexMgr.o): undefined reference to symbol 'pthread_mutexattr_settype@@GLIBC_2.2.5'
//lib/x86_64-linux-gnu/libpthread.so.0: error adding symbols: DSO missing from command line
clang: error: linker command failed with exit code

[2017-02-04 00:03] cbielow commented on #2390
http://stackoverflow.com/questions/22180354/why-am-i-getting-undefined-reference-to-pthread-mutexattr-settype

--> fix: pass `-pthread` as CXX flag ?

[2017-02-04 00:06] jpfeuffer commented on #2390
Thanks, I'll try that next. I always wonder, why this happens in such rare cases.
E.g. not with gcc, not on Travis with clang3.4. Same flags.
Well..
I guess this does not justify adding "-pthread" as global compilation flag?

[2017-02-05 15:02] jpfeuffer commented on #2390
Yep.
[code]
works

[2017-02-06 13:19] timosachsenberg opened #2391 "PeakPickerHiRes update fails on KNIME nightly build"
![image](https://cloud.githubusercontent.com/assets/5803621/22648487/39752382-ec77-11e6-85d0-95ad687fecef.png)

[2017-02-06 13:21] timosachsenberg commented on #2391
happened for me when I used the drag-and-replace feature in KNIME. Removing the node and readding it solved the issue.

[2017-02-06 14:23] jpfeuffer commented on #2391
Hmm I would have thought that drag and replace actually does the same.
Did you update the nightlies between the drag-and-replace and the actual remove and readd?
Last days we had some problems with old nodes getting used as fallback because I messed up the packaging.

[2017-02-06 15:11] timosachsenberg opened #2392 "Calculate precursor ion purity as quality control"
@mwalzer potentially interesting to include this into, e.g. QC reports
http://pubs.acs.org/doi/abs/10.1021/acs.analchem.6b04358

[2017-02-06 15:13] timosachsenberg commented on #2391
Hmm can't reproduce the problem now. Might also be related to a fallback mechanism. Though I am pretty sure that I tested it before and after the update. I close this issue - just wanted it to pop up once in the issue lists.

[2017-02-06 15:13] #2391 closed

[2017-02-07 09:42] mwalzer commented on #2392
yep, thx! :rocket:

[2017-02-07 19:18] isaphan opened #2394 "PeakPickerHiRes fails to read mzML profile data"
I used msconvert to convert raw Orbitrap LTQ MS/MS data to mzML, using the default settings, which should yield profile data.

- PeakPickerHiRes fails with
Error: Unexpected internal error (Error: Centroided data provided but profile spectra expected.)

I removed the PeakPickerHiRes node and used directly FeatureFinderCentroided on the exact same mzML file. I get the error:
Error: Unexpected inter

[2017-02-07 21:12] hendrikweisser commented on #2394
What does FileInfo say about the file, especially the peak type?

[2017-02-07 22:23] isaphan commented on #2394
This is the FileInfo output:

File type: mzML

Peak type (metadata): Unknown
Peak type (estimated): Raw data
Estimated raw data spacing: 0.0008432 (min: 1e-05, max: 46.8346)

Number of spectra: 28111
Number of peaks: 232061015

[2017-02-08 01:24] isaphan commented on #2394
For what it's worth, I've managed to get PeakPickerHiRes to work by:
a) converting the raw file first to mzXML using msconvert (default options)
b) adding a step in my OpenMS pipeline to convert the mzXML into mzML

The conversion was a very slow process, several hours per file... It would be really helpful to be able to read the msconvert-generated mzML files directly.

[2017-02-08 07:44] timosachsenberg commented on #2394
Did you check if PeakPickerHiRes is configured to pick only MS1 ? Maybe the MS2 is already recorded in centroided mode

[2017-02-08 09:46] timosachsenberg opened #2395 "PeptideIndexer memory consumption in the presence of many XXXX"
Hi,
I am currently indexing against a 4gb microbial proteome database that contains proteins with large stretches of X
[code]
Memory consumption is very high (>100gb) and indexing takes about a day.

What would be a good way to handle this situation in PeptideIndexer?
e.g., collapse stretches of 'XXX...' to a single X ?

[2017-02-08 10:10] mwalzer commented on #2348
@lars20070 do you know about those workflows? Are they featured somewhere else already?

[2017-02-08 10:21] mwalzer commented on #2348
@jpfeuffer

I can't follow you there. But that raises another question, why don't we just have an about page (or a redirect under that name to say http://www.openms.de/publications/ or any other)

[2017-02-08 18:14] isaphan commented on #2394
aargh, well spotted, I should have checked that with our mass spec folks, my bad. Yes you are absolutely right. Thank you so much for your help.

[2017-02-08 18:14] #2394 closed

[2017-02-08 20:00] hendrikweisser commented on #2394
@timosachsenberg: I think we should add an explicit message to PPHR, if it fails due to a mix of profile and centroided spectra at different MS levels.

[2017-02-08 20:12] hroest commented on #2394
also FileInfo could say something about that ...

[2017-02-08 20:49] timosachsenberg commented on #2394
yes I think we should add a more explicit warning

[2017-02-09 15:17] cbielow commented on #2395
the high memory consumption is most likely due to the suffix array.

options:
1. use exact search only
2. reduce AAs (i.e. allowed number of AAs `-aaa_max`)
3. use `-filter_aaa_proteins`

You could also collapse "xxx...", but that has some restrictions, i.e. bridging distant sequences should be avoided.

What parametes did you use?

[2017-02-10 05:29] hannesveit opened #2401 "FeatureFinderMultiplex crash"
FeatureFinderMultiplex crashes on one of my simulated mzML files. This doesn't occur on hundreds of other simulated files which are essentially all the same (only difference is some minor random variation introduced by MSSimulator).

Minimal example: [FFMPX_crash.mzML.zip](https://github.com/OpenMS/OpenMS/files/765775/FFMPX_crash.mzML.zip)

Parameters:

[2017-02-10 07:52] cbielow commented on #2379
#2388 is merged. Did this fix the problem?

[2017-02-10 08:23] BioComSoftware commented on #2379
Hey Chris,

I'm still testing it. Last weeks cold and the server rebuild really put
me behind. I should know today.

Thanks again for the help!
Mike

--

*Michael Rightmire*

B.Sci. Molecular Biotechnology

MCSE,MCP+I,HPUXCA,CompTIA,VDE, SIAM,ISCB

Skype:RightmireM

+49-721-1320-2562 (DE)

+1-408-890-2121 (USA)

Biocom Biotechnology and Software
BiocomSoftware.Com <Http://biocomsoftware.com>

Bioc

[2017-02-10 10:16] BioComSoftware commented on #2379
It does look like it's fixed! I tried it both with and without
generating error messages. The error's came out as text (and not the
QWidget error).

Thanks!

--

*Michael Rightmire*

B.Sci. Molecular Biotechnology

MCSE,MCP+I,HPUXCA,CompTIA,VDE, SIAM,ISCB

Skype:RightmireM

+49-721-1320-2562 (DE)

+1-408-890-2121 (USA)

Biocom Biotechnology and Software
BiocomSoftware.Com <Http://biocomsoftware.co

[2017-02-10 10:23] BioComSoftware opened #2402 "TOPPAs file save, improperly relative-izing paths"
Hey,

So, this has been an ongoing issue for a while...and is happening on both my OSX and Ubuntu installs.

Simply, when saving a pipeline, TOPPAS tries to save portions of paths relatively (instead of the full path).

I.e. when saving a pipeline with the following FULL path in an 'input node'...

<img width="614" alt="screen shot 2017-02-10 at 11 20 15" src="https://cloud.githubusercontent.com/a

[2017-02-10 12:59] jpfeuffer commented on #2401
A <= vs < problem?

[2017-02-10 14:13] hendrikweisser opened #2404 "Reading of modifications in mzIdentML: terminal specificity lost"
Terminal specificity of modifications in the search parameters is not read correctly from mzIdentML. This causes the loss of the specificity information and possibly problems in dealing with the resulting data.
This happens in IDFileConverter and in MSGFPlusAdapter.
Common modifications that are affected include: Acetyl (N-term), Gln->pyro-Glu (N-term Q), Glu->pyro-Glu (N-term E)

For example, "Ac

[2017-02-10 14:58] hendrikweisser opened #2405 "XTandemAdapter crash on "Deamidated (N)" modification"
XTandemAdapter crashed, after completion of the X! Tandem search, with the following error messages:

[code]

The following modifications were used in the search:
- fixed: Carbamidomethyl (C)
- variable: Oxidation (M), Deamidated (N), Deamidated (Q), Gln->pyro-Glu (N-term Q), Glu->pyro-Glu (N-term E), Acetyl (N-term)

Looking at the output file produced directly by X! Tandem ("_tandem_output_file.

[2017-02-10 15:05] jpfeuffer commented on #2405
@enetz Could this be related to your changes?

[2017-02-10 15:08] hendrikweisser opened #2406 "Update X! Tandem and XTandemAdapter"
A new version of X! Tandem is out ("ALANINE"): http://www.thegpm.org/TANDEM/index.html
We should test it and possibly update the version used by OpenMS.

Also, X! Tandem supports mzML as input format and mzIdentML as output format - and has since "PILEDRIVER" (April 2015)! Our XTandemAdapter still uses mzData and X! Tandem's own XML format for input/output. We should switch to mzML/mzid to simplif

[2017-02-10 15:36] hendrikweisser commented on #2406
Also note this update from the "VENGEANCE" version (2015-12-15):

[2017-02-10 15:53] enetz commented on #2405
My pull request is not merged yet, so I doubt this is a new issue,
but I encountered similar issues while tinkering with ModificationsDB.
Weird stuff happens, when we can only search by mass.
It looks like the file produced by X! Tandem does not store the names or accessions of the mods.
Does it have an attribute for term specificity?

I encountered this issue with pepXML parsing: when only the ma

[2017-02-10 17:34] hannesveit commented on #2401
At least that's what it looks like... @lars20070, could you maybe have a closer look at this?

[2017-02-13 09:09] lars20070 commented on #2401
Seems the same problem as in #2027. I had hoped that was resolved in #2069.
@hannesveit  I will have a look.

[2017-02-13 10:07] hendrikweisser commented on #2406
I emailed the X! Tandem developers with a question about the support for mzIdentML output. (I had found that it didn't work when the option "output, results": "all" was set.) I go this reply from Ron Beavis:

So it seems having X! Tandem generate mzIdentML directly is currently not a viable option.

[2017-02-13 10:33] hendrikweisser commented on #2405
<aa type="M" at="6" modified="-18.01056" /> appears for many different amino acids and positions, but the mass shift only matches "Glu->pyro-Glu (N-term E)"!

Okay, I figured out that the position ("at" in the XML) refers to the position in the protein sequence. From what I've seen this is always after a trypsin cleavage site, so it seems to be correctly localized on the peptide N-terminus. The am

[2017-02-13 12:11] hendrikweisser commented on #2405
Apparently the "pyro-Glu" modifications are not needed explicitly, since X! Tandem will include them by default:

http://www.thegpm.org/TANDEM/api/rpmm.html (see "NOTE:" at the bottom)
http://www.thegpm.org/TANDEM/api/pqp.html

[2017-02-13 16:44] mwalzer commented on #2404
this looks like it is related to #1509 and #1550

[2017-02-13 16:49] mwalzer commented on #2404
But I cannot recreate your error. Can you please share one of the offending files?

[2017-02-13 17:03] hendrikweisser commented on #2404
Not easily (too big). Can't you just copy the snippet above (with the "Acetyl") into an example mzid file? The important point would be that after conversion to idXML, the modification appears as `<VariableModification name="Acetyl (N-term)" />`, i.e. with the "N-term".

[2017-02-14 14:50] #2401 closed

[2017-02-15 11:36] timosachsenberg opened #2411 "FileInfo: print protein database statistics from fasta files"
e.g.,:
- number of proteins
- number of amino acids
- amino acid counts (including the special ones 'X', 'B', ...)
- warn if duplicate sequences
- warn if duplicate headers

[2017-02-16 10:21] timosachsenberg opened #2412 "additional MS2 filtering / quality metrics"
this issue is intended to collect some useful links on complementary fragment filtering from the eupa-bioinformatics mailing list:

https://www.ncbi.nlm.nih.gov/pubmed/23725413
https://www.ncbi.nlm.nih.gov/pubmed/25978296
https://www.ncbi.nlm.nih.gov/pubmed/27329701

We mostly presented this as a way to go deeper in the proteome, but it, certainly, can be used as a quality filter as well.

Additio

[2017-02-16 14:21] jpfeuffer opened #2413 "Website improvements"
Hey all,
this is an issue to collect possible improvements for the website, as also suggested for the Dev Meeting. Also for future problems, I created a label "Website".

- [x] Add OpenMS2.0 to the main citations (or replace)
- [x] Clicking on citation years does not work anymore
- [x] Add new members
- [ ] Add sidebar to Training
- [ ] Merge People and Contributors

[2017-02-16 14:51] lars20070 commented on #2343
Crashes occur only on `mzML` with ID information.
Certain MS-GF+ versions might be the culprit. But not fully tested.

[2017-02-17 08:40] lukaszimmermann commented on #2411
How can I set myself as assignee? I wanted to work on FileInfo anyway.

[2017-02-17 09:18] timosachsenberg opened #2414 "Non-meaningful errors when reading ascii encoded files"
I recently encoutered an UTF-16 (LE) encoded fasta file that leads to a crash of DecoyDatabase (in SeqAn fasta reader).

the ff fe indicates the UTF-16 encoding and byte order:
[code]

[2017-02-17 09:27] timosachsenberg commented on #2414
workaround:
[code]

[2017-02-17 10:24] hendrikweisser opened #2416 "XTandemAdapter crash on empty "default_config_file" - TOPPBase/DataValue problem"
XTandemAdapter crashes with the following error if the parameter "default_config_file" is set to an empty value (""):
[code]

There is actually code for handling this case in XTandemAdapter ("if the name is empty, don't read the file"), but the error is already triggered by `getStringOption_("default_config_file")`!
The definition of the parameter in `registerOptionsAndFlags_` is correct - it is d

[2017-02-17 10:48] lukaszimmermann commented on #2411
Is it correct that `FileInfo` then would accept  FASTA as a new valid input format?

[2017-02-17 11:17] cbielow commented on #2414
I guess this issue applies to all our files? I just tried to `FileInfo -in ` a UTF-16 encoded mzML and it will fail with `XMLHandler.cpp(103): While loading 'BSA1_UTF16.mzML': invalid document structure( in line 1 column 44)
Probable cause: The file suffix (mzML) does not match the file content (unknown). Rename the file to fix this.`

[2017-02-17 11:19] hendrikweisser commented on #2411
Yes.

[2017-02-17 11:21] cbielow commented on #2413
also improve wording/categories? e.g. `contributing` indicates `How can I contribute?`, but what it should say is `Contributors`, i.e. people already contributing.

[2017-02-17 11:33] lars20070 commented on #2413
Some non-technical [*] users cannot easily find their way to the installers. It requires four clicks to start the download. Instead, a clear download link should appear on the front page.

[*] who do not know what binaries are

[2017-02-17 13:11] jpfeuffer commented on #2414
Yes, see also the issue with the Unimod database.

[2017-02-17 13:16] jpfeuffer commented on #2413
Good suggestions, keep 'em coming.

[2017-02-17 15:56] lars20070 commented on #2343
@timosachsenberg I tried to narrow down which part of the `featureXML` leads to the crash.

Seems the crash is not reproducible. The same `featureXML` input file sometimes crashes and sometimes not.

[2017-02-17 16:43] jpfeuffer commented on #2343
Hmm not sure but: What happens here if p has no unit?
https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/DATASTRUCTURES/DataValue.cpp#L206

[2017-02-17 16:56] jpfeuffer commented on #2343
Although.. its a String. Default init should be empty.

[2017-02-17 19:05] timosachsenberg commented on #2343
@lars20070 I am a bit confused. The last gist you sent is a consensusXML without ID and above you stated it only happens for consensusXML with ID.
Could you clarify?

[2017-02-17 23:07] hroest commented on #2381
@oliveralka yes, there is a tool called `FileFilter` that allows you to set `peak_options:mz_precision` and `peak_options:int_precision` which could produce the file you want. In the long run it would be good if OpenMS could check this and either provide a sensible error message or directly convert it for the user.

[2017-02-18 01:29] hroest commented on #2412
this is also especially useful for DIA / SWATH-MS type of experiments as they are multiplexed by design. Taking the elution profiles into account would be going more down the route of DIA-Umpire where maybe an adaptor is the better solution

@grosenberger are there any plans to build such an adaptor in OpenMS? maybe Isa could comment (whats her github account?)

[2017-02-18 09:41] lars20070 commented on #2343
Sorry. Gist link above corrected.

[2017-02-19 14:04] timosachsenberg commented on #2343
ok for that one I get
[code]

[2017-02-20 07:20] timosachsenberg commented on #2414
I think using utf-8 is reasonable but who would use UFT-16 anyway? it will just double the size of the fasta file

[2017-02-20 08:22] oliveralka commented on #2382
@jotes35 Was the issue resolved? Then this issue can be closed.

[2017-02-20 09:00] cbielow commented on #2414
correction: if the encoding in the XML file is correct, our Xerces Parser will produce the correct results for mzML files. In particular, using 'encoding="ISO-8859-1"' even though the file is UTF-16 will lead to an error (see above), but if the encoding-spec corresponds to the actual encoding, it works smoothly. Also removing the encoding-spec from the XML-header line produces the correct results.

[2017-02-20 10:01] mwalzer commented on #2404
Okay, searchparameter reading has to be fixed. One thing I cannot check like this is whether the sequence mods are affected as well. Can you please check in your files?

[2017-02-20 10:25] timosachsenberg commented on #2414
I think we might need to check back with the seqan guys. We use their parser so maybe they can handle it

[2017-02-20 10:28] jpfeuffer commented on #2414
All I know is that they restructured their I/O module completely in 2.x.
@rrahn

[2017-02-20 11:01] #2379 closed

[2017-02-20 12:46] cbielow commented on #2414
SeqAn cannot handle it. Its all ASCII (just talked to the core devs)

[2017-02-20 17:25] jotes35 commented on #2382
Hi, i realised one of the file generated was empty and that is what was making the mapalignerposeclustering to fail. I solved that issue. However when it got to the featurelinkerunlabelledQt it failed again . below is the workflow

![featerlinker](https://cloud.githubusercontent.com/assets/14283733/23135698/87eb1e20-f791-11e6-9c54-fb6b9deb1191.png)

[2017-02-20 17:31] jpfeuffer commented on #2382
Hey, we are getting further ;)
Can you post the new error, too?

[2017-02-20 17:34] jotes35 commented on #2382
ERROR FeatureLinkerUnlabeledQT 0:19       Failing process stdout: [Progress of 'reading input':, ,   0.00 %               , -- done [took 1.92 s (CPU), 1.91 s (Wall)] -- , Error: Unexpected internal error (At least two maps must be given!)]
ERROR FeatureLinkerUnlabeledQT 0:19       Failing process stderr: []
ERROR FeatureLinkerUnlabeledQT 0:19       Execute failed: Failed to execute node FeatureLi

[2017-02-20 17:35] jotes35 commented on #2382
i think no intensity was picked from one of my datafiles and that was what made the mapalignerposeclustering failed

[2017-02-20 17:49] jpfeuffer commented on #2382
Ok. The error indicates that your last loop with the MapRTTransformer only was executed for one iteration, collecting only one result file.
Either because there was only one file going into the ZipLoopStart (more likely) or the loop did not finish all its iterations (in that case you would probably see another error).
How many input files do you have?

[2017-02-20 18:42] jotes35 commented on #2382
It has worked now.
First , i changed the intensity cutoff to 0 as suggested . I also removed the data which had no intensity picked.  Now my abundances has been generated. You can close this issue now.

[2017-02-20 18:42] #2382 closed

[2017-02-20 18:47] jotes35 commented on #2382
Thanks for your contributions everyone

[2017-02-20 19:59] hroest commented on #2414
yes, if by "correct" you mean that we can read and write them again? I dont think we can really do much with the string itself (since it is stored as `std::string`)

this is actually expected behavior, almost all software will fail if you give it the wrong encoding information (e.g. web browsers)

[2017-02-20 21:05] jvolkening opened #2418 "indexed mzML output has incorrect checksum"
Using OpenMS 2.1, PeakPickerHiRes produces an indexed mzML with a `<fileChecksum>` value of 0. This element should contain the SHA-1 checksum of the file up to that point -- the output file file thus fails validation.

Is this a known shortcoming or bug? I couldn't find it mentioned anywhere in my search.

[2017-02-21 00:13] hroest commented on #2414
PS: @timosachsenberg  regarding usage of UTF16 - actually xerces internally uses UTF16 http://stackoverflow.com/questions/9826518/purpose-of-xmlstringtranscode

so basically whatever format we have on disk (ASCII, UTF8, UTF16) gets converted to UTF16 in xerces and we then use the `transcode` function to convert it all to the local format (mostly UTF8 I guess) and then store it as `char *` in OpenM

[2017-02-21 00:14] hroest commented on #2414
PPS: just another reason why storing GBs of data in XML format is a bad idea ...

[2017-02-21 06:35] hroest commented on #2418
this is indeed a known limitation - but not a well documented one https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/FORMAT/HANDLERS/MzMLHandlerHelper.cpp#L145

so far nobody has implemented the checksum feature, I guess we would have to pipe all output through a class that calculates SHA1 on the stream (it is possible to do that, as SHA1 operates on blocks). I guess its quite a bit o

[2017-02-21 09:29] timosachsenberg commented on #2418
found a commit that implements SHA-1 calculation in FileHandler https://github.com/OpenMS/OpenMS/commit/d0c7c3fff30243403082c975d28cb01a4de79ae4

[2017-02-21 10:37] cbielow commented on #2418
the Qt function is certainly useful. We just need to figure out how it deals with newlines etc.
i.e. when the stream receives '\n', it might end up being '\r\n' on disk on Windows.

[2017-02-21 16:51] sagitter commented on #1313
Hello.

Does OpenMS currently support `Seqan-2.3-*` ?

[2017-02-21 17:37] jpfeuffer commented on #1313
Hi.
Unfortunately not, since seqan2.x requires compilation with C++11 and we did not upgrade yet because of our python bindings.

[2017-02-21 17:40] jpfeuffer commented on #1313
Maybe we will upgrade in the next release, depending on how the discussion at our developer meeting turn out and how many TODOs arise from the changes in seqan's IO module.

[2017-02-21 17:45] mwalzer opened #2421 "ModificationsDB has no names"
Seems like ModificationsDB does not contain anything for any mod in the name member.
You could try something like:
[code]
Also, it appears, 'residue' parameter is overridden by 'terminal' parameter in the getModification function. That should go into the documentation.

Can anyone confirm?

[2017-02-21 20:20] hendrikweisser commented on #2421
I'm not sure if I understand you correctly. If both `residue` and `term_spec` are set, only modifications matching both specificities should be found. Do you have a counter-example?

[2017-02-21 21:12] hroest commented on #1313
I guess this relates to #980

[2017-02-21 21:14] hroest commented on #1313
well there are two questions here: 1) what is the version of seqan that comes officially with OpenMS and 2) whether we *support* seqan 2.3

I think we could try and compile with seqan 2.3 and see whether there are major changes preventing compilation. If not, then we could just support it but officially ship a previous version so that both constraints can be fulfilled. Does that sound feasible?

[2017-02-22 01:07] hroest opened #2423 "OpenMS on Ubuntu 16.04"
It seems that compiling OpenMS 16.04 works pretty much out of the box except for Wildmagic.

This has been reported here

- https://github.com/OpenMS/OpenMS/issues/2331
- https://github.com/OpenMS/OpenMS/issues/1483
- https://bugs.launchpad.net/ubuntu/+source/libwildmagic/+bug/1578222

but due to some unfortunate circumstances, the default package on 16.04 is still `5.13-1ubuntu1` and not the fixe

[2017-02-22 01:07] hroest commented on #2423
Interestingly, quite a few of the tests also fail with MSVS 2015 see #2001

[2017-02-22 01:11] hroest commented on #2423
for FFQT compare http://pastebin.com/ZCXsw4GT with our current expected output http://pastebin.com/2VxJeFD8 its basically the same clusters but the `PeptideIdentification` are in a different order (same for the test `TOPP_FeatureLinkerUnlabeledQT_6_out1`)

[2017-02-22 10:04] hendrikweisser commented on #2421
I should have rather said "modifications compatible with both specificities". Using your example: If you have a "C" at the N-terminus with a carbamidomethylation, both "Carbamidomethyl (C)" and "Carbamidomethyl (N-term)" would be compatible, but "Carbamidomethyl (C)" should be given preference. "Carbamidomethyl (N-term A)" (which doesn't exist) would *not* be compatible.

[2017-02-22 11:22] jpfeuffer commented on #1313
Yes, we will have a SeqAn developer with us in the developer meeting @cpockrandt. We will see if we can do some preinvestigation and try to finish the upgrade (or the support of the upgraded version as you correctly said) during the meeting.
Nonetheless, we should also think about a solution (e.g. transition plan) for the python bindings since less preprocessor directives would be favorable and we

[2017-02-22 11:30] jpfeuffer commented on #2423
Yes I remember these tests failing with MSVC2015. I have the same guess about randomisation.
I will see what I can do about Wildmagic in the build system and I will update the docu.

[2017-02-22 11:32] #2404 closed

[2017-02-22 11:39] Stortebecker opened #2424 "[DOC] Feature Finders"
Hej all.

OMS features quite  a lot of different Feature Finders (FF). Are there any recommendations which FF is best used for specific vendors or experiment types? What were the different tools designed for and tested on?

An example (correct me @lars20070 , if I am wrong):
`FeatureFinderMultiplex` was originally designed for stable-isotope-labelling (SIL), but labelfree has been integrated later

[2017-02-22 11:40] Stortebecker commented on #2424
One more question: are you planning to maintain / improve all of the FFs in future?

[2017-02-22 18:02] hroest commented on #2423
it basically seems to be the simulation and some other code that uses randomization

@grosenberger can you look into the MRMAssay part? It looks to me like a an issue with the UIS transition generate
[code]

[2017-02-22 18:10] hroest commented on #1313
probably it would be good to draft a commit and see how large the changes would be. I am also against preprocessor stuff since they are a pain to test. But in the end the question is very simple and has been over at the C++11 thread for quite a while

- do we need/want to support Python 2.7 on Windows any more
- do we need/want to support older RHEL clusters

these are political questions, not a t

[2017-02-22 18:39] grosenberger commented on #2423
The randomisation in MRMAssay is done very similarly as in MRMDecoy and I only used boost functionality. I will try to fix the problem ASAP, but it might take a few days.

[2017-02-22 18:47] mwalzer commented on #2421
No, the point is ```m.getName()``` - the name member

[2017-02-22 18:56] hroest commented on #2423
sure, there is no hurry. Ubuntu 16.04 has been out for 9 months so there is
no immediate need but I think there may be an underlying bug in this code
which would be good to fix anyways. Could someone else look at the
simulation code and the SVM code?

On Wed, Feb 22, 2017 at 10:39 AM, George Rosenberger <
notifications@github.com> wrote:

[2017-02-23 03:40] hroest commented on #2418
@cbielow so how does proteowizard handle this problem?

to me it seems still like a somewhat clunky way of doing checksums, I feel its much better to do it like everybody else: have a separate file with full-file checksums to validate complete downloads. I have never seen anybody else who would think putting the checksum inside the file is a good idea

[2017-02-23 05:32] jvolkening commented on #2418
Proteowizard uses LF for all newlines, regardless of platform (at least it appears so based on the files I have at hand).

I have software that can insert the proper checksum prior to the next step of the workflow in order to allow the file to validate, so it's not a big deal. I really just wanted to confirm that this was a known issue and not a bug per se. I will leave the issue open as a marker

[2017-02-23 05:40] hroest commented on #2418
yes, lets leave this open as a reminder

@jvolkening just out of curiosity, what is your usecase for needing the correct checksum in the files? Do you have software that validates the the checksum and rejects the file otherwise?

Also @jvolkening would you mind sharing the script that you use for fixing the checksum in case someboy else needs it as well? I guess the other workaround would be to us

[2017-02-23 06:31] jvolkening commented on #2418
Yes, but since I wrote the software I can make it less strict. Again, it's really not a big deal. Apparently Proteowizard doesn't even bother to check the SHA-1 sum.

I put the code [here](https://gist.github.com/jvolkening/1a5ebbe5ff635f79843885c5c7a3d432) - I use this to re-calculate the index offsets as well as the checksum if I need to modify the mzML headers. Running it back through `msconver

[2017-02-23 07:08] hroest commented on #2418
great, I guess these are workarounds for now and will work for people that need the checksums.

yes, also OpenMS re-packs the numpress arrays. I have not looked into this but it is possible that you loose accuracy each time you read and store the data (similar to other lossy compression).

[2017-02-23 14:14] jpfeuffer opened #2429 "Nightlies Apple Clang: Error SONARScoring"
[code]

@hroest can you have a look at this?

[2017-02-23 17:15] hendrikweisser commented on #2406
Switch to mzML input (without conversion to mzData) is in #2428.

[2017-02-24 04:15] #2429 closed

[2017-02-24 10:00] cbielow commented on #2413
`training` category has mutlitple problems:
1) on the page itself its called `tutorials`
2) the page is highly confusing. To much mentioning of KNIME, not enough content.
The `old` section is not very concise.

We should also mention on the GitHub page, that there is a compiled version on the homepage. So people do not try to build it themselves. Also the checked in PDF should be removed. People m

[2017-02-24 13:23] hendrikweisser commented on #2424
The most used feature finder, and probably still the default option at the moment, is FeatureFinderCentroided. It is intended for high-res data that has been centroided (e.g. using PeakPickerHiRes). The relevant publication is linked in the documentation.

FeatureFinderIsotopeWavelet is an older approach. It's also applicable to low-res data (probably not so important nowadays), but very slow on h

[2017-02-24 13:36] hendrikweisser commented on #2424
FFIsotopeWavelet has not been updated for some years now, at least the actual algorithm. I think we should consider deprecating it.

FFCentroided is pretty stable, but not actively worked on. It may be superseded by FFMultiplex in the future.

FFMultiplex and FFIdentification are probably going to be maintained/improved (depending on developer availability) until somebody comes up with something e

[2017-02-24 13:40] hendrikweisser commented on #2424
Oh, there's also FeatureFinderSuperHirn (in the UTILS category) - a port of the original SuperHirn code to OpenMS. I don't know how well it works and have suggested removing it before (#2094).

[2017-02-24 15:24] mwalzer commented on #2414
@hroest

Mh, I don't know, isn't this like saying tall split-level homes (or any other) are bad, just because we only know how to enter these *walking backwards*.
But yeah, encoding and transcoding is a pain.

[2017-02-24 15:37] mwalzer commented on #2412
Could we get access to the fragments group data from DIA-umpire? That would be really interesting.

[2017-02-24 15:55] grosenberger commented on #2412
An adaptor would definitely be nice and I think wrapping the main component of DIA-Umpire should be feasible, similarly to the LuciPHOr 2 adapter (Java, ini-based parameterisation). As far as I know, there no plans at the moment, but there is work ongoing by @isabell-bludau and colleagues to improve the compatibility with OpenMS/OpenSWATH.

[2017-02-24 16:16] rrahn commented on #2414
Hi, I just looked again deeper into the SeqAn code.
For a fact, the pretty ```FormattedFile``` interface does not allow to handle value types other than ```char```, but we do have a ```VirtualStream``` class, that potentially work on any character type. It simply uses ```std::basic_streambuf``` implementation in the backend. We then have some undocumented API interfaces, that allow to read fasta f

[2017-02-24 18:24] hroest commented on #2414
@mwalzer transcoding is especially a pain when you *know* that all Base64 is in pure ASCII but you still spend all the effort to properly transcode it ... so its more like you take a landmine detector with you wherever you go and check every step extra careful, taking a really long time to walk, someplace in the middle of a city where there are no landmines

[2017-02-24 18:27] hroest commented on #2414
PS: for the matter at hand, since this wont happen very often, why not just give out a sensible error message and tell the user how to convert the file to something seqan can read? I am not sure its worthwhile to spend too much effort to code a solution for a rare edge case (who stores their fasta files in non-ASCII ?)

[2017-02-24 18:30] hroest commented on #2424
@hendrikweisser the main problem is that there isnt a place where we clearly state which one is the "default" FF - so if I am new to OpenMS I guess I just see a bunch of tools called featurefinder and it is not clear which ones are under development, which ones are stable and which ones are basically deprecated. Would it maybe help to add to the doc something like "unless you know what you are doi

[2017-02-24 18:42] hroest commented on #2406
@hendrikweisser I wonder why developers of search engines find mzIdentML not suitable, wasnt the whole point to develop a format that is standard and unambiguous? This is somewhat worrisome to me if even search engine developers do not adopt the format - is this a single minority opinion or is there indeed something going on with the format? maybe @mwalzer can comment on this as well ?

[2017-02-24 19:13] timosachsenberg commented on #2414
I agree und this would also be my preferred solution

[2017-02-24 19:15] timosachsenberg commented on #2424
maybe a cheat sheet would be cool to list most commonly used tools. e.g., for feature detection, linking, Id etc.

[2017-02-27 10:03] mwalzer commented on #2414
haha, yeah, how many landmines are out there? But I would not want to stir up a movement away from XML and esp. the PSI formats as exchange format.
In my view, such sensible error message would be an apt solution. :+1:

[2017-02-27 10:24] mwalzer commented on #2406
Well, they do. Just took them a while, as it is complex. In the end, it has to cover a lot of ground .. Though, it is sad, that developers think of removing support.
As to protein assembly information and the like, my guess is that at the time the format was conceived, there was not such a clear notion of how to best approach the documentation of evidence trail of such analyses. These were also no

[2017-02-27 10:31] Stortebecker commented on #2424
Hej @hendrikweisser !

Thanks for the answer. To include my two cents: why not integrate the ideas of FFMult and FFIdent? That is, do a first round of Quant with FFMult, based solely on the raw data, not on peptide IDs. Then do a second search with FFIdent after having identified the peptides. There are good reasons for both kinds of approaches, which I will not elaborate on here. I guess you know

[2017-02-27 10:36] Stortebecker commented on #2424
If FFCentroided also runs fine with input from older machines, I agree.

Yes, this algorithm is pretty old, I think. I do not know, if it is still maintained or improved. I guess your own algorithms will do a better job. Did not test it, though.

Then good luck with the paper! And I do not care about performance, I am working on the HUGE Freiburg Galaxy server...

[2017-02-27 11:35] hendrikweisser commented on #2406
It may be a minority opinion, but it seems to be a sizeable minority. People are struggling with the complexity of mzIdentML. The PRIDE people prefer to use mzTab; validating large mzIdentML submissions required too much computational resources (at least until recently, when they improved their parser). MassIVE apparently uses mzTab "for everything" internally (@mwalzer, did you tell me that?). In

[2017-02-27 11:45] hendrikweisser commented on #2424
This is a good point. I've added it to the agenda for the developer meeting (https://github.com/OpenMS/OpenMS/wiki/Retreat-Spring-2017#guidance-on-toolalgorithm-alternatives).

[2017-02-27 11:58] hendrikweisser commented on #2424
@Stortebecker:

I think it's a bit early to talk about that. Both algorithms need to be published and more widely tested first. ;-)

Also, there is an inherent trade-off: Detecting features just based on the raw data is more difficult, but you can use the results to aid in peptide identification (e.g. by doing precursor mass correction or generating inclusion lists). On the other hand, if you can

[2017-02-27 14:12] timosachsenberg commented on #2406
I agree and also think the complexity of mzIdentML reflects, to a certain degree, the complexity of proteomic searches. A format tailored for a single feature set is always "lighter" and less complex. That being said, some details could have been fleshed out better in retrospect but I think it solved the main issue of archiving various search engine results.
(BZW MassIVE also uses mzIdentML intern

[2017-02-27 15:02] Stortebecker commented on #2424
Exactly. That's why I want to combine both approaches. Getting the benefits of both approaches while cancelling out the drawbacks.

What **DO** they do with MQ / Andromeda anyway? I was trying to find out, but did not succeed so far. Did they describe this crosstalk in some paper?

[2017-02-27 15:27] Stortebecker commented on #2424
This would be very helpful!

[2017-02-27 16:08] Stortebecker commented on #2424
Could you elaborate a bit more on this, @hendrikweisser ?

[2017-02-27 17:02] hendrikweisser commented on #2424
@Stortebecker:
All the "normal" feature finders (except FFMRM and FFMetabo) are intended for label-free (shotgun) data. I've only worked with Thermo data, but the data should look pretty much the same for any instrument/vendor, except for differences in mass accuracy (for which there are usually one or more parameters). You can get issues with the dynamic range (for extremely high-abundant peptide

[2017-02-28 11:17] blankclemens opened #2433 "Broken documentation links in CTD files"
Hello everyone,

it seems like some links to the documentation are broken for some tools (at least in the created ini/CTD files), namely:

[code]

It seems like there are some kind of resources available for all of them, e.g.:

`ftp://ftp.imp.fu-berlin.de/pub/OpenMS/release2.0.1-documentation/doxygen/parameters/output/UTILS_MetaProSIP.html`

but I assume that's not how it should look like/be.

[2017-02-28 19:02] hroest commented on #1584
looks like these are some of the same tests that also failed with Ubuntu 16.04, see #2423 - maybe not a coincidence?

[2017-02-28 19:31] jpfeuffer commented on #1755
http://doxygen.10944.n7.nabble.com/Markdown-Images-and-paragraph-indentations-td5995.html

[2017-02-28 19:32] jpfeuffer commented on #1755
I don't really know Doxygens Syntax very well but it adds this DoxyVerb environment for some reason.

[2017-02-28 19:35] jpfeuffer commented on #1755
Maybe it is because of that double newline? I'll do a short test on the linux build machine.
https://github.com/OpenMS/OpenMS/blob/develop/doc/TOPP_tutorial/TOPPAS.doxygen#L56

[2017-02-28 19:42] hroest commented on #1584
can somebody else on a different machine look into this as well? It seems that our travis uses boost 1.55 while our contrib uses boost 1.61 ...

[2017-02-28 19:58] hroest commented on #1584
seems like we changed boost from 1.52 to 1.61 a few weeks ago here: https://github.com/OpenMS/contrib/pull/22

[2017-02-28 20:00] jpfeuffer commented on #1584
Yes, I guess that is why we get similar failures on people reporting from building with MSVC2015

[2017-02-28 20:03] jpfeuffer commented on #2001
The test failures might not be related to the upgrade of MSVC but Boost. See #1584

[2017-02-28 20:45] jpfeuffer commented on #1755
No it was that the introduction section started with a tab, which is converted to 4 spaces and indentation with 4 spaces is a code block in doxygen's markdown.
In general I think all of our doxygen files need an overhaul. The TOPPAS one was an indentation hell. I fixed the most prominent errors but some paragraphs still look weirdly indented.

[2017-02-28 20:47] jpfeuffer commented on #1755
In the scripting part there is html markup that is not rendered properly as another example.

[2017-02-28 20:48] jpfeuffer commented on #1755
Ah no. It's the same "code block" error.

[2017-02-28 21:28] hroest commented on #1584
I can confirm now: Ubuntu 16.04 runs all tests through using boost (e.g. contrib 5c54339636ea128f822bdee3b53205ae55381ca5 tagged as Release 2.0.1) using boost 1.52

[2017-02-28 21:43] hroest commented on #2331
what sneumann discovered in #1483 seems to be the main issue, namely an ubuntu bug:  https://bugs.launchpad.net/ubuntu/+source/libwildmagic/+bug/1578222

[2017-02-28 21:58] hroest commented on #1584
this could be related to this question on SO: http://stackoverflow.com/questions/26506550/consistent-random-number-generation-accross-platforms-with-boostrandom

https://github.com/boostorg/random/commit/f0ec97ba36c05ef00f2d29dcf66094e3f4abdcde

[2017-02-28 22:02] jpfeuffer commented on #1755
see #2437

[2017-02-28 22:26] hroest commented on #1584
some attempt to fix this:  #2438

[2017-03-01 08:27] dmccloskey opened #2440 "pyOpenMS build error"
SYSTEM INFORMATION:
64 bit
OpenMS 2.0.0 Release
Ubuntu 14.04
Docker 1.13.1
Dockerfile: https://github.com/dmccloskey/docker_openms/Dockerfile
Error: https://github.com/dmccloskey/docker_openms/pyOpenMS/pyopenms_error

ERROR REPORT FROM BUILD:
...
INFO:root:create wrapper for free function removeOutliersRANSAC
INFO:root:create wrapper for free function writable
Autwrap has wrapped 452 classes, 4585

[2017-03-01 08:41] cbielow opened #2441 "Doc improvements"
this Issue collects Documentation issues. Feel free to add things. we will look at them during Dev Retreat

http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/html/TOPP_MassTraceExtractor.html
has no detailed parameter list (the orange stuff at the bottom) and the docs are mediocre.

[2017-03-01 08:44] oliveralka commented on #2441
http://ftp.mi.fu-berlin.de/pub/OpenMS/develop-documentation/html/TOPP_IsobaricAnalyzer.html

- if necessary example for conversion product data sheet to correction matrix - see tool description
- show mass mapping (?)

[2017-03-01 10:49] timosachsenberg commented on #545
@mwalzer Leon would take a look at this. Do you have a prototype he can build on?

[2017-03-01 12:49] jpfeuffer commented on #545
Three points that might help:
- I modified the makefile to make an executable on macOS already (I think Leon already has it)
- I can say that the output can already be read in with the pepXML reader from @mwalzer
- It might be more straightforward if we let the user pass the comet.myparams file but it would be better if at some point we could allow to overwrite the most important parameters (like

[2017-03-01 15:57] jpfeuffer opened #2442 "Loss of MZ precision through MSGF Search"
The experimental and calculated MZs that are exported from MSGF+
are single-precision float values cast to doubles before writing.
See e.g.
https://github.com/sangtaekim/msgfplus/blob/949350676c7ad8acf9f2058e6eb6dbffb1291889/src/main/java/edu/ucsd/msjava/mzid/MZIdentMLGen.java#L336

I stumbled across this when analysing precursor mass deviations of an MSGF+ search, with artefacts in the distributi

[2017-03-01 20:04] hroest commented on #2440
maybe @uweschmitt  can comment on this issue?

[2017-03-01 20:08] hroest commented on #2440
@dmccloskey can you provide the output of
[code]

on your system? With which version of Python are you building?

[2017-03-02 07:14] dmccloskey commented on #2440
I am not sure what you mean by the command sys.platform, but the output of
lscpu is the following:

Architecture: x86_64
CPU op-mode(s): 32-bit, 64-bit
Byte Order: Little Endian
CPU(s): 4
On-line CPU(s) list: 0-3
Thread(s) per core: 1
Core(s) per socket: 4
Socket(s): 1
NUMA node(s): 1
Vendor ID: GenuineIntel
CPU family: 6
Model: 45
Stepping: 7
CPU MHz: 2981.367
BogoMIPS: 5985.59
Virtualization: VT

[2017-03-02 07:17] mwalzer commented on #545
He can take a look at Xtandem adapter, as it also writes a config file before executing the 3rd party exec.
And this is essentially the only thing missing to the adapter. Result file consumption I implemented a while ago.

btw, what is Leons handle?

[2017-03-02 07:23] oliveralka commented on #545
@mwalzer Leons handle should be Leon-Bichmann.

[2017-03-02 07:37] hroest commented on #2440
yes, so Python 3 is not supported yet by OpenMS 2.0.0 - you would have to use 2.0.1

[2017-03-02 07:45] timosachsenberg commented on #545
I added him as a collaborator.

[2017-03-02 09:33] hendrikweisser commented on #545
Note that X! Tandem itself has a mechanism where a config file can reference a default config file. Settings in the (primary) config file override settings in the default config file (see http://www.thegpm.org/TANDEM/api/lpdp.html).

This mechanism was replicated in OpenMS (classes XTandemInfile and XTandemInfileXMLHandler), but since it was redundant I've removed that in my recent changes (#2428)

[2017-03-02 11:50] dmccloskey commented on #2440
I re-built pyopenms using openMS 2.1.0 and python 3.6.0 and it seems to
work.

Thanks for all of your help!

Douglas

On Thu, Mar 2, 2017 at 8:37 AM, Hannes Roest <notifications@github.com>
wrote:

[2017-03-02 19:25] mwalzer commented on #1915
any progress here?

[2017-03-03 00:40] hroest commented on #2440
great to hear!

[2017-03-03 00:40] #2440 closed

[2017-03-07 10:13] timosachsenberg opened #2445 "MzTab crashes on idXML converted from mzIdentML"
[code]
is raised by this, kind of, minimal idXML.

If I change 'Gln->pyro-Glu (Q)' to 'Gln->pyro-Glu (N-term Q)' it works.
Note that the later is the correct notation, so there is probably something going wrong when converted from mzIdentML.

[code]

[2017-03-07 10:17] timosachsenberg commented on #2445
Digging deeper it seems to be a Problem in the mzIdentML part - see a corresponding mzIdentML entry:
[code]
@mwalzer or @enetz can you confirm and fix?

see the unimod entry below. I am pretty sure that the mzIdentML reader writes the wrong modification string.
[code]

[2017-03-07 10:29] hendrikweisser commented on #2445
I think this could be a duplicate of #2404, which is already fixed (thanks @mwalzer!).

@timosachsenberg: Do you have the mzid file? Did you try to convert it with a build of OpenMS that already contains #2422?

[2017-03-07 10:42] timosachsenberg commented on #2445
Thanks I will check and report back

[2017-03-07 11:02] timosachsenberg commented on #2445
I still get the same error so I guess it is not fixed. I can provide the mzIdentML.

[2017-03-07 11:52] hendrikweisser commented on #2445
How annoying. Can you provide the "SearchModification" element from the mzid where the "Gln->pyro-Glu" is defined?

[2017-03-07 16:49] timosachsenberg commented on #2445
[code]

[2017-03-07 17:26] timosachsenberg commented on #2445
wait a second before you try to confirm it - maybe I made a mistake. Need to quickly check it again...

[2017-03-07 17:39] timosachsenberg commented on #2445
Good news - pyro-Glu seems to work now. But I get now an:
[code]

[2017-03-07 18:21] enetz commented on #2445
From what I can tell after tinkering with ModificationsDB, I do not think the term specificities 3 (PROTEIN_C_TERM) and 4 (PROTEIN_N_TERM) are actually used in ModsDB, although they are defined in ResidueModification.h.
All the terminal modifications from unimod are read in as just 1 (C_TERM) or 2 (N_TERM).
So if this Acetyl mod is read from mzIdentML as spec 4 but only contained in ModsDB with sp

[2017-03-07 18:27] enetz commented on #2445
Yep, right here:
https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/FORMAT/HANDLERS/UnimodXMLHandler.cpp#L109

[2017-03-07 20:38] hroest opened #2446 "psi.hupo.org"
Currently our link to the XML namespace goes to `http://psi.hupo.org/ms/mzml`, as seen here:

[code]

however, `psi.hupo.org` does not resolve any more:

[code]

does anybody know whats going on? Interestingly, the xsd file is given with two locations: `xsi:schemaLocation=http://psi.hupo.org/ms/mzml      http://psidev.info/files/ms/mzML/xsd/mzML1.1.0.xsd` of which only the latter works. So is the

[2017-03-08 14:42] timosachsenberg commented on #2445
makes sense... @hendrikweisser @enetz what would you think is a good way to solve this? Instead of only adding it as N_TERM also add it as 4 (PROTEIN_N_TERM)? Or probably cleaner only add it as PROTEIN_N_TERM?

[2017-03-08 14:50] hendrikweisser commented on #2445
Good find, @enetz!

@timosachsenberg: I think for now the mzIdentML parser would have to treat "protein N/C-term" as just "N/C-term". OpenMS currently can't handle protein term specificity and support would have to be added at quite a fundamental level. That might be a good topic for the developer meeting.

[2017-03-08 15:30] enetz commented on #2445
I agree with adding it to the dev meeting agenda.
There are also other issues with modifications in OpenMS, that we can include.

[2017-03-08 15:37] hendrikweisser commented on #2445
I've added it here: https://github.com/OpenMS/OpenMS/wiki/Retreat-Spring-2017#handling-of-modifications

[2017-03-08 16:12] lars20070 commented on #2445
Do you think #2343 is related? The crashes occur only when the `featureXML` is annotated with IDs.
https://github.com/OpenMS/OpenMS/issues/2343#issuecomment-280350978

[2017-03-09 19:45] FabianAicheler commented on #1985
I also get that test error, but will have to read up what the test does.

[2017-03-10 15:53] timosachsenberg opened #2452 "TOPPView crashes on MRM data"
When I browse spectra TV crashes with a segmentation fault.
mzML:
https://gist.github.com/timosachsenberg/01485463d9ba66d524505a8190cc9ccd

[2017-03-10 16:01] timosachsenberg commented on #2452
also the spectra list is behaving strangely. Selection of single transition often leads to the selection of a whole  span of rows.
![image](https://cloud.githubusercontent.com/assets/5803621/23802319/3929d12a-05b3-11e7-8f64-2e7572460244.png)

[2017-03-10 18:47] oliveralka commented on #2452
Could not reproduce the crashing part, but the selection issue (OpenMs 2.1.0, OSX 10.12.3). Was able to select single transitions only by using the arrow keys.

[2017-03-10 20:19] hroest commented on #2241
another issue I just came across on this branch: QtWebEngine is not packaged in most distros: http://www.phoronix.com/scan.php?page=news_item&px=QtWebEngine-Mess-Debian

[2017-03-10 21:15] timosachsenberg commented on #2241
I see. QtWebEngine is some 115 MB extra and I think we only need it in TOPPAS. IMHO is worth thinking about removing this dependency.

[2017-03-10 21:24] hroest commented on #2241
Basically I had to disable QtWebEngine -- fortunately we dont seem to actually use it.

I also ran into an issue with UIC, basically the `QT_UIC_EXECUTABLE` was not set on my system, but things compile when I set the path myself:

[code]
is there a reason we dont just use `QT5_WRAP_UI()` as suggested here https://cmake.org/cmake/help/v3.0/prop_tgt/AUTOUIC.html ?

Also, I was able to compile TOPPVi

[2017-03-10 21:41] hroest commented on #2241
seems like even if we can load a file, it does not get loaded into the layer list

[code]

and then it crashes later when trying to do other operations on it, eg `(int) getActiveCanvas()->getCurrentLayerIndex()` will fail.

[2017-03-10 22:18] timosachsenberg commented on #2241
Thanks for checking but I can't recall exactly if loading files in TOPPView worked. I think at least the main window showed up and the test ran through. But I need to get back to this branch - hopefully before the retreat. Will also check out QT5_WRAP_UI() but maybe I already tried and had some problems to get it to build on my system.

[2017-03-10 22:57] hroest commented on #2241
well things work if you specify the UIC executable

The problem is that the test for the GUI does not test a whole lot. Yes, the main window appears but loading mzML files does not work

[2017-03-10 23:06] hroest commented on #2452
also works for me with newest `develop`

![screenshot from 2017-03-10 15-05-25](https://cloud.githubusercontent.com/assets/464014/23816718/2be10156-05a3-11e7-99d7-7483203680dc.png)
![screenshot from 2017-03-10 15-06-00](https://cloud.githubusercontent.com/assets/464014/23816720/2d80f9c6-05a3-11e7-863f-6a845e4c5d0e.png)

[2017-03-10 23:15] hroest commented on #2452
PS: the support for chromatograms is somewhat hacky

[2017-03-13 14:12] timosachsenberg opened #2454 "MSStats integration"
this issue is intended to collect discussions and work regarding MSStats integration

[2017-03-13 22:20] hroest commented on #2454
I guess one of the first issues will be the licence. It used to have a licence on github and on Bioconductor it is listed as "Artistic-2" https://bioconductor.org/packages/release/bioc/html/MSstats.html but the license is now gone from github.

Furthermore, the Artistic-2 allows re-licencing:

however I dont think that that **requires that [...] be made freely available** is applicable to BSD so I

[2017-03-14 08:01] timosachsenberg commented on #2454
I contact Mee or Olga on this. I think distributing it under Artistic-2 would not be a problem.

[2017-03-14 09:36] #2405 closed

[2017-03-14 11:35] hendrikweisser commented on #2416
Fixed via #2428.

[2017-03-14 11:35] #2416 closed

[2017-03-14 20:08] mwalzer commented on #2454
See here (https://gist.github.com/mwalzer/427e14807ef96c9d5bbedaef63dea1ab) for a R based converter from our TextExporter csv to MSstats input after initial consultation with Meena.
One crucial thing missing is the information about the experimental setup, of which our output exempt for now. I think it would be really good to weave it into mzTab to get that info to properly reflect the BioReplicat

[2017-03-14 20:08] mwalzer commented on #2454
Not sure, where we should weave-in transition information.

[2017-03-14 20:59] timosachsenberg commented on #2454
Thanks!  So this takes the default TextExporter output? Can you give me a hint what these duplicate observations are? Do you have a complete example that reads the TextExporter file and runs msstats analysis?

[2017-03-15 00:16] hroest commented on #2454
some people at ETH also use https://bioconductor.org/packages/release/bioc/html/SWATH2stats.html which could be included in the pipeline here as well for SWATH-MS data. MAybe @grosenberger can comment whether it would make sense to include this here as well in the discussion.

[2017-03-15 08:07] timosachsenberg commented on #2454
Would be great to have complete workflows with downstream analysis. Probably KNIME would provide a good integration platform that support anyways.

[2017-03-15 09:48] hendrikweisser commented on #2454
I found that the output of `ProteinQuantifier -filter_charge -peptide_out ...` gives you a table that is easy to transform into what MSstats needs.

@mwalzer: To what extent are the non-standard libraries needed there? Would it be better to provide an implementation that doesn't need them, or is that just me being old-fashioned? ;-)

[2017-03-16 09:31] mwalzer commented on #2454
Yeah, dplyr/tidyr is pretty common. Do it yourself would mean a lot more of code.

[2017-03-16 09:34] mwalzer commented on #2454
@timosachsenberg the duplicates are sequence duplicates (in different features/charges). To avoid that they are all 'gathered' in one row, I introduce that temporary col.

[2017-03-16 11:21] mwalzer commented on #2349
:+1:

[2017-03-17 12:56] timosachsenberg commented on #2445
I prepared a PR that changes the mzIdentML parser to treat "protein N/C-term" as just "N/C-term".
conversion now works on my pc

[2017-03-17 14:12] mwalzer commented on #2445
Uhm, btw, why not export directly from mzid? Internal datastructure is the same, idXML format opportunities to mess up the information via one further format conversion removed.

[2017-03-17 14:15] timosachsenberg commented on #2445
the problem is not the idXML - OpenMS currently can't handle protein term specificity and support would have to be added at quite a fundamental level.

[2017-03-17 14:17] mwalzer commented on #2445
Exactly, but the issue says so. Contributes to confusion. Maybe open another issue?

[2017-03-17 14:26] timosachsenberg commented on #2445
There is already an open issue: https://github.com/OpenMS/OpenMS/issues/1913
I will close this one after the PR is clean and merged

[2017-03-17 14:26] mwalzer commented on #2445
:+1:

[2017-03-20 08:16] timosachsenberg commented on #1655
Hi I am currently reviewing tasks from the last developer retreat. What is the state of this issue?

[2017-03-20 08:18] timosachsenberg commented on #1443
Hi, what is the current state of this issue? What about your branch @lars20070 ?

[2017-03-20 08:37] ypriverol commented on #1655
I can reply on this one. Hendrik did a complete submission to pride with mzidentml and we are scaling the pipeline because the submission is really big. But in principle in the openms side this is done. Hendrik did you use openms for this no?

[2017-03-20 10:24] hendrikweisser commented on #1655
Yes, this works with OpenMS now. When you convert your ID results to mzid using IDFileConverter, pass the original mzML file using the "mz_file" option and the spectrum references etc. are added to the output in the correct format.

Two things:
- I've just noticed that the "mz_file" parameter documentation doesn't mention this yet.
- The limitation is that (so far) this only works for one mzML fil

[2017-03-20 17:23] hroest commented on #1655
maybe we should document this pipeline as many people keep asking about PRIDE submissions ...

[2017-03-21 08:49] timosachsenberg opened #2459 "PeakPickerHiRes signal to noise estimator"
Hi,
1. I made the experience that the default signal to noise setting of PeakPickerHiRes often looses good features or mass traces on orbitrap and SCIEX instruments.
I would vote for disabling it by default but would like to hear about your experience.
Hi,
2. I made the experience that the most common configuration are profile MS1 peaks and centroided MS2.
I would vote for making this the default.

[2017-03-21 09:00] lars20070 commented on #2459
+1

I always switch the noise estimation off, `signal_to_noise = 0`.

[2017-03-21 14:24] lukaszimmermann opened #2460 "Cross-Link classes specification"
Hi everybody,

I am currently working on FDR estimations for cross-linked peptides and also in this context writing an util for doing such FDR. This currently requires the classification of peptide hits into different types (based on the matched database (target/decoy) and the proteins associated with each peptide of the peptide pair).
One can distinguish between target/decoy hits and also between

[2017-03-21 15:08] #2445 closed

[2017-03-21 15:33] timosachsenberg commented on #2460
Hi @lukaszimmermann,
I think the approach you took solves a specific design problem very well: you want to maximize flexibility in defining and changing terms related to cross-linking types as well as the use of meta values and introduce a semantic ruleset to tighten and validate the use of these terms.
My personal opinion (and I may misjudge this) is that this is a bit over overdesigned.
My feeli

[2017-03-21 17:14] hroest commented on #2460
I am in favour of a flexible solution and there would be two ways of doing that:

- the algorithm just expects a metavalue "FDR_group_xxx" where xxx is an identifier and all hits with the same identifier are in the same class
- you provide the sort of mapping based on combinations of meta-values as you suggest

in my view, option 1 seems more flexible and potentially more adaptable to other use-ca

[2017-03-21 17:19] hroest commented on #2459
I think it depends on the kind of data you have - for TOF data, low res data and for chromatographic data it does make sense to have a S/N cutoff. In my workflow for chromatographic data I set it to a low value, generally to `0.1` for chromatographic data

I would include a `force` flag then that still allows you to pick -- nothing more annoying than a software that thinks it knows better what you

[2017-03-21 17:43] hroest commented on #2384
basically it has to do with the fact that it is a debug-build with the address sanitizer. We have both a gcc build and a clang build in release mode and they both only take 30 minutes. So I think what we could do is to move the address sanitizer to cdash and only do a nightly test on it. I made a test build with clang-debug but without the address-sanitizer and lets see how well that does:

https:

[2017-03-21 17:45] hroest commented on #2384
@jpfeuffer is there currently a nightly cdash that has the AdressSanitizer on?

[2017-03-21 18:08] lukaszimmermann commented on #2460
Thank you very much @timosachsenberg  and @hroest  for your suggestions.
I also agree that the current system is overdesigned. I tend to do that.

The problem is reduced to the question of how false positives are counted.  In essence, one defines a function that inspects all hits with the "FDR_group_xxx"  identifiers as meta values and returns
`((no_target_hits_1, no_fp_hits_1), (no_target_hits_2,

[2017-03-21 18:31] hroest commented on #2460
@lukaszimmermann my idea was that the tool that produces the input to your FDR-Util would write these meta-values. But I am also open to using the param file as one for shotgun for example would be quite simple and only have a single group defined. As I said, I would be in favor of the flexibility and against hardcoding as there maybe new usecases in the future

[2017-03-21 18:39] hannesveit commented on #2459
1. I agree with changing the default setting to S/N = 0. Of course, as @hroest pointed out, there are various use cases where an S/N cutoff makes sense. But when it comes to choosing a default, at least in my experience, S/N = 0 is probably the safer option.

2. I agree with picking only MS1 by default.

3. I agree with @hroest. Better safe than sorry.

[2017-03-21 18:42] lukaszimmermann commented on #2460
@hroest Ok, I am going to think more about this. I currently work on getting a first version finished (Writng output is still missing), then we might look again in the PR.

[2017-03-21 20:34] hroest commented on #2384
yes, pretty clear that the issue was the AdressSanitizer as this branch now runs pretty fast: https://github.com/OpenMS/OpenMS/commit/c08ed80e42c8f50f8e199585564a428b42045f96 and this is also what clang more or less specifies:
[code]
http://clang.llvm.org/docs/AddressSanitizer.html - I guess the slowdown is not just running but also building.

[2017-03-22 09:39] mwalzer commented on #2459
1. I usually switched S/N off, so I can only support the notion of default ```signal_to_noise = 0```.
2. That's what I experienced as well.
3. I like Hannes' suggestion of a force flag

[2017-03-22 11:50] timosachsenberg opened #2463 "review PeptideIndexer default"
PeptideIndexer is one of the most frequently used tools. A smaller interface would be nicer.
Any comments on defaults?
e.g. ,  -IL_equivalent ?

What about making:
  -allow_unmatched
  -full_tolerant_search
  -aaa_max <number>
  -mismatches_max <number>
  -filter_aaa_proteins

an "advanced" parameter?

For reference:
[code]

[2017-03-22 11:57] timosachsenberg opened #2464 "review IDFilter defaults"
Make more parameter "advanced"?

For example, one could (in the extreme) think about making all parameters advanced, except:
  -score:pep <score>
  -score:prot <score>
As these are clearly the most frequently used ones.

For reference:
[code]

[2017-03-22 12:01] timosachsenberg opened #2465 "review FalseDiscoveryRate tool"
As always just a suggestion open for discussion.

What about:
  -in_target <file>  Identification input file containing a search against a target-only database. (valid formats: 'idXML')
  -in_decoy <file>   Identification input file containing a search against a decoy-only database. (valid

If there is no good reason for them I would remove them. They only complicate the interface and make integra

[2017-03-22 12:05] timosachsenberg opened #2466 "review FileConverter"
make advanced:
- in_type
- UID_postprocessing <method>
- out_type
- lossy_compression
- lossy_mass_accuracy

rethink default:
- write_mzML_index is currently no index

[code]

[2017-03-22 12:08] timosachsenberg opened #2467 "review FileInfo"
make advanced:
-in_type

rename and put into subcategories (all advanced):
- m,p,s,d,c,v,i

[code]

[2017-03-22 12:14] timosachsenberg opened #2468 "review IDMapper"
make advanced:
-ignore_charge

change default:
-mz_reference In my experience, mapping using the 'precursor' instead of the 'peptide' (theoretical mass) is inferior. I would vote for 'peptide' as  default,
- feature:use_centroid_mz should be default in my view as mapping to convex hulls leads to many false positives (also default for consensusXML?)

for reference:
[code]

[2017-03-22 12:22] timosachsenberg opened #2469 "review TextExporter"
for discussion:
-in TODO: add mzID

make advanced:
- separator
- replacement
- quoting
- no_ids (extend documentation to what file it applies)
- feature:minimal
- feature:add_metavalues
- id:proteins_only
- id:peptides_only
- id:first_dim_rt
- id:add_metavalues
- id:add_hit_metavalues <min_frequency>
- consensus:centroids
- consensus:elements
- consensus:features
- consensus:sorting_method
- conse

[2017-03-22 12:35] timosachsenberg opened #2470 "review OpenSwathWorkflow"
make advanced:
- sonar

maybe rename:
-Scoring -> scoring

Applies to this tool but others as well : **how to handle the display of subsection parameters.**
Right now, I think they are completely omitted using "--help" but all are shown using "--helphelp".
I think it would be great to be able to specify advanced parameters in subsections to be displayed only if helphelp is used.
If "--help" is use

[2017-03-22 12:53] cbielow commented on #2463
new PeptideIndexer is on the way -- the interface will inadvertently change with it.
Most params you mentioned will be gone :)

[2017-03-22 15:56] timosachsenberg opened #2471 "MSSpectrum::select should check if DataArray sizes match the number of passed indices"
@cbielow any reason why such test should be omitted? Otherwise, I think we should test for it.

[2017-03-22 16:49] hroest commented on #2466
the issue  with the index is that the flag is a true flag instead of what we should have done `write_mzML_index true/false`

so its hard to change that but I suggest to  basically switch to a new parameter that has true/false
- `write_indexedMzML true/false` which is now true by default
- keep `write_mzML_index` as as flag for backwards compat but it basically doesnt do anything since the index ge

[2017-03-22 22:23] timosachsenberg opened #2473 "FeatureFinderMetabo assembling of mass traces"
https://github.com/OpenMS/OpenMS/blob/develop/src/openms/source/FILTERING/DATAREDUCTION/FeatureFindingMetabo.cpp#L490
@cbielow would it make sense to replace sd = (0.0016633 * iso_pos - 0.0004751) / charge; with a fixed mass tolerance? e.g., 5 ppm for the carbon model?

[2017-03-23 02:50] hroest commented on #2463
what about supporting mzIdentML as well?

[2017-03-23 11:46] FabianAicheler opened #2474 "Add command line section to 'Installing OpenMS' section of 'Building OpenMS on Windows'?"
The Visual Studio (GUI) approachs seems to slow building down for me.

Would it be useful/simple/sensible to add a short description of the ms_build commandline approach? Possibly mentioning how to parallelize it (for OpenMS, can we simply use 'MSBuild /m' ?)? Are there any pitfalls?

[2017-03-23 11:47] jpfeuffer commented on #2474
There should be a script by Chris in the tools folder.

[2017-03-23 11:48] jpfeuffer commented on #2474
But yes, we should add that to the documentation if not present.

[2017-03-23 15:22] #2471 closed

[2017-03-23 15:24] timosachsenberg commented on #2471
I of course meant spectrum size not indices size.

[2017-03-23 15:33] timosachsenberg opened #2475 "spectra filter don't consider DataArrays"
Information in DataArrays is lost after most filtering steps.
The reason is that peaks are added or removed but DataArrays remain unchanged. This is clearly wrong and needs to be fixed. Filter code should rely on the MSSpectrum::select function as it takes care of filtering DataArrays (if present).

[2017-03-23 20:08] cbielow commented on #2474
no pitfalls AFAIK
script: https://github.com/OpenMS/OpenMS/blob/develop/tools/build.bat
call without arguments to see a usage help text
additions always welcome :)

[2017-03-24 00:21] hroest commented on #2384
well it is also a lot the tests:

[code]

so basically 23 minutes vs 2.5 minutes to run all tests...

[2017-03-24 07:45] cbielow commented on #2466
concerning the 'out_type' we should discuss how its required in different workflow engines. In TOPPAS you need it, thus it would be bad to make it advanced. Not sure about other implementations.

Regarding deprecation of flags/parameters: I strongly vote for just making the change without backwards compatibility (which is not provided here anyway), since:
 1) it complicates the code,
 2) will lead

[2017-03-24 10:56] Leon-Bichmann commented on #545
OK, die erste funktionierende COMETAdapter version ist jetzt auf diesem branch:

https://github.com/Leon-Bichmann/OpenMS/blob/feature/COMETAdapter/src/utils/COMETAdapter.cpp

[2017-03-24 11:02] timosachsenberg commented on #545
Thank. Can you remove / adapt the parts that still refer to X!Tandem? There seems to be some copy & paste leftovers.

[2017-03-24 11:21] jpfeuffer commented on #545
Great! Looks good. If you create a pull request we can give you more detailed comments on specific parts of the code. I only have some minor ones.
You can still add commits later, that will appear automatically in the PR if you push them, so do not worry.

[2017-03-24 11:53] jpfeuffer commented on #545
I'll post them here quickly, so I do not forget.
- replace __FUNCTION__ macro with OPENMS_PRETTY_FUNCTION
- remove ifdef for comet.exe
- add pid to output files of the tool
- can we come around writing the version into the param file header?
  * What about calling "comet -p" and replacing important occurrences?

[2017-03-26 16:59] hendrikweisser commented on #2465
I think these parameters are too important to make them advanced. I don't use the FDR tool often, but when I do, I only want to calculate FDRs for one of the levels.

[2017-03-26 17:05] hendrikweisser commented on #2466
I agree with Chris - just fix the problematic flag once and for all. Make it e.g. "omit_index" with a default of false.

[2017-03-27 13:21] jpfeuffer commented on #2465
Yes, please leave it. I agree with @hendrikweisser

[2017-03-27 14:42] timosachsenberg commented on #2465
sure. I just scanned the top used tools and wanted to bring these parameters to discussion

[2017-03-27 14:42] timosachsenberg commented on #2465
what about the other ones I mentioned?

[2017-03-27 17:15] #2474 closed

[2017-03-27 18:35] mwalzer opened #2483 "MzTab exporter does not write peptide_abundance_assay[1-n] rows from consensusXML input"
It does however write peptide_abundance_study_variable[1-n].

[2017-03-27 18:49] mwalzer commented on #2483
I think it should rather be writing assay abundances by default. Assays resemble closer in most cases, what information is stored in the feature handles of consensus features. (And study variables rather the consensus of consensus features.)
I know the export is 'just' summary, but for most cases I see, the assay is needed first. And from the way we construct our workflows, the consensus features

[2017-03-27 19:40] timosachsenberg commented on #2483
I agree but the problem is the standard requires us to report study variables. It would be redundant to report both assay and study variables. Not sure how we could handle this properly? Maybe I could suggest a change to the standard at the PSI meeting to allow only reporting assays but I am not sure if they will agree on this.

[2017-03-27 22:33] jpfeuffer commented on #2353
Hey,
I would say the solution for now is to try the new SpectraST adapter (SpectraSTSearch) in the nightly build. We will decide on how to proceed with the very old SpecLibSearcher (deprecation, fix or removal).
Please reopen the issue if you have more questions.

[2017-03-27 22:33] #2353 closed

[2017-03-27 22:44] hroest commented on #2353
@jpfeuffer finding a solution for the old speclib searcher would be great as it was also a big pain for #2477 due to it using `MSExperiment<RichPeak1D>` as one of the few (only?) tools.

[2017-03-28 11:08] jpfeuffer commented on #2366
@mwalzer What is the status on IDs? Do we want to store native spectrum IDs?
I think we need a schema update then, right?
https://github.com/OpenMS/OpenMS/blob/develop/share/OpenMS/SCHEMAS/IdXML_1_4.xsd#L252

Additionally, can we point to the schema in git instead of the old sourceforge and where would I have to change that?

[2017-03-28 11:50] Leon-Bichmann commented on #545
Lars and I think that the longterm solution should involve creating a COMETInfile Class that handles all parameters separatly

[2017-03-29 09:14] oliveralka opened #2488 "App issue MacOS Sierra (10.12)"
After installing OpenMS via the installer following Problem occurs:
(This issue does not occur if OpenMS is build directly via github)

`OPEN TOPPView.app`
`LSOpenURLsWithRole() failed with error -10810 for the file /Applications/OpenMS-2.1.0/TOPPView.app.`

This happens because the archives get quarantined (flagged with com.apple.quarantine). macOS 10.12 (Sierra) treats quarantined apps different

[2017-03-30 09:36] mwalzer commented on #2366
We definitively do not want to discard the native spectrum ids. Esp. because we need that for mzid and the like and if we expect people to be able to submit their results later on. This is why idXML was called internal development format (dunno by whom). Though our internal object representation also deviated somewhat from the idXML schema in any case.
It does not make much sense to me putting muc

[2017-03-30 14:08] cbielow commented on #2241
a great deal of things are fixed now: https://github.com/OpenMS/OpenMS/pull/2492
the 3D View is working again -- only some (hopefully minor) signals are missing related to EnhancedWorkspace

TODO: Mascot

[2017-04-03 08:21] cbielow commented on #1313
following up on DevRetreat: after OpenMS 2.2 we will switch to C++11, which will allow us to use Seqan 2.x.
Since there is currently an 'annoyance' involving the FASTA file reader in Seqan 2.x we will wait until that is fixed (https://github.com/seqan/seqan/issues/2054) -- or as a last resort, go back to reading FASTA using our code again

[2017-04-04 09:27] cbielow opened #2497 "X!Tandem reporting of non-tryptic peptides not reported/considered"
Running X!Tandem (Vengeane 2015.12.15.2) in KNIME using `Trypsin` as enzyme yields peptides such as
`AKIDELINND`, which is clearly not tryptic on either C or N Terminus.
The N-Terminus I can understand somewhat, but why is 'D' (aspartate) considered a valid cutting site?
The protein is here:
[code]

I've searched for an explanation, and found `[X]|[D]` in the Tandem docs (http://www.thegpm.org/TAN

[2017-04-04 15:15] hendrikweisser commented on #2442
@jpfeuffer: Have you opened an issue with MS-GF+?

@ypriverol: You said you were working on the MS-GF+ code. Would you be able to have a look at this?

[2017-04-06 16:25] timosachsenberg commented on #2266
Publication:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4604512/
Binaries: (free for academic use)
https://www.rapidnovor.com/novor-cmd/

[2017-04-06 19:30] lars20070 commented on #2413
At the Proteomic Forum I saw again that people cannot find their way to the installers [1]. See my comment above.

[1] https://sourceforge.net/projects/open-ms/files/OpenMS/OpenMS-2.1/

[2017-04-07 01:29] pati-ni commented on #2004
Hi,
I am new here and I am currently working on this issue.
On `EnzymaticDigestion::isValidProduct(const AASequence& protein, Size pep_pos, Size pep_length, bool methionine_cleavage)` how the `pep_pos` is known? I sense that this argument is missing.
Would it be more suitable to use `EnzymaticDigestion::digest(const AASequence& protein, vector<AASequence>& output)`? The we can retrieve the peptide

[2017-04-07 07:03] timosachsenberg commented on #2004
Hi @pati-ni .Welcome and thanks for taking a look at this issue.
The peptide position is stored in the the PeptideEvidence object: see ftp://ftp.math.fu-berlin.de/pub/OpenMS/develop-documentation/html/classOpenMS_1_1PeptideEvidence.html
as part of a PeptideHit.

Here are some pointers to the documentation to give you a head start:
How to register parameters (for example a new input file) of a tool

[2017-04-07 09:39] jpfeuffer commented on #2413
Ok. Should we rename "OpenMS binaries" to "OpenMS Installers"?
Because the Download page with the different categories is actually very easy to reach.

[2017-04-07 12:35] hendrikweisser commented on #2413
I agree with Lars. The links in the menu bar are still relatively hidden. I would be in favour of a big "Download OpenMS" button under the "What is OpenMS?" section.

[2017-04-07 12:37] hendrikweisser commented on #2413
Under "How to cite OpenMS", there's a question mark in one of the author names: "Malmstr?m, L."
(Strange, since the "ö" in "Röst" appears correctly.)

[2017-04-07 13:57] jpfeuffer commented on #2413
Ah thanks. I corrected that manually :D Did not see Malmstr?m.

[2017-04-07 15:54] julianu opened #2505 "XTandemAdapter in KNIME: Retrieving the modification failed"
I stumbled upon a problem with the XTandemAdapter (in KNIME) with OpenMS version 2.1.0.201703301405:

The search fails with the following error:
<pre>
Error: Unexpected internal error (The value 'Carbamidomethyl (C)' was used but is not valid! Retrieving the modification failed. It is not available for the residue 'L' and term specificity 0.)
</pre>

I ran the identification with a higher log leve

[2017-04-07 15:56] julianu commented on #2497
I can confirm this behaviour of the recent X!Tandem releases (also see #2505) and would be interested in the reasoning behind it as well.

[2017-04-08 06:39] lars20070 commented on #1619
`mzid` from Sciex ProteinPilot still invalid. I tested it at the Proteomic Forum 2017 and talked to `Christian.Baumann@sciex.com`.

[2017-04-08 10:43] lars20070 commented on #1823
FYI, on 28/02/17 I emailed Ron Beavis regarding multiple hits (i.e. not just the best) in the X!Tandem output. So far I had no reply.

[2017-04-08 11:06] lars20070 commented on #1443
https://github.com/OpenMS/OpenMS/compare/develop...lars20070:fix/ProteinQuantifier
Here my old code from a year ago.

[2017-04-10 08:23] OnlyBelter opened #2508 "ERROR PeptideIndexer"
I follow "[OpenMS_Usertutorial](https://github-cloud.s3.amazonaws.com/releases/39503532/29927a48-2f1f-11e6-9233-2589c6c34cd7.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAISTNZFOVBIJMK3TQ%2F20170410%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20170410T081857Z&X-Amz-Expires=300&X-Amz-Signature=a3b7656593b99582c1b14eeb1960761230a6ee5ee245401aca7dd1bce9d37748&X-Amz-SignedHeaders=host&actor

[2017-04-10 11:56] cbielow opened #2509 "Convenience functions for PeptideIdentification and ProteinIdentification"
as discussed in #2495, it would be much better to have a defined interface for common operations on `vector<PeptideIdentification>` or `vector<ProteinIdentification>`.
All occurences could (gradually) be replaced by the new classes (one for `vector<PeptideIdentification>`, one for `vector<ProteinIdentification>`).
We'd probably need to forward STL common functions like push_back(), begin(), end()

[2017-04-10 12:55] timosachsenberg commented on #2509
Would it make sense to go one step further and have an
_Identifications_ object that is a composition of a _PeptideIdentification_**s** and _ProteinIdentification_**s** object?

[2017-04-10 15:53] jpfeuffer commented on #2488
I am not sure if this is related, but if I download the nightly DMG from here:
http://ftp.mi.fu-berlin.de/pub/OpenMS/nightly_binaries/

I can not mount it via Finder. If I then mount the DMG via hditutil, I can not open e.g. TOPPAS.app from Finder but have to this again from the command line.

[2017-04-11 13:07] timosachsenberg commented on #2508
Hi,
This is not expected :)  Can you try setting the "write_protein_sequence" in PeptideIndexer?
Do you know which version of OpenMS is installed in KNIME?
Best,
Timo

[2017-04-11 15:04] cbielow opened #2513 "TOPPAS - crash on long filenames on MacOS"
TOPPAS checks the length of paths to avoid file system limits (usually >255 chars in total).

An exception is thrown if the paths are too long (e.g. long input filenames and deep output path structure etc).
On MacOS, this exception is not caught, but rather leads to a SegFault.
which is only leaving this `Qt has caught an exception thrown from an event handler. Throwing exceptions from an event ha

[2017-04-11 17:06] hroest commented on #2509
another thing to think about are the Python bindings, currently it is quite straight forward to pass around vectors of `object`, we should make sure that PyOpenMS still has full access to the data structure. E.g. the object may still want to return a `vector<ProteinIdentification>` and a `vector<PeptideIdentification>` just for access through PyOpenMS

[2017-04-12 01:24] OnlyBelter commented on #2508
My OpenMS is 2.1.0, and this is my setting of PeptideIndexer:

![ad22](https://cloud.githubusercontent.com/assets/16537617/24937219/b18677fa-1f61-11e7-829b-14ec40e9f5f5.jpg)

[2017-04-12 07:09] timosachsenberg commented on #2508
Did you also use the tutorial files and databases? If not, it might be related to non-standard amino acid letters in the fasta file. If you used the same database I think there might be a hick-up on our or KNIME side. Can you remove and readd the node, apply the same settings and try to rerun the step?
@jpfeuffer do you have a better explanation? For me, it looks like the indexing worked fine but

[2017-04-12 07:31] timosachsenberg commented on #2509
Thanks for the input:
Ok, I get started with something random we can build upon;)

without extra classes:
[code]

and with extra classes (my preferred solution):

[code]

[2017-04-12 09:09] hendrikweisser commented on #2509
Just to get the terminology clear for everyone, in the current design:
- `ProteinIdentification` corresponds to one protein identification *run* (e.g. database search) and can contain multiple `ProteinHit`s (plus meta data)
- `ProteinHit` corresponds to an identified protein
- `PeptideIdentification` stores peptide identification results from one MS2 spectrum and one search run; can contain multip

[2017-04-12 09:37] timosachsenberg commented on #2509
You are right about these problems but I am a bit reluctant that we will solve all these problems in one go. I would prefer to address this gradually in several steps. Given that we discussed this a few times already and basically nobody is willing to take on such a  big task I think breaking it down in manageable refactorings is probably better. Except if you volunteer ;)

[2017-04-12 10:00] OnlyBelter commented on #2508
I follow "OpenMS_Usertutorial.pdf" strictly, all the data come from Example_Data.

[2017-04-12 10:05] hendrikweisser commented on #2509
@timosachsenberg: I don't disagree. My approach would be to design an `Identifications` class that breaks with the old structures, but still provides the "old" interfaces (i.e. getter/setter for `vector<PeptideIdentification>` and `vector<ProteinIdentification>`) for compatibility.

[2017-04-12 10:13] OnlyBelter opened #2515 "Cannot use FileObject in pyopenms"
I installed pyopenms by pip in windows 7(64bit). I only got v2.0.1, not the newest v2.1. My code is very simple:

[code]
But I got `AttributeError: 'module' object has no attribute 'FileObject'`

[2017-04-12 11:36] #2465 closed

[2017-04-12 18:29] hroest commented on #2515
Hi, I think there was some ambiguity in the manual, I think what you want is

[code]

see also section 1.7 of the manual

[2017-04-13 08:24] timosachsenberg commented on #2509
Can you add them here when you fleshed out an initial design?

[2017-04-13 08:30] mwalzer commented on #2509
@hendrikweisser I really like the idea. It would play well with @cbielow idea of gradually phasing out the old stuff with misleading nomenclature

[2017-04-13 08:57] hendrikweisser commented on #2509
Oh no, what have I done? ;-)
I'll do it over the Easter weekend.

[2017-04-13 09:14] #109 closed

[2017-04-13 11:14] jpfeuffer opened #2519 "Add new enzymes to PSI MS Ontology"
This issue is to gather enzymes that should be added to PSI MS Ontology.
http://www.ebi.ac.uk/ols/ontologies/ms/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMS_1001045

For MSGF+ and Comet we want to include the enzymes in our Enzymes.xml but there is currently no entry for some of them.
Let us collect them here @Leon-Bichmann.

[2017-04-13 11:27] Leon-Bichmann commented on #2519
OK so Lys-N (N-terminal cleavage after K) would be the first one

[2017-04-13 12:35] #2459 closed

[2017-04-13 12:35] timosachsenberg commented on #2459
Note: I did not implement the special handling of already picked spectra.

[2017-04-13 12:47] timosachsenberg commented on #2519
cool. I can propose them at the PSI meeting

[2017-04-13 14:07] timosachsenberg commented on #2094
I have no strong opinion on removing the tool but we should get its size down: https://github.com/OpenMS/OpenMS/pull/2485

[2017-04-14 08:36] timosachsenberg commented on #2515
I think this issue is resolved. Feel free to reopen if not.

[2017-04-14 08:36] #2515 closed

[2017-04-14 08:54] timosachsenberg commented on #2466
adressed in https://github.com/OpenMS/OpenMS/pull/2521

[2017-04-14 19:02] hroest commented on #2509
I just started working on some work using identifications. I found that the documentation is a bit lacking, e.g. there are some weird things that one needs to do; such as setting the `spectrum_reference` meta value in peptide id. Also it is somewhat unintuitive that each entry in the `vector<ProteinIdentification>` vector leads to the creation of a new identification run - I wonder whether it woul

[2017-04-14 19:19] timosachsenberg commented on #2509
I think it would make a lot of sense to do so. Maybe there is a way we can share the workload.

[2017-04-15 00:50] pati-ni commented on #2004
Take a look on this patch:
https://github.com/pati-ni/OpenMS/commit/a67e7bc17e19080acc076310569e22fa1675c9f2

There are some issues:
-   Handling unknown values in PeptideEvidence.
-   Handling PeptideEvidences with accessions that are not present in the fasta file.
-   Setting a range of missed cleavages. How this is supposed to happen?
-   Reading values from SearchParameters. I do not understan

[2017-04-15 08:25] timosachsenberg commented on #2004
Hi @pati-ni,
the patch looks nice *thumbs up*. I guess there is not much to do except some minor changes and maybe adding tests.

- Handling unknown values in PeptideEvidence
I think we can assume that we have a proper mapping to the protein. So we can rely on the start and end position of the peptide in the protein. But if these are UNKNOWN we can't do more than letting the PE pass and put out a

[2017-04-15 08:50] amnamasood commented on #2175
Hello!
I was thinking if it would be possible to define a method similar to EDTAFile::store() which would convert the loaded file to csv, with a warning that this file is not an IBspectra file?

[2017-04-15 09:39] pati-ni commented on #2004
Hi @timosachsenberg,
Any hints on the input-output files I should use for adding tests?
I will try to tackle the missed_cleavages issue and add an input parameter as well.

Sounds like plan. Same goes for N_TERMINAL_POSITION as well?

[2017-04-15 09:59] timosachsenberg commented on #2004
Yeah I guess only the start and end are relevant.

To extend the test of the IDFilter tool in ./src/tests/topp/CMakeLists.txt
you could use the ./src/tests/topp/THIRDPARTY/MSGFPlusAdapter_1_out.idXML and the proteins.fasta file in that folder.
As these are tests for external tools you should copy and rename them to the folder where the IDFilter test files are. Probably to something like: IDFilter_

[2017-04-15 11:10] timosachsenberg commented on #2175
Hi @amnamasood . Let me make sure I understood correctly.
You want to add the possibility to convert mzML files to EDTA.
I think that is a good idea and you could extend the EDTAFile class with a store function that takes a PeakMap (a MSExperiment).
To make most of the EDTA data one has to add some metadata columns that allow distinguishing different spectrum and chromatogram types. But we can add

[2017-04-15 11:17] pati-ni commented on #2004
@timosachsenberg have a look: https://github.com/pati-ni/OpenMS/commit/a9818474dd1a736e41807926b62b2560ff262898

But now it can not ignore missed_cleavages as it did before. Should I add a default parameter like
'ignore_missed_cleavages' to do so?

[2017-04-15 11:22] amnamasood commented on #2175
I have updated my previous comment. Can you take a look? I can also work on the function you suggested.

[2017-04-15 11:25] timosachsenberg commented on #2004
Maybe we can go without an additional parameter. For the tool, one could use -1 to allow users to disable the check for missed cleavages. Internally, the tool could the set the missed cleavage parameter of the EnzymaticDigestion class to e.g., INT_MAX.

[2017-04-15 11:31] pati-ni commented on #2004
Currently the constructor sets the missed_cleavages to 0 maybe that could break the other digestion functions that use missed_cleavages or other calls of isValidProduct?

[2017-04-15 11:32] timosachsenberg commented on #2175
Maybe the other one is a bit better because a proper implementation of this feature requires some insight into how different level of MS spectra or chromatograms are stored.

[2017-04-15 11:38] timosachsenberg commented on #2004
That's a good point and one might need to check if this interferes with how other classes used isValidProduct. If there are any, one needs to adapt them.

I think setting it to 0 in the constructor of EnzymaticDigestion is correct because you might want to perform a digest without missed cleavages as default. The IDFilter tool is a different story. Here you would impose no restrictions on the numb

[2017-04-15 11:41] amnamasood commented on #2175
I am afraid I don't have much knowledge in this domain, but maybe I can start working on it step-by-step.

[2017-04-15 12:13] pati-ni commented on #2004
Currently isValidProduct looks like this
`EnzymaticDigestion::isValidProduct(const AASequence& protein, Size pep_pos, Size pep_length, bool methionine_cleavage = false)`
The less messy solution from the way I see it is to add an Optional parameter:
`EnzymaticDigestion::isValidProduct(const AASequence& protein, Size pep_pos, Size pep_length, bool methionine_cleavage = false, bool ignore_missed_clea

[2017-04-15 12:24] timosachsenberg commented on #2004
sounds good

[2017-04-15 12:26] timosachsenberg commented on #2175
No problem. We can do this step-by-step

[2017-04-15 13:29] amnamasood commented on #2175
Thank you. Can you help me a little? I cannot find where is the conversion from mzml to DTA or DTA2D, because wherever mzml is processed as an in_type, there is an associated condition of out_type.

[2017-04-15 13:37] timosachsenberg commented on #2175
The logic is:
- read mzML file into an MSExperiment (internal data structure to store all spectra)
- store an MSExperiment into a DTA2D or other format

For DTA2D, the conversion happens in the store function.
line https://github.com/OpenMS/OpenMS/blob/develop/src/topp/FileConverter.cpp#L468 calls:
https://github.com/OpenMS/OpenMS/blob/develop/src/openms/include/OpenMS/FORMAT/DTA2DFile.h#L270
Whic

[2017-04-15 19:51] hendrikweisser commented on #2509
Okay, I've made a design attempt and uploaded it to a Gist:
https://gist.github.com/hendrikweisser/43ba787125beca02dea2aa05378cfdfc

Importantly, in this structure every piece of information is only stored in one place, ensuring consistency. There is one set of identified proteins and one set of identified peptides for every `Identifications` object.

The design looks a bit complicated, and it is,

[2017-04-15 20:28] hroest commented on #2509
Esp for alignment etc we should take care that the new data structures do
not take up more memory than the old ones - or even save some memory if
possible.

On Sat, Apr 15, 2017 at 12:51 PM, hendrikweisser <notifications@github.com>
wrote:

[2017-04-17 04:00] whench18 commented on #2513
hello, to avoid problems concerning path too long issues, I suggest the use of the long path tool. this is used by many people and was proven good.

[2017-04-17 08:32] lars20070 commented on #2513
+1

Then let's wait for the Qt5 upgrade. Homebrew offers [Qt >5.5](http://stackoverflow.com/questions/40149391/how-to-install-qt-5-6-1-1-via-homebrew) under `macOS`.

[2017-04-17 08:33] OnlyBelter commented on #2515
I got it, `where FileObject can be any of DTA2DFile, DTAFile, mzXML, mzML.`, thanks!

[2017-04-17 19:56] hroest commented on #2175
it looks like https://github.com/OpenMS/OpenMS/blob/develop/src/openms/include/OpenMS/FORMAT/DTA2DFile.h#L270 does not write out any chromatograms, is that correct behavior?

[2017-04-18 08:23] timosachsenberg commented on #2078
Adding the path should now be possible with this PR: https://github.com/OpenMS/OpenMS/pull/2526

[2017-04-19 13:18] timosachsenberg opened #2531 "FalseDiscoveryRate tool - add filter"
I know this might be a bit controversial but we repeatably observe users that apply the FalseDiscoveryRate tool but struggle with the IDFilter step afterward.
Here, the user has to set score:pep to match a q-value threshold. This is poorly documented in the tool parameters alone because the score filter can be so generically applied to any type of (main) score.

One simple solution would be to add

[2017-04-19 20:59] hroest opened #2532 "mass of AA "X""
currently the "special" amino acid "X" has a mass of zero which leads to problems when used as an internal residue since OpenMS assumes that amino acids get hydrolized and loose the mass of H2O when being incorporated into an Amino Acid sequence. This leads to the following counterintuitive behavior:

[code]

where adding an X to a peptide string reduces its mass by 18. This is probably surprising

[2017-04-19 21:10] hroest commented on #2531
sounds reasonable to me and filtering is not such a difficult task that there will be lots of duplicated code

:+1:

[2017-04-19 21:14] timosachsenberg commented on #2532
ok so the "mass tags" with X + brackets would not be affected.  only X without brackets. right? so basically X and X[0.0] would both add 0 to the peptide weight. but The residue X has a mono Weight of 18.01...

[2017-04-19 21:22] hroest commented on #2532
yes, exactly.

Basically before PEPTIDEX was equal to PEPTIDEX[-18.0] while now it would be equal to PEPTIDEX[0.0]

[2017-04-19 21:31] hroest commented on #2532
I could potentially add this to PR #2530 if people agree

[2017-04-19 22:24] hendrikweisser commented on #2532
How about giving "X" by itself an average amino acid mass (taking the distribution of the different amino acids in the proteome into account)?

[2017-04-19 22:36] hroest commented on #2532
that sounds like a bad idea that would lead to a lot more surprises - also often X represents an unknown AA with modifications and there is no way to tell what the mass of that would be

[2017-04-20 02:49] isaphan opened #2533 "KNIME FidoAdapter not working with Mascot?"
Hello
I am unable to run the label free with protein quantification pipeline with the MascotAdapterOnline (OpenMS 2.1.0 on KNIME 3.3.2 OS X El Capitan).

Although I have IDPosteriorErrorProbability prob_correct set to true, the workflow crashes at the FidoAdapter node with the error

Failing process stderr: [Error: Unsuitable score type for peptide-spectrum matches detected (problem: lower scores

[2017-04-20 04:55] timosachsenberg commented on #2532
yes please add  your solution to the PR +1 from me

[2017-04-20 08:45] hendrikweisser commented on #2532
Do we actually see uses of "X" (without mass information) "in the wild"? If yes, where? If no, I would prefer the "throw an exception" route.

[2017-04-20 09:28] hendrikweisser opened #2534 "TOPPAS/ExecutePipeline: problems with long paths"
TOPPAS and ExecutePipeline have a limit to the lengths of paths that they can handle (255 characters) and will quit with an error if a path gets too long. There are several problems with this:
1. The limitation to 260 characters comes from Windows and does not exist on Mac/Linux. (There, the length of a file name is limited to 256 characters, but paths can get much longer.) Therefore, it would be

[2017-04-20 09:28] hendrikweisser commented on #2534
See also #2513.

[2017-04-20 09:31] timosachsenberg commented on #2532
I think it might happen quite frequently that we parse sequences with X from fasta files or third-party results.

[2017-04-20 09:52] hendrikweisser commented on #2532
FASTA files I agree, but we wouldn't parse those sequences directly and generate AASequence instances from them, right?
And do any search engines actually generate hits with "X" in them? If so, what mass do they use for it?

[2017-04-20 10:02] jpfeuffer commented on #2532
Also deNovo sequencing approaches use that commonly to represent gaps in the sequence.

[2017-04-20 10:09] jpfeuffer commented on #2533
Hi,

interesting. Was IDPep the last step before FidoAdapter? Or did you perform e.g. FDR calculation afterwards. I am asking because that would change the main score of each PSM.

[2017-04-20 10:20] OnlyBelter opened #2535 "Can TOPPView show chromatogram plot?"
TOPPView is really a great tool to visualize LC-MS data. I want to ask if it can show chromatogram plot, like below([from here](http://mzmine.github.io/features.html#3D)), so we can see TIC((Total Ion Chromatogram) ) and EIC(Extracted Ion Chromatogram)?

![chromatogram](https://cloud.githubusercontent.com/assets/16537617/25225940/c169f12a-25f5-11e7-8f35-c5ec4ceb31f7.png)

[2017-04-20 10:24] jpfeuffer commented on #2442
I looked a bit deeper into the code and it seems like everything is based on floats in there.
When they read the experimental precursor mz it is already a float.
https://github.com/sangtaekim/msgfplus/blob/949350676c7ad8acf9f2058e6eb6dbffb1291889/src/main/java/edu/ucsd/msjava/msutil/Spectrum.java#L75
Therefore my question on what precision is actually usually stored in the raw or mzML. Do floats s

[2017-04-20 10:35] timosachsenberg commented on #2532
I am pretty sure that most search engines just ignore the X.
I think we can just call for a vote:
1. fail with exception
2. print out warning (release)
3. print out warning (debug only)

One thing we might also need to consider is how we handle X in our theoretical spectrum generators. For example, it would be bad if, say 3 times the same peak is generated if two XX follow a normal amino acid.

I

[2017-04-20 12:12] hendrikweisser commented on #2532
I like this suggestion.

[2017-04-20 15:01] hroest commented on #2535
yes, it can but only if you provide it with a mzML file that is chromatograms only. Basically it will either show chromatograms OR spectra but there is no good way to do both (and also does not really make sense).

In case you simply want to visualize the TIC there is a button on top that does "Projections" and looks like a 2D map with blue (top) and red (right) peaks that you can use. In case you

[2017-04-20 16:01] hroest commented on #2532
ok, this sounds great but then I probably wont add it to #2530 any more since it is a larger change.

also when people have X in their fasta file, it is quite unlikely that they will get peptides with the right masses. Same for TSG, I dont think it should even work because how will you get a theoretical spectrum unless you have a mass. I dont think it makes sense for any search engine to write out

[2017-04-20 16:04] hroest commented on #2532
I think ignoring it, e.g. option 2 or 3 will not break things for the user if the input is slightly unexpected, I think option 1 is bad since you may have a single error in your fasta file and then OpenMS will just break and stop? People may not appreciate that.

[2017-04-20 17:59] isaphan commented on #2533
The pipeline has an FDR node after IDPep, followed by IDMerger before FIdoAdapter.

[2017-04-20 18:02] jpfeuffer commented on #2533
Ok so then the score is overwritten by the FDR calculation. You can use the IDScoreSwitcher to make the PosteriorProbability the main score again.

[2017-04-20 18:13] isaphan commented on #2533
OK. Can you confirm I got the parameters for IDScoreSwitcher  right (MS newbie here):
-new_score "Posterior Probability_score"
-new_score_orientation "'higher_better'"

[2017-04-20 20:59] #2320 closed

[2017-04-21 02:40] OnlyBelter commented on #2535
@hroest I find it in view 2D, thank you very much!

[2017-04-21 08:21] jpfeuffer commented on #2533
That seems about right. If it works it was probably correct :)

[2017-04-21 08:34] hendrikweisser commented on #2532
That wouldn't happen because FASTA file sequences are not parsed into AASequence.

[2017-04-21 09:16] mwalzer commented on #2532
Yeah, but people should also not appreciate their fasta files having an error. That can very well lead to further unexpected but (possibly) unobtrusive 'errors'.
So I would definitively not go for 3. Basically I tend to 1. but see 2. as the less intrusive way.

[2017-04-21 10:08] jpfeuffer commented on #2532
I agree with @hendrikweisser . X's in fasta database are not so much of a concern. I think you will find them quite frequently and they should not lead to an exception. Since they are usually not parsed into AASequences we should focus on what X's without masses mean in an identification context, where I would vote for at least (2).

[2017-04-21 10:36] #2535 closed

[2017-04-21 12:30] hendrikweisser commented on #2534
I've started working on this in a branch:
https://github.com/hendrikweisser/OpenMS/tree/fix-toppas-path-limit

So far I've addressed point 1 (by a compile-time check for the "_WIN32" macro).

Does anyone know where the code for the generation of the file names is (@cbielow)? It should be easy to address point 3 at least partially by not appending the same file extension repeatedly.

[2017-04-21 12:41] cbielow commented on #2534
https://github.com/hendrikweisser/OpenMS/blob/0dadb2fb66f4453ca5adae135b777a4b1506cdb3/src/openms_gui/source/VISUAL/TOPPASToolVertex.cpp#L1027

[2017-04-21 12:42] cbielow commented on #2534
roughly in that area :)

[2017-04-21 14:07] gPirkes opened #2540 "IsobaricAnalyzer results empty when used with MS3 data"
Hi,
I was trying to extract MS3 TMT10-plex quantification data from a mzML file, but the IsobaricAnalyzer doesn’t seem to catch it.
I don’t get an error when running the pipeline (it makes no difference whether I run it from TOPPAS or via ExecutePipeline) but I do get the following warning message:
`Warning: Empty iTRAQ container. No quantitative information available!`
The output of the IsobaricA

[2017-04-21 15:03] cbielow opened #2541 "MapAlignerIdentification without Reference yields very bad transformation"
If I run MapAlignerIdentification (default settings usingb spline, no reference set (0)) on a set of 5 files, I get trafo outputs like this (note this is a SINGLE trafo -- they all look similar):
![rplot_noref](https://cloud.githubusercontent.com/assets/6008722/25283118/f5e38cdc-26b2-11e7-8489-5fd852fc17ae.png)

However, if I set a reference index (1), then the trafo looks much nicer:
![rplot_with

[2017-04-21 15:29] hendrikweisser commented on #2541
Those are the data before the smoothing is applied. Can you generate and share the plots after smoothing for both cases (with and without reference)? Just run the MapAligner again on the aligned data.

[2017-04-21 15:43] amnamasood commented on #2175
Hello!
I was thinking that maybe if instead of making a new function I could convert the MSExperiment exp to consensus map like here: https://github.com/OpenMS/OpenMS/blob/develop/src/topp/FileConverter.cpp#L560
and then store the edta file.

[2017-04-21 16:30] jpfeuffer opened #2542 "Coding style not conform with cpplint?"
I tried to use a cpplint plugin for my IDE with our "cpplint.py --verbose=5" command and the file from /src/tests/coding/cpplint.py but it tells me for example, that if-else keywords and the brackets should go on the same line.

Am I missing a setting for cpplint?

If not, we should choose one or the other. Otherwise it confuses new developers.

[2017-04-21 16:34] cbielow commented on #2541
You mean that after smoothing, the b-spline will somehow find its way and these ghost traces do not matter, i.e. the result is stable? But is this indented behaviour? What if I use "interpolated" ?

[2017-04-21 17:20] jpfeuffer opened #2544 "Handling of optional parameters in ini files"
I am in the process of fixing a bug in KNIME where we do not write e.g. an optional input file to the ini file, when it is not given.
This results in inis like the following:
https://gist.github.com/jpfeuffer/7cee69eb5c269ccf91e0ee6cded5f97b

Unfortunately the tool (IDMapper) crashes because the spectra category is now basically empty.
Whose fault is it and which rules should we enforce from now o

[2017-04-21 17:37] hendrikweisser commented on #2541
I would hope so, but we should check to what extent that's true - by looking at the transformation after aligning.

Not intended, but I haven't seen this before, so it may be an unusual case.
It doesn't make sense to use the "interpolated" model with this algorithm.

[2017-04-21 18:21] isaphan commented on #2533
It never worked: it ran, but gave nonsensical results. The XML identification files that are saved after IDFilter somehow no longer include "Posterior Probability_score" in the UserParam list. They only contain target_decoy and description after IDFilter. Makes no sense to me.

[2017-04-21 19:58] jpfeuffer commented on #2533
Hmm.. that would be bad and should not be the case.
Can you somehow upload the idXML before the IDFilter step and the configuration of your IDFilter, so I can reproduce the problem?

[2017-04-21 20:04] jpfeuffer commented on #2544
Based on my own opinion that an empty section should not be an error, I prepared a fix to the ParamFile handling (where sections and items are added in strange orders).
BTW: I saw that we are abusing the ParamXMLFileHandler for reading our "databases" (like ResidueDB.xml). Not sure how to feel about that.

[2017-04-21 21:28] hroest commented on #2532
ok, I implemented suggestion (2) which seems to be what most people prefer in #2545 and we can always switch to throwing an exception - its just one un-comment action away

[2017-04-22 08:18] cbielow commented on #2544
TOPPBase should internally generate the full set of params and augment them with whatever the INI is providing. So why does this fail here? And empty is equal to missing... at least in theory.

[2017-04-22 09:19] jpfeuffer commented on #2544
It fails because it does not generate sections (per se) while reading a paramXML file. It first adds all the ParamEntries (items) and creates sections on the fly based on their prefixes. If a section does not have any entries it will not be added and the code fails in setSectionDescription. So more of a bug right? I already have a fix coming.

[2017-04-22 13:10] #2532 closed

[2017-04-22 13:34] timosachsenberg commented on #2241
[code]

[2017-04-22 13:51] amnamasood commented on #2411
Hello!
I have added some functionality to do [this](https://github.com/amnamasood/OpenMS/commit/1ae4159c1503fa33c10f92189bd6dbb25578f808)

Can you take a look and suggest further improvements?

[2017-04-22 22:41] cbielow commented on #2411
I've added some comments. Nice code so far, please open PR when ready :)

[2017-04-22 23:24] amnamasood commented on #2411
Thank you. I have read your comments. Will do something in the morning as it is very late here.

[2017-04-23 13:16] dmccloskey opened #2546 "Error building pyopenms from branch develop"
[pyopenms_error_2.txt](https://github.com/OpenMS/OpenMS/files/949733/pyopenms_error_2.txt)

[2017-04-24 01:32] timosachsenberg commented on #2241
@cbielow did you observe this error, too?

[2017-04-24 05:19] hroest commented on #2546
it seems that this is the problem

[code]

after some googling it seems that you simply dont have enough memory to compile it. Increase the RAM of your machine or use a swap file/partition and it will likely work. Note that it generally takes up to 6-8 GB of RAM to compile pyOpenMS directly.

[2017-04-24 08:05] dmccloskey commented on #2546
Ok thanks for spotting that. That is quite odd. The PC I was compiling it
on had 16 GB if RAM.  I will try compiling on a different machine to see if
that fixes the issue.

Douglas

On Apr 24, 2017 7:19 AM, "Hannes Roest" <notifications@github.com> wrote:

[2017-04-24 08:21] cbielow commented on #2241
not sure I compiled all the tests...

[2017-04-24 10:08] cbielow commented on #2541
I ran MA on the corrected results. The plot shows the first and second iteration for "auto-reference" vs. manual reference (file 1).

![rplot_comparealign](https://cloud.githubusercontent.com/assets/6008722/25332231/f9ed75ba-28e5-11e7-96f7-67a14db359d3.png)

With manual reference the alignment looks much cleaner.
To put this in numbers, I computed the standard deviation of RT1-RT2 for the second i

[2017-04-24 10:09] cbielow commented on #2541
dirty R code (so I dont misplace it)
[code]

[2017-04-24 10:50] hendrikweisser commented on #2541
Thanks for getting the data, Chris.

Some thoughts:
- The transformations in the last row of your plot look decent enough to me, so I would say the "yields very bad transformation" in the title is a bit harsh.
- Regarding the standard deviations: How many more data points do you have in the "no ref." case? That probably contributes to the difference.
- If you don't mind doing a bit more testing: W

[2017-04-24 11:10] hendrikweisser commented on #2541
Oh, another thing:
- Could you perform an alignment of corresponding runs after the reference-based and reference-free alignment, and plot those transformations? That should show how different the results actually are between the two approaches.

[2017-04-24 11:46] dmccloskey commented on #2546
That fixed the issue.  I ended up having to build it on a server with 32 GB
of RAM.

Thanks!

Douglas

On Mon, Apr 24, 2017 at 10:05 AM, Douglas McCloskey <dmccloskey87@gmail.com>
wrote:

[2017-04-24 11:58] cbielow commented on #2541
changed it.

50k vs 80k -- so 'b' is large here, i.e. it should not make any difference.
If I only use 50k (randomly sampled) for both,
[code]

full schedule at the moment. maybe by the end of the week. Would the idxmls help you? Uploading is fast.

    However, I still think it would be good to also have an option without a (single) reference run. (Because a: you bias your results towards that ru

[2017-04-24 15:03] hendrikweisser commented on #2541
But you're comparing apples and oranges - the (RTs of) IDs that are in common between two runs, and the (RTs of) IDs that one run has in common with any other. Of course the deviations will be greater in the latter case.

Full schedule here as well. ;-)

In practice that may be correct in most cases, but it's not necessarily true. There's generally not much point in re-sequencing the same peptides

[2017-04-24 15:34] cbielow commented on #2541
I see your point, but:
 - that's the way you compute the 'reference' -- nothing I can do about it
 - you're saying that only FeatureLinking will tell who's better? But then again, alignment should be transitive, right? I.e. if A aligns well to B, and A well to C, then B and C should align somewhat(!) nice as well, right? so I guess, reference will win FeatureLinking here against reference-free. An

[2017-04-24 15:48] hendrikweisser commented on #2541
No, I wasn't saying that. (I wasn't thinking about feature linking at all.)
I'm not even saying that the reference-free approach is better on your data. I'm just not sure how much worse it is. And I'm not sure if it will be worse in most cases. (If you align B and C to A and then compare the alignment of B and C, will that be better than the reference-free alignment?)

We should really do that bef

[2017-04-24 16:46] jpfeuffer opened #2549 "FFSuperHirn segfaults on build machines"
I wanted to fix the ...XMLFile_tests from e.g. http://cdash.openms.de/testDetails.php?test=39575898&build=220777
 where I wanted to do a "make install" to overwrite the global outdated OpenMS/share.

However, FFSuperhirn segfaults when you execute the binary (e.g. when it should print the parameter documentation etc).

MacOSX Lion. gcc 5.2.

gdb StackTrace:
[code]

Any ideas?

[2017-04-24 17:15] jpfeuffer commented on #2549
A thing that I found when googling for the initialize() method of xerces:
When do we actually call terminate() for a generic XMLFile? We do in the MZIdentMLDOMHandler but I did not find it anywhere else. Probably will not solve the problem, though.

[2017-04-24 17:49] isaphan commented on #2533
my bad, the Posterior Probability_score is there for non-decoy hits. My problem is that the strongest Mascot hit does not appear with a high score, let alone in the final protein quantification output. I am analyzing a TAP pulldown experiment and my bait should come up top in the experiment and not at all in the control. Well, it does not appear at all in the Protein Quantifier output.

[2017-04-24 17:57] jpfeuffer commented on #2533
Okay. But even that should not be the case if IDPosteriorErrorProbability was performed on the whole set of PSMs.
Since this is getting more complex: Can you upload the workflow?

[2017-04-24 19:35] isaphan commented on #2533
Workflow attached (hope this works, the form is not accepting this file format). Input Node 167 is the output from the Mascot online adapter.

[2017-04-24 20:07] jpfeuffer commented on #2549
I give up. Could basically be anything on that machine with its dozens of compilers and hundreds of different installs of OpenMS.

[2017-04-24 20:12] jpfeuffer commented on #2533
Unfortunately it does not seem to work via github. Can you upload it somewhere and just paste the link?

[2017-04-24 20:34] jpfeuffer commented on #2508
Does the problem still exist? Did you install the plugin from the stable update site or trunk?

[2017-04-24 20:51] jpfeuffer commented on #2505
Are both of these problems specific to the usage in KNIME?
@cbielow

[2017-04-24 21:38] jpfeuffer commented on #2505
[code]

[2017-04-24 21:39] jpfeuffer commented on #2497
First thing again: You say KNIME. Is it reproducible outside of KNIME? Plugin version: Stable or trunk?

Another thing is, that during refinement it checks for point mutations (if activated).

We really need to output the actual used parameters of XTandem if possible (see e.g. the output, parameters option). We could do this in debug mode only or add another parameter to the adapter.
I still haven

[2017-04-24 21:46] jpfeuffer commented on #2505
Can you try adding N-term Acetylation to the list of modifications in your configuration?

[2017-04-24 22:04] jpfeuffer commented on #2505
Maybe in KNIME we still read the default_input file?
It says there:
```<note type="input" label="refine, potential N-terminus modifications">+42.010565@[</note>```

[2017-04-24 22:05] jpfeuffer commented on #2497
Maybe in KNIME we still read the default_configuration file?
It says there:
```<note type="input" label="refine, unanticipated cleavage">yes</note>```

[2017-04-24 22:05] jpfeuffer commented on #2497
That might be it. See the referenced issue.

[2017-04-25 06:20] cbielow commented on #2549
this looks like a wrong dynamic lib being used. Which libs are dynamic on MacOS?

[2017-04-25 07:39] julianu commented on #2505
Both problems occurred in KNIME, whether they are specific, I cannot tell. I used the stable versions this time.
The refinement was not turned on, and in the output file the line you highlighted was under the unused terms.

I could try turning on N-term acetylation, but actually I expect it to be considered by Tandem as default, as "protein, quick acetyl" is on by default. Likewise the "protein, q

[2017-04-25 07:47] julianu commented on #2497
I used the stable KNIME releases.
The "refine, unanticipated cleavage" is, at least in my case, in the unused parameters section. Nevertheless, will make a test run with X!Tandem alone and come back here.

[2017-04-25 08:31] hendrikweisser commented on #2549
See also here: https://github.com/OpenMS/OpenMS/issues/2094#issuecomment-239151573
(I've had this problem for a long time on my Mac.)

[2017-04-25 08:43] hendrikweisser commented on #2505
Have you tried it with a current nightly version? I think your problem is the same that I had in #2405, but that should be fixed in the meantime.

When you use the new version of the XTandemAdapter, can you set "default_config_file" to the empty string, so we can exclude that errant settings from this file are causing problems?

With a current OpenMS version, that definitely shouldn't be necessary

[2017-04-25 09:06] jpfeuffer commented on #2549
Thanks for your input guys. I agree that it might be a linking issue.
Xerces was built static and the correct version from the gcc-contrib is included according to the cmakefiles. Dynamic are OpenMS/Swath and some more. I will maybe have a short look again.

[2017-04-25 09:11] jpfeuffer commented on #2549
The bad thing is the external library status of Superhirn. Since it has its own Cmake files it tries to find its own libraries again and is prone to choose wrong ones.
Unfortunately 1 hour looking at commands in Cmakefiles did not reveal an obvious error.

[2017-04-25 09:16] cbielow commented on #2549
have you tried looking at the executable's linked libs directly? `otool -L <path-to-binary>` and compare FFSH vs. something that runs?

[2017-04-25 11:00] julianu commented on #2497
Ah, reading the manual helps:
http://www.thegpm.org/tandem/release.html

Cyclone  (2011.12.01) release:
`Additional testing for adventitious cleavage at Asp-Pro residues. These tests are made for all enzyme cleavage types, except [X]|[X] (cleavage at all residues). Testing Asp-Pro cleavage does not affect the "missed cleavage" count in an analysis.`

At least for my cases, the weird cleavages were

[2017-04-25 11:02] jpfeuffer commented on #2497
Ah great. That also explains one of @cbielow's cleavages. What do you mean by unused parameters section? Did you put it manually there?

[2017-04-25 11:12] jpfeuffer commented on #2549
Got it! otool was actually the same. But I concentrated on xerces since this is where it fails. The problem was that we include xerces statically in the dynamic libOpenMS, however somehow CMake links xerces into libSuperHirn again and this (I think) led to the crash. Not sure why though.
I went to the link.txt in the CMakeFiles of SuperHirn and removed xerces-c.a, rebuilt and executed the binary a

[2017-04-25 11:16] jpfeuffer commented on #2549
Yes. I can reproduce the behaviour.

[2017-04-25 11:43] cbielow commented on #2497
nice. Thanks for the heads up.

Any ideas on our policy of what to do with these Asp/Pro peptides?! Discard automatically or accept automatically? or leave as it is (not favourable, since user will be even more confused).

[2017-04-25 11:46] julianu commented on #2497
I would vote for leaving these peptides in the results. It is a feature and influences the scoring of X!Tandem. Only, it should be documented better and probably there is a (hidden) why to turn the testing off.

@jpfeuffer: With the unused parameters section I just meant the respective section in the output. So even though the "refine, unanticipated cleavage" might be yes, it should not have been

[2017-04-25 11:59] jpfeuffer commented on #2549
http://stackoverflow.com/questions/31503597/cmake-link-a-shared-library-to-static-libraries
https://cmake.org/pipermail/cmake/2016-May/063400.html
This could be helpful in implementing this.

[2017-04-25 14:09] jpfeuffer opened #2551 "Executing tools with -test on consensusXML of files with same name"
The -test options seems to strip paths from the maps in consensusXML.
If you have maps with the same filenames but different paths it warns you with
[code]
Maybe we change the behaviour of the -test flag or disable the warning during testing.

[2017-04-25 15:06] julianu commented on #2497
All right, here the summarized answer from Ron Beavis:

X!Tandem does not only check the first aminoacid, but does it like this:

[2017-04-25 15:12] jpfeuffer commented on #2497
Ah okay. That explains the first cleavage then. If this is not documented at XTandem, we should do it clearly in our Adapter. There are also some comments from Ron Beavis in our Adapter code. We should compile them and write something to the Adapter docu.
And we probably need to discuss how we recommend to handle it. It has of course implications for PeptideIndexing.

[2017-04-25 15:23] jpfeuffer commented on #2540
Hey,

from how I understand the code and documentation, the tools is quite specific to MS1/MS2 labeled quantification.
It goes through the list of spectra from top to bottom, remembers the last MS1 spectrum, assumes it is the precursor and processes all following MS2 spectra with that assumption.

I am not sure if you can preprocess your data in such a way that it works.
Maybe removing MS1 and set

[2017-04-25 15:27] hendrikweisser commented on #2540
Why is there a connection to the MS1 spectrum? Isn't all the relevant information in the MS2?

[2017-04-25 15:28] jpfeuffer commented on #2540
It seems to look at the precursor purity. MAybe one can turn it off?
https://github.com/jpfeuffer/OpenMS/blob/e857a2ad01aceb9c73a8ffdfb8adbbae963b2c34/src/openms/source/ANALYSIS/QUANTITATION/IsobaricChannelExtractor.cpp#L453-L453

[2017-04-25 17:07] hroest commented on #2549
@jpfeuffer I believe this was done as a "test-case" for modularizing OpenMS with the idea that with the infrastructure in place we could later on create multiple smaller independent libraries using the same approach. This has not happened so far.

However, I agree that maybe having Superhin choose its own libraries is not the best approach, but if the search routines are the same then also the sam

[2017-04-25 17:10] hroest commented on #2540
why not just remember which was the last spectrum with a MS-level one higher than the current one, basically keep a list of the last MS1, the last MS2, the last MS3 etc encountered?

PS: replacing MS3 with MS2 will only work if you replace the `value` of the CVParam `1000511` from 3 to 2 which is basically what OpenMS reads when setting the MS-level.

[2017-04-25 17:12] jpfeuffer commented on #2549
aha. Yes makes sense in the context of xerces and its intialization and memory handling routines (according to my very basic knowledge acquired yesterday).

[2017-04-25 17:14] hroest commented on #2549
so I wonder why this only happens on OSX, is this the only system we statically link xerces?

[2017-04-25 17:15] jpfeuffer commented on #2549
Sorry for editing. I was wondering, too.

[2017-04-25 17:52] jpfeuffer commented on #2488
I guess my comment was not really related but just a hickup of my Finder.
But the quarantine problem is a real one and quite serious. I am not sure if every user trusts us enough to go to the command line and remove all the quarantine flags from our apps.

[2017-04-25 20:13] jpfeuffer commented on #2488
I guess we have to go through the full process of code signing our app.
Of course this could break automation because it seems heavily XCode dependent. I am still so disappointed that you can't even install XCode from the command line only.

[2017-04-25 20:13] jpfeuffer commented on #2488
https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/DistributingApplicationsOutside/DistributingApplicationsOutside.html#//apple_ref/doc/uid/TP40012582-CH12-SW5

[2017-04-25 21:34] hroest commented on #2488
we recently installed the 2.1 OpenMS on an OSX 10.12 and ran into the same issues. Interestingly what worked was to fire up the TOPP shell and launch TOPPView from there. Also the command above fixed the issue here.

[2017-04-26 00:39] hroest commented on #2541
just as a comment here: In the TRIC algorithm, I also do the alignment tree-like and it is generally not a big problem to compute the tree even though it is O(N^2) if the actual operation you are performing is fast. In my case I basically calculate a distance matrix that is simply `1-R^2` for all intersecting ids, calculating that is pretty fast and allows for linear shifts but punishes runs that

[2017-04-26 06:07] timosachsenberg commented on #2343
Non-critical exception:  PeptideEvidence of 'sp|P60709|ACTB_HUMAN' has invalid protein start and end annotations (start/end/protein length): 1059/1071/375

[2017-04-26 06:08] timosachsenberg commented on #2343
[code]

[2017-04-26 06:09] timosachsenberg commented on #2343
[code]

[2017-04-26 06:11] timosachsenberg commented on #2343
ok the error seems not MzTabExporter related as you can see. The start and end positions are outside of the protein sequence that got annotated. Any idea why this happens?

[2017-04-26 09:15] jpfeuffer opened #2555 "Pubchem support for AccurateMassSearch"
In the process of the KNIME integration of MetFrag, it would be nice to be able to search
PubChem in AccurateMassSearch to filter candidates for MetFrag.
We discussed possible implementations:
- REST API, not so complex but limited amount of calls before DDOS blocking
- PostgreSQL, existing 300GB Docker container in Halle but additional dependency?
- SQLite, we would need to create such a DB, no n

[2017-04-26 09:26] jpfeuffer commented on #2343
aa_before annotations and PH references seem to be out of order.
PH_514 for example is 1038 chars long.

[2017-04-26 09:27] jpfeuffer commented on #2343
so this should be last in the PH refs. Belongs to aa_after = 1034.

[2017-04-26 11:42] lars20070 commented on #2343
Here the corresponding [`idXML`](https://gist.github.com/lars20070/765aa5552bac4f944453d41619f1d1c8).

[2017-04-26 15:26] jpfeuffer opened #2556 "mzXML Validation"
Does not work anymore. On nightly linux and nightly MacOS.
[code]
It changed with @cbielows changes to the schema but validates fine on Travis, on @cbielows PC and online.
Possible errors:
1) Xerces version
2) Xerces double linking (I tried the same fix as for the FeatureFinder; did not help)
3) Xerces parser incorrect deallocation
- What happens if there is an Exception?
https://github.com/OpenMS

[2017-04-26 15:36] jpfeuffer commented on #2556
OR: xerces was built with no or only basic netAccessor support. I will check.
http://xerces.apache.org/xerces-c/build-3.html

[2017-04-26 15:45] jpfeuffer commented on #2556
Yes, by default on mac and linux we build xerces in the contrib with --disable-network.
Why?

[2017-04-26 15:53] jpfeuffer commented on #2556
The old schema had no online includes, I think.

[2017-04-26 16:51] hroest commented on #2555
We already have a SQLite dependency in OpenMS since a few weeks, so that may be a good solution. I dont see how that could be slower than something over the web, e.g. a rest api so I dont see a performance downside. It seems like they offer SDF and XML ftp://ftp.ncbi.nih.gov/pubchem/Compound/CURRENT-Full/

[2017-04-26 17:02] jpfeuffer opened #2557 "Error handling spaces in paths in the course of a workflow"
KNIME was contacted by someone who described the following problem:
![image007](https://cloud.githubusercontent.com/assets/8102638/25446630/6656af96-2ab2-11e7-8675-9ad2c7c752eb.png)

Executing the workflow in a path like C:/Users/user/MS data/20170202/ works fine. But if you open the results (i.e. idXMLs) it in TOPPView afterwards, it crashes with:
[code]
I assume OpenMS stable in KNIME 3.3.2.
I g

[2017-04-26 21:07] christineyyeh opened #2558 "Build problems on OSX 10.12"
I just ran into a suite of problems compiling the developer version of OpenMS on OS X 10.12.

**1. The first problem was finding the right version of qt.**
I found out that OS X 10.12 has retired qt4 due to security issues and you cannot access it with:

`$ brew install qt`

You can now only access qt4 in cartr/qt4/qt@4 through homebrew with the --force flag. Since I then had both versions of qt,

[2017-04-26 21:13] christineyyeh commented on #2558
The issue seems to be that it first looks in `/usr/local/include` for libraries and then looks for libraries in the contrib folder - so if boost is also installed there its a big issue (see the `-isystem /usr/local/include` below which comes first).

[code]

this was using the following cmake command

[code]

which probably should not include /usr/local in the search paths

[2017-04-26 23:39] isaphan commented on #2533
https://www.dropbox.com/s/rp9o7l6xtn5tcxy/lfq_and_peptide_identification_mascot_ampylation.knwf?dl=0

[2017-04-27 08:51] jpfeuffer opened #2562 "Enforce certain include/linking orders"
Assume you have boost and eigen installed in the system paths (let's say /usr/local/include).
Also both in the contrib (/Users/user/contrib-build/include).
If they do not provide subdirectories (which some of them do not), it means that whatever library is included first in CMake:
https://github.com/jpfeuffer/OpenMS/blob/2080ba2f015ab28d0b6e31063fc2f181a8edae75/src/openms/CMakeLists.txt#L118-L118

[2017-04-27 08:53] jpfeuffer commented on #2562
Maybe we also need to force our contrib to lay the libraries/includes into subdirectories.

[2017-04-27 08:56] jpfeuffer commented on #2558
Hey Christine,

thanks for your extensive report. We are aware of some of the issues but unfortunately do not have a **clean** macOS 10.12.2 to reproduce these errors and give instructions, yet.
**QT**: We are in the process of upgrading to QT5 without WebKit so we hope to be able to sort this out soon. Similar issues arise on Linux where they dropped support, too.
**Linker order**: I agree with y

[2017-04-27 09:12] oliveralka commented on #2558
I ran in this issue as well, an easy solution is to uninstall boost in brew if possible and use the contrib for the building process. This can be seen as an alternative work around but not as final solution.

[2017-04-27 09:13] jpfeuffer commented on #2533
Thanks.
- Can you set add_decoy_peptides to "true" in the FalseDiscoveryRate node? With the current settings Fido needs target/decoy information for calibration. (Recommended)
- You probably need to use different q-value cutoffs for Fido and quantification. Only mild filtering should applied before Fido (let's say all peptides with 10% posterior probability).
- This is not the labelfree_with_prote

[2017-04-27 09:19] jpfeuffer commented on #2558
Can someone try the following brew option:
`option "with-icu4c", "Build regexp engine with icu support"`

[2017-04-27 09:20] jpfeuffer commented on #2558
And you probably should make sure that boost is not built with c++11 std.

[2017-04-27 10:14] hendrikweisser commented on #2540
I don't think that's even necessary in this case. If understand correctly (@cbielow?), the precursor purity should always derive from the MS1 spectrum. But calculating it should be optional in any case.
I think it should be sufficient to change on which spectrum level the reporter ions are looked up.

[2017-04-27 10:44] cbielow commented on #2562
where is the problem here? As far as I understand, `include_directory()` is always preferred over standard system includes. Hence, if we include the contrib like that, our contrib will be preferred (if the libs were build) -- and that sounds like a reasonable thing to do.
Is there a case where this goes wrong?

[2017-04-27 10:48] cbielow commented on #2556
then I guess removing the flag is the best option?!
I guess if someone wants to run `FileInfo -v ...` on a HPC cluster without internet access, thats a problem, but we'd have to merge all dependencies in our xml schemata in order to avoid this... this seems wrong.

[2017-04-27 10:52] jpfeuffer commented on #2562
Ok, I try again. Not sure if there is really a problem but I will try :)
Assume you have boost only in system and boost is first in the EXTERNAL_INCLUDES of the OpenMS library.
But you also have eigen in system. AND in contrib. You want to use eigen from contrib.
The problem is, if boost and eigen are not in subdirectories under /usr/local/include,
then /usr/local/include is included when boost is

[2017-04-27 11:14] gPirkes commented on #2540
I now tried:
- keeping all spectra, converting MS3 to MS2
- keeping all spectra, converting MS2 to MS1 and MS3 to MS2
- removing MS1, converting MS2 to MS1 and MS3 to MS2
- removing MS2, converting MS3 to MS2
- removing MS1 & MS2, converting MS3 to MS2

In all of the above cases I filtered with a FileFilter and replaced the `ms level` CVParam with a `sed` command.
FileInfo on any of the files resu

[2017-04-27 11:38] Stortebecker opened #2563 "IDFileConverter detects the input type according to the file extension"
Therefore, the tool is not easy to integrate into frameworks like Galaxy. Integration would be improved by an additional param where the input file format can be determined. Or is it also possible to read the file format from metadata somehow?

[2017-04-27 12:14] cbielow commented on #2540
hey Georg,
could you send a few dozen scans of your mzML file please. I'll have a look.

[2017-04-27 12:15] cbielow commented on #2540
e.g. FileFilter -in in.mzML -rt 1000:1100 -out chunk.mzML

[2017-04-27 12:22] cbielow commented on #2563
IDFileConverter will inspect the first lines of the file to determine the file type if the extension is unknown!
e.g.
[code]

This might not work for every type, since it might still be ambiguous.

So what file types are we talking about in your case?

[2017-04-27 12:47] blankclemens commented on #2563
As an example: A `mzid` file starting with

[code]

Does not work ending in `.dat`, but runs without problems ending as `.mzid`.

[2017-04-27 13:06] cbielow commented on #2563
ouch. That should work,
The reason it does not is rather 'unfortunate': OpenMS checks for `<mzIdentML...>` with a lower-case 'mz...'
Most tools seems to be writing `<MzIdentML....` which seems correct according to the schema.

Fix coming up.

[2017-04-27 13:08] gPirkes commented on #2540
Hi,
here you go: https://drive.google.com/file/d/0B0SZYkAHoYvzSHhfMzFwNDE3SEU/view?usp=sharing
hope this helps!

[2017-04-27 13:31] cbielow commented on #2563
just in case: XML is case sensitive (see https://www.w3schools.com/xml/xml_syntax.asp)
schema: http://www.psidev.info/sites/default/files/mzIdentML1.1.0.xsd

[2017-04-27 13:33] blankclemens commented on #2563
Thanks, good to keep in mind! :)

[2017-04-27 13:46] cbielow opened #2564 "SQLite not found"
CMake errors when configuring OpenMS-dev
[code]

only when I explicitly use

`cmake -DSQLITE_INCLUDE_DIR=c:\dev\contrib_build\include\sqlite .`

it configures successfully.
This should not be required (all the other contrib libs are found when simply giving the contrib include by CMAKE_PREFIX_PATH (which is what I did).

[2017-04-27 14:02] jpfeuffer commented on #2564
It might be the subfolder. FindSQLITE seems to only search directly in the CMAKE_PREFIXES (e.g. contrib-build/include).
Either try not installing it into the subfolder or add another path in the Find module to search for. (If this was the reason)

[2017-04-27 14:21] cbielow commented on #2564
during linking i get:

[code]

[2017-04-27 15:32] #2563 closed

[2017-04-27 16:22] timosachsenberg commented on #367
is this still relevant?

[2017-04-27 17:15] Stortebecker commented on #2563
Cool, thanks for the quick fix @cbielow !

[2017-04-27 18:43] hroest commented on #2241
seems like travis is not ready yet:

https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-trusty

they have qt4-default but not qt5-default ...

[2017-04-27 18:51] hroest commented on #2241
maybe we can use this solution: https://github.com/travis-ci/travis-ci/issues/6503#issuecomment-250403773

[2017-04-27 19:10] isaphan commented on #2533
As a naive user, this is where I wish there was a parameter called 'q-value cutoff'. However, reading between the lines of the OpenMS tutorial, I am guessing you mean I should set IDFilter.score.pep = 0.1 ?

I'm not sure I understand what you mean. In the labelfree_with_protein_quantification workflow, default values look exactly the same as in the lfq workflow: FalseDiscoveryRate.add_decoy_peptid

[2017-04-27 19:55] cbielow commented on #2563
thanks for reporting :)

[2017-04-27 22:51] hroest commented on #2564
maybe @grosenberger can comment

@cbielow can you see whether the variable ${SQLITE_LIBRARY} is set in cmake and whether it is set correctly?

[2017-04-27 23:02] jpfeuffer commented on #2533
Regarding the first issue, I agree with you that it should be more straightforward to filter for FDR and we are thinking about adding this cutoff directly to the FDR tool. Would you as a user find this a reasonable way to do this? On the one hand it makes life easier for starting users but on the other it adds some kind of redundancy to the options of different tools.
Concerning the second issue,

[2017-04-28 00:52] timosachsenberg commented on #2343
@lars20070 are you sure this is the corresponding idXML? I searched for QEYDESGPSIVHR but did not find any PeptideHit with that sequence

[2017-04-28 01:38] isaphan commented on #2533
I guess you could mention in the FDR tool help that to set the q-val cutoff one needs to set IDFilter.score.pep and a value of 0.01 for score.pep really means FDR = 1%? It's very convoluted.  I am merely trying to obtain similar results that I got from MaxQuant/Perseus and Distiller/Scaffold.  No luck so far.

Alas, after setting FalseDiscoveryRate.add_decoy_peptide=True and IDFilter.score.pep = 0

[2017-04-28 04:19] hroest commented on #2562
even worse, from what I have seen is that the compiler will include the *headers* from /usr/local/include but try to link against the files in your contrib. At least this is what happened in #2558 and was no fun

[2017-04-28 06:27] cbielow commented on #2564
//Path to a library.
SQLITE_LIBRARY:FILEPATH=C:/dev/contrib_build/lib/sqlite3.lib

seems correct and is also showing up in OpenMS_LIBRARIES:INTERNAL

However
[code]
i.e. the lib exports nothing...

[2017-04-28 06:49] hroest commented on #2564
strangely it worked yesterday: http://cdash.openms.de/index.php?project=OpenMS&date=2017-04-27

but today the windows builds are broken... :-(

[2017-04-28 07:24] cbielow commented on #2564
but we did not change anything in the build system. @jpfeuffer ideas?

[2017-04-28 07:29] cbielow commented on #2564
I have a fix for the missing symbols coming up. The way that sqlite is trying to figure out the dll-exports from its own .c file is just breathtaking:
[code]

i.e. they are shipping an executable just to do some regex magic.
And of course that fails for newer versions of VS since the schema of mangled names changed (I guess).

[2017-04-28 07:51] cbielow commented on #2564
https://github.com/OpenMS/contrib/pull/40

[2017-04-28 09:11] PaulPyl opened #2569 "Getting rid of mzML parsing warnings by "fixing" the file"
Hi there,

I have some mzML files that generate a lot of warnings of the following types when processed with the command line tools, I observed this in e.g. the OpenSWATHWorkflow tool, the XTandemAdapter as well as in the FileConverter.

I was wondering if there is a way of fixing this by applying the suggested changes and I tried to use the FileConverter with -in xxx.mzML.gz and -out yyy.mzML.gz

[2017-04-28 10:10] jpfeuffer commented on #2564
Yes guys, I did a change on Windows yesterday. The errors in "update" showed that he was not git pulling the latest changes.
So now the Win builds reflect the current state again. Let's see if your fix fixes it.

[2017-04-28 10:14] jpfeuffer commented on #2564
But do I have to build all 4 contribs again? :(

[2017-04-28 10:17] cbielow commented on #2564
unfortunately, yes.
But `cmake -DBUILD_TYPE=SQLITE .` should suffice -- its really fast

[2017-04-28 12:52] jpfeuffer commented on #2564
Should be installed. Let's have a look.

[2017-04-28 17:41] hroest commented on #2569
Hi Paul

the first issue is an error in OpenMS (more like an omission) and is addressed by #2570 but dont worry, its not in any way changing how the software works

The second issue is likely a problem of the software used to convert which does not adhere to the PSI standard. You should probably write to them but maybe you can copy-paste a single spectrum first to investigate where the problem rea

[2017-04-28 18:06] hroest commented on #2558
Christine is a student working with me here in Stanford and installing OpenMS unfortunately required quite some efforts. I dont think uninstalling boost is a good solution as you may need it for other software that you also want to compile. We should be able to figure out a way to have boost installed and still use the correct headers.

On Linux that works pretty well, I have reorganized the first

[2017-04-28 18:10] hroest commented on #2562
I wrote a lengthy analysis over here https://github.com/OpenMS/OpenMS/issues/2558#issuecomment-298067569 it really looks like a CMake issue on OSX only.

I wonder where the extra include come from but likely they are in `QT_INCLUDES` -- can somebody on a OSX print out that variable why configuring? Also maybe we can solve the issue by simply moving the QT_INCLUDES to the end of include list?